 <div class="about-details">
    <h2> {{site.user_description}} </h2>
  <img src="./assets/img/logo/LXAI-logo-black.png">
  
  <section id="goals">
      <p>The LatinX in AI Coalition (LXAI) bridges communities, academics, industry, and politicians working to further AI innovation and resources for LatinX individuals globally. We host research workshops at AI academic conferences, drive and support research, development, and infrastructure programs to boost innovation and capabilities of Latin Americans working in Artificial Intelligence. </p>
      <h3>Tenents</h3>
    <ul>
      <li>Increase representation of Latinx in Artificial Intelligence</li>
      <li>Improve access to education and resources in AI engineering</li>
      <li>Improve awareness of the long and short term effects of artificial intelligence</li>
      <li>Increase communication between companies and LatinX AI engineers and researchers</li>
      <li>Ensure transparency and accuracy of latinx culture and voice in data representations</li>
    </ul>
  </section>
  <section id="why-example">
    <h2>Why Now?</h2>
    <P>Launched in January 2018, leaders from organizations in Artificial Intelligence, Education, Research, Finance, Community and Social Impact Non-Profits banded together to create a group that would be focused on “Creating Opportunity for LatinX in AI.”</p> 
      
    <p>Artificial Intelligence has the potential to displace workers of marginalized populations including those of Latinx origin. AI is already perpetuating social bias and prejudice because it lacks representation of LatinX professionals in the AI industry.
    </p>

    <p>The LatinX in AI Coalition is fiscally sponsored by the <a href="https://www.accel.ai">Accel AI Institute</a>, 501(c)3 Non-Profit. Support our work by donating to our <a href="https://opencollective.com/latinx-in-ai-research">Open Collective</a>.</p>
    <hr>
  </section>
