<!--
Redirecting to App prototype
-->

<meta 
  http-equiv="refresh" 
  content="15; 
           URL='https://www.lxai.app'" 
/>

<div class="container app-info">
<h1>LXAI Colab App</h1>
<p>You are cordially invited to join the new LatinX in AI (LXAI) Forum and Directory hosted at <a target='_blank' href='https://www.lxai.app'>www.lxai.app</a>. We have built this new platform in order to better facilitate communication and resource sharing between our members!</p>
<p>We have begun the migration of all current users and archived posts from our prior google group and will be cleaning old posts of inconsistencies from the transfer, so please bear with us in this transition. <strong>The current private google group forum and public directory on our static website will be archived and closed!</strong></p>
<p>We've replicated most of the google groups forum features, while adding additional functionality, including user-profiles, direct messaging between connected members, new member invitations, and a public and private directory of our members as our MVP. Future development will include more advanced features and functionality to host events and facilitate research mentoring and collaboration utilizing this platform.</p>
<p>Feel free to share with us your thoughts on the platform and if you find bugs or think of ways in which we can improve, email engineering@lxai.app. Thank you!</p>
</div>