<h2>Case Studies</h2>
    <h4>An oncoming wave of AI Technology is permeating through the latinx community now and in the coming years.</h4>
    <div class="user-projects">
      <div class="images-left">
        <img alt="marquez" src="/assets/img/about/marquez-nasa.jpg" />
        <h6 class="photo-credits">Featured #LatinXinAI, <a href="https://spacescience.arc.nasa.gov/basalt/people/jessica-marquez/">Jessica Marquez, Human-Automation/Robotics Engineer, NASA Ames Research Center</a></h6>
      </div>
      <div class="contents-right explain">
        <h3> Service Workers</h3>
        <p>The U.S. Bureau of Labor Statistics reported that Latinas—those of Hispanic origin, experience one of the largest gender wage gaps among all women, earning less, on average, than white; black; Asian; Pacific Islander or Native Hawaiian; and American Indian or Alaska Native women. While white, non-Hispanic women earn around 79 percent of the annual salary of white men who work full-time, <strong>Latinas working full-time, year-round make only 54 percent of white men’s annual earnings.</strong></p>

        <p>Latinas are more likely to work in occupations that pay less, with one in three employed in service occupations. Median weekly earnings in service occupations represent less than half of the earnings
          of workers in management, professional, and related occupations.</p>
        
          <p>Automation and AI will reduce the demand for these low skill, low wage service positions, forcing latinas to switch occupations or upgrade skills -- a greater challenge when you're already earning less than your peers.</p>
          
      </div>
    </div>
    <div class="user-projects">
        <div class="images-right">
          <img alt="truck" src="/assets/img/about/truck_drivers.png" />
        </div>
        <div class="contents explain">
          <h3> Autonomous Trucks</h3>
          <p>Out of a population of 3.5 million truck drivers in the U.S. – 3.1 million of whom are commercial driver’s license (CDL) holders – some 38.75% are minorities according to data compiled by the American Trucking Associations (ATA).</p>

          <p>Hispanic men make up the 2nd largest demographic of the truck driver population at 14.6%, based on 2014 data. Motor carriers are embracing and increasing the diverse ethnicity of the current workforce to fill their gaps in employment.</p>

          <p>Sixty-five percent of the nation’s consumable goods are trucked to market. With full autonomy, operating costs would decline by about 45 percent, saving the US for-hire trucking industry between $85 billion and $125 billion. These efforts towards automation at every step in the supply chain logistics, while great for a companies bottom-line, will force hispanic men to switch occupations or upgrade skills</p>
          
          <p><strong>It's imperative to ensure our community has a voice in the oncoming Autonomous Trucking revolution.</strong></p>
        </div>
      </div>
      <h3>These examples are just a few of the many ways in which the Latinx community and laborforce will be affected by Artificial Intelligence research, engineering, and automation. To learn more, check out our <a href="https://medium.com/accel-ai/join-us-for-the-upcoming-latinx-in-ai-coalition-town-hall-meeting-264f6a633c41">medium publication.</a></h3>
  </section>
</div>
<hr>