<section class='dark-style'>
    <div id='contact' class="header-icons">
        <a aria-label="Send email" href="mailto:latinxinai@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Linked In" target="_blank" href="https://www.linkedin.com/company/latinx-in-ai/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="Github" target="_blank" href="https://github.com/latinxinai"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="Medium" target="_blank" href="https://medium.com/latinxinai"><i class="icon fa fa-medium" aria-hidden="true"></i></a>
        <a aria-label="Facebook" target="_blank" href="https://www.facebook.com/latinxinai/"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="Twitter" target="_blank" href="https://twitter.com/_LXAI"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
    </div>
</section>