 <div class="user-details">
  <h1> Ecosystem </h1>
  <h3>Global Network</h3>
</div>
<div class="join-buttons">
  <a class="project-link" target="_blank" href="https://www.lxai.app">Join Us!</a>
</div>

  <div class="sponsors">
    
    <div class="responsive">
      <div class="sponsors-gallery">
        <a target="_blank" href="http://www.latinxinai.org/"><img src="/assets/img/logo/LXAI-logo-black.png"></a>
      </div>
    </div>
    <div class="responsive">
        <div class="sponsors-gallery">
        <a target="_blank" href="https://www.accel.ai/"><img src="/assets/img/ecosystem/high-res.png"></a>
        </div>
    </div>
    <div class="responsive">
        <div class="sponsors-gallery">
        <a target="_blank" href="https://neurips.cc/"><img src="/assets/img/ecosystem/neurips-logo.jpg"></a>
        </div>
    </div>
    <div class="responsive">
        <div class="sponsors-gallery">
        <a target="_blank" href="https://icml.cc/"><img src="/assets/img/ecosystem/icml-logo.jpg"></a>
        </div>
    </div>
    <div class="responsive">
        <div class="sponsors-gallery">
        <a target="_blank" href="https://iclr.cc/"><img src="/assets/img/ecosystem/iclr-logo.png"></a>
        </div>
    </div>
    <div class="responsive">
        <div class="sponsors-gallery">
        <a target="_blank" href="https://aaai.org/"><img src="/assets/img/ecosystem/aaai.png"></a>
        </div>
    </div>
    <div class="responsive">
        <div class="sponsors-gallery">
        <a target="_blank" href="https://blackinai.github.io/"><img src="/assets/img/ecosystem/blackinai.jpg"></a>
        </div>
      </div>
      <div class="responsive">
        <div class="sponsors-gallery">
        <a target="_blank" href="https://wimlworkshop.org/"><img src="/assets/img/ecosystem/WiML.png"></a>
        </div>
      </div>
      <div class="responsive">
          <div class="sponsors-gallery">
          <a target="_blank" href="https://sites.google.com/view/queer-in-ai/home"><img src="/assets/img/ecosystem/qai-logo.png"></a>
          </div>
      </div>
      <div class="responsive">
          <div class="sponsors-gallery">
          <a target="_blank" href="https://elesa.github.io/ability_in_AI/"><img src="/assets/img/ecosystem/dai-logo.jpg"></a>
          </div>
      </div>
    <div class="responsive">
      <div class="sponsors-gallery">
      <a target="_blank" href="https://riiaa.org/"><img src="/assets/img/ecosystem/riia-mex.png"></a>
      </div>
    </div>
    <div class="responsive">
        <div class="sponsors-gallery">
        <a target="_blank" href="https://khipu.ai/"><img src="/assets/img/ecosystem/khipu.png"></a>
        </div>
      </div>
    <div class="responsive">
        <div class="sponsors-gallery">
        <a target="_blank" href="https://twimlcon.com/"><img src="/assets/img/ecosystem/twimlcon.png"></a>
        </div>
      </div>
    <div class="responsive">
      <div class="sponsors-gallery">
      <a target="_blank" href=""><img src="/assets/img/ecosystem/USF-Data.png"></a>
      </div>
    </div>
    <div class="responsive">
        <div class="sponsors-gallery">
        <a target="_blank" href=""><img src="https://fi.co/system/upload/Latino_StartUp_Alliance_Fellowship.jpeg"></a>
        </div>
      </div>
      <div class="responsive">
        <div class="sponsors-gallery">
        <a target="_blank" href=""><img src="http://sanfrancisco.impacthub.net/wp-content/uploads/sites/100/2015/12/REDsanfranciscoPR-1web.jpg"></a>
        </div>
      </div>
    <div class="responsive">
      <div class="sponsors-gallery">
      <a target="_blank" href=""><img src="/assets/img/ecosystem/langai.png"></a>
      </div>
    </div>
    <div class="responsive">
      <div class="sponsors-gallery">
      <a target="_blank" href=""><img src="/assets/img/ecosystem/sentisis.jpg"></a>
      </div>
    </div>
    <div class="responsive">
      <div class="sponsors-gallery">
      <a target="_blank" href=""><img src="/assets/img/ecosystem/udacity.png"></a>
      </div>
    </div>
    <div class="responsive">
      <div class="sponsors-gallery">
      <a target="_blank" href=""><img src="/assets/img/ecosystem/TheMoodysFoudation.png"></a>
      </div>
    </div>
    
  </div>
