<div class="user-details">
  <h1> Events </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="event-banner" src="/assets/img/events/neurips2019.png"/>
  </div>
  <div class="contents">
    <h3> LXAI Research @ NeurIPS </h3>
    <h4>Monday, December 9th, 2019</h2>
    <p>8:00 am - 7:00 pm</p>
    <h5>Vancouver, Canada</h5>
    <br />
    <a class="project-link" href="http://www.latinxinai.org/neurips-2019">Details</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="event-banner" src="/assets/img/gtc/2019/dc/gtc-dc-banner.png"/>
  </div>
  <div class="contents-right">
    <h3> LXAI + BAI @ GTC DC</h3>
    <h4>November 4th-6th, 2019 </h2>
    <h5>Ronald Reagan Building and International Trade Center, Washington, D.C.</h5>
    <br />
    <a class="project-link" href="/gtc-dc-2019">Details</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="event-banner" src="/assets/img/events/TWiMLcon_Twitter_logos.png"/>
  </div>
  <div class="contents">
    <h3> LXAI @ TWIMLcom </h3>
    <h4>October 1st-2nd, 2019</h2>
    <h5>San Francisco, CA</h5>
    <br />
    <a class="project-link" target='_blank' href="https://www.meetup.com/Artificial-Intelligence-Deep-Learning-Enthusiasts-Meetup/events/263782192/">Details</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="event-banner" src="/assets/img/events/dinner_reception.png"/>
  </div>
  <div class="contents-right">
    <h3> LatinX in AI Dinner </h3>
    <h4>Tuesday, July 22nd, 2019 </h2>
    <p>7:00 pm - 10:00 pm</p>
    <h5>The Grove </h5>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="event-banner" src="/assets/img/events/ai-alzheimers.jpeg" />
  </div>
  <div class="contents">
    <h3> AI Research Discussion: Towards the diagnosis of Alzheimer's Disease with AI
    </h3>
    <h4>Friday, June 28th, 2019</h2>
    <p>Webinar</p>
    <br />
      <a class="project-link" target="_blank" href="https://www.meetup.com/Artificial-Intelligence-Deep-Learning-Enthusiasts-Meetup/events/261845638/">Details</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="event-banner" src="/assets/img/events/icml2019.png"/>
  </div>
  <div class="contents-right">
    <h3> LXAI Research @ ICML </h3>
    <h4>Monday, June 10th, 2019</h2>
    <p>8:00 am - 7:00 pm</p>
    <h5>Long Beach Convention Center in Long Beach, CA</h5>
    <br />
    <a class="project-link" href="http://www.latinxinai.org/icml-2019">Details</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="event-banner" src="/assets/img/events/iclr2019.png" />
  </div>
  <div class="contents">
    <h3> LXAI Research @ ICLR </h3>
    <h4>Tuesday, May 7th, 2019</h2>
    <p>Ernest N. Morial Convention Center, New Orleans, LA</p>
    <br />
      <a class="project-link" target="_blank" href="http://www.latinxinai.org/iclr-2019">Details</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="event-banner" src="/assets/img/events/gtc2019v2.jpeg"/>
  </div>
  <div class="contents-right">
    <h3> LXAI @ GTC </h3>
    <h4>March 17th-21st, 2019</h2>
    <p>8:00 am - 10:00 am</p>
    <h5>San Jose Convention Center, San Jose, CA</h5>
    <br />
    <a class="project-link" target="_blank" href="https://www.meetup.com/Artificial-Intelligence-Deep-Learning-Enthusiasts-Meetup/events/259139154/">Details</a>
    <a class="project-link" target="_blank" href="http://www.latinxinai.org/gtc-2019">Scholarship</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="event-banner" src="/assets/img/NIPS/nips-promo.png" />
  </div>
  <div class="contents">
    <h3> LXAI Research @ NeurIPS </h3>
    <h4>Saturday, December 8th, 2018</h2>
    <p>Palais des Congrès de Montréal (Montreal Convention Centre)</p>
    <br />
      <a class="project-link" target="_blank" href="http://www.latinxinai.org/neurips-2018">Details</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="event-banner" src="/assets/img/events/gbdsc.png"/>
  </div>
  <div class="contents-right">
    <h3> LXAI @ Global Big Data Science Conference </h3>
    <h4>Thursday, August 30th, 2018</h2>
    <p>9:00 am - 2:00 pm</p>
    <h5>Santa Clara Convention Center, Santa Clara, CA</h5>
    <br />
    <a class="project-link" target="_blank" href="https://www.meetup.com/Artificial-Intelligence-Deep-Learning-Enthusiasts-Meetup/events/253754408/">Details</a>
  </div>
</div>
<div class="user-projects">
    <div class="images-right">
      <img alt="event-banner" src="/assets/img/events/RIIAA.png" />
    </div>
    <div class="contents">
      <h3> Reunión lnternacional de lnteligencia Artificial y sus Aplicaciones </h3>
      <h4>August 24th-26th, 2018</h2>
      <p>CDMX, México - UNAM</p>
      <br />
        <a class="project-link" target="_blank" href="https://riiaa.org/">Details</a>
    </div>
  </div>
<div class="user-projects">
  <div class="images-left">
    <img alt="event-banner" src="/assets/img/events/reccomendation-workshop.png"/>
  </div>
  <div class="contents-right">
    <h3> Recommendation Systems with Matrix Factorization in Pytorch </h3>
    <h4>Tuesday, August 14th, 2018</h2>
    <p>6:00 - 9:00 pm</p>
    <h5>Impact Hub SF</h5>
    <br />
    <a class="project-link" target="_blank" href="https://www.meetup.com/Artificial-Intelligence-Deep-Learning-Enthusiasts-Meetup/events/253308422/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="event-banner" src="/assets/img/events/AIFF.png" />
  </div>
  <div class="contents">
    <h3> AI Fintech Forum </h3>
    <h4>Saturday, July 21st, 2018</h2>
    <p>8:00 am - 8:00 pm</p>
    <h5>Impact Hub SF</h5>
    <br />
      <a class="project-link" target="_blank" href="http://www.aiff.world/">Details</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="event-banner" src="https://secure.meetupstatic.com/photos/event/9/7/4/5/600_471338725.jpeg" />
  </div>
  <div class="contents-right">
    <h3> Intro to Natural Language Processing with Lang.ai </h3>
    <h4>Wednesday, June 20th, 2018</h2>
    <p>6:00 - 9:00 pm</p>
    <h5>Impact Hub SF</h5>
    <br />
    <a class="project-link" target="_blank" href="https://www.meetup.com/Artificial-Intelligence-Deep-Learning-Enthusiasts-Meetup/events/251019378/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="event-banner" src="/assets/img/events/cv-workshop.jpg" />
  </div>
  <div class="contents">
    <h3> Intro to Computer Vision in PyTorch </h3>
    <h4>Tuesday, May 29th, 2018</h2>
    <p>6:00 - 9:00 pm</p>
    <h5>Impact Hub SF</h5>
    <br />
      <a class="project-link" target="_blank" href="https://www.meetup.com/Artificial-Intelligence-Deep-Learning-Enthusiasts-Meetup/events/250164791/">Details</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="event-banner" src="https://secure.meetupstatic.com/photos/event/1/e/0/8/600_470287688.jpeg" />
  </div>
  <div class="contents-right">
    <h3> Ethics of AI - What Could Go Wrong?! </h3>
    <h4>Wednesday, April 18, 2018</h2>
    <p>11:00 am</p>
    <h5>Webinar</h5>
    <br />
    <a class="project-link" target="_blank" href="https://www.meetup.com/Artificial-Intelligence-Deep-Learning-Enthusiasts-Meetup/events/248778018/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="event-banner" src="/assets/img/events/lxai-sleep_dealer.jpeg" />
  </div>
  <div class="contents">
    <h3> Film Screening </h3>
    <h4>Monday, April 9th, 2018</h2>
    <p>6:00 - 9:00 pm</p>
    <h5>Impact Hub SF</h5>
    <br />
      <a class="project-link" target="_blank" href="https://lxai-film-screening-sleep-dealer.eventbrite.com">Details</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="event-banner" src="https://secure.meetupstatic.com/photos/event/7/4/9/highres_468901865.jpeg" />
  </div>
  <div class="contents-right">
    <h3> Intro to Machine Learning </h3>
    <h4>Saturday, March 17th, 2018</h2>
    <p>1:00 pm</p>
    <h5>Impact Hub SF</h5>
    <br />
    <a class="project-link" target="_blank" href="https://www.meetup.com/Artificial-Intelligence-Deep-Learning-Enthusiasts-Meetup/events/248314932/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="event-banner" src="{{ "/assets/img/events/townhall.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Town Hall </h3>
    <h4>Tuesday, January 30th, 2018</h2>
    <p>6:00 - 9:00 pm</p>
    <h5>Impact Hub SF</h5>
    <br />
      <a class="project-link" target="_blank" href="https://latinxinai-townhall.eventbrite.com">Details</a>
      <a class="project-link" target="_blank" href="https://photos.app.goo.gl/GjesTHlKBDcvhUw52">Photos</a>
      <a class="project-link" target="_blank" href="https://www.youtube.com/watch?v=GyWvUaagv5A&list=PLldrX-tcWesPUmRMSg7I4WZFtokwsVYtB">Recording</a>
  </div>
</div>