<div class="header-alt" >
    <a href="/" class="logo"><img src="./assets/img/logo/LXAI-navlogo.png"></a>
    <div class="alt-header-right" id="alt-header">
        <a class="active" href="/">Home</a>
        <a href="/about">About</a>
        <a target='_blank' href="https://www.lxai.app/public-directory">Directory</a>
        <a href="/events">Events</a>
        <a target='_blank' href="https://www.lxai.app/signup">Membership</a>
        <a target='_blank' href="https://www.lxai.app/login">Login</a>
        <div class="dropdown" id='workshops-list'>
            <a class="dropbtn">Workshops</a>
            <div class="dropdown-content">
                <a href="/icml-2020">ICML 2020</a>
                <a href="/neurips-2019">NeurIPS 2019</a>
            </div>
        </div>
        <a href="/ecosystem">Ecosystem</a>
        <a href="#contact">Contact</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
    </div>
</div>

<script>
    function myFunction() {
        var x = document.getElementById("alt-header");
        if (x.className === "header-alt") {
            x.className += " responsive";
        } else {
            x.className = "header-alt";
        }
    }
</script>