<div class="member-signup">
    <h1>LXAI Membership Forum</h1>
    <p>This is the private forum of the Latinx in AI network. It is intended for any latinx student, post-doc, academic researcher, industrial researcher, and anyone else who is interested in posting content and asking questions relevant to this community.</p>
    <p>Admittance to this forum and moderation is handled by senior members of the LXAI organization. We appreciate your patience as we review applicant submissions.</p>

    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeSWdKaN94u3kND6wsaVtAhoHWfGLTYaTWWJ4OktiJS4bwbtA/viewform?embedded=true" 
    width="100%" 
    height="520" 
    frameborder="0" 
    marginheight="0" 
    marginwidth="0">
        Loading...
    </iframe>
</div>