
<div class="user-details">
  <h2>2020 Annual Sponsors</h2>
  <div class=''>
    <div class='sponsorList' id='platLevel'>
      <h3>Platinum</h3>
        <a target="_blank" href="https://ai.google/"><img width=500
        src="./assets/img/neurips/2020/sponsors/Platinum-Google.png"></a>
    </div>
    <div class='sponsorList' id='silvLevel'>
      <h3>Silver</h3>
      <p></p>
      <a target="_blank" href="https://www.apple.com/jobs/us/teams/machine-learning-and-ai.html"><img width=100
        src="./assets/img/neurips/2020/sponsors/apple_logo_v2.png"></a>
    </div>
  </div>
  <p>If you are interested in becoming a sponsor, please send us message to <strong><i>sponsor at latinxinai dot org</i></strong>
    and we will follow up with more information.</p>
 </div>

 <hr>