<img width="100%" src="./assets/img/gtc/2019/dc/gtc-dc-banner.png">
    <div class="about-scholarship">
            <h2>Nvidia GTC DC Scholarship</h2>
            <p>LatinX in AI (LXAI) is joining forces with Black in AI to provide a grant for two members of each of our communities to attend the 2019 GTC (GPU Technology Conference) November 4th-6th in Washington, DC all expenses paid, including travel, accommodations, full registration to the conference, and Deep Learning Institute workshops sponsored by NVIDIA!</p>
            <div class="scholarshipGallery">
                <div class="scholarshipList">
                    <a target="_blank" href="https://www.nvidia.com/en-us/gtc/inclusion/"><img src="./assets/img/gtc/nvidia-logo-png-transparent.png"></a>
                    <a target="_blank" href=""><img src="./assets/img/gtc/a-plus.png"></a>
                    <a target="_blank" href="/"><img src="./assets/img/logo/LXAI-logo-black.png"></a>
                    <a target="_blank" href=""><img src="./assets/img/gtc/a-plus.png"></a>
                    <a target="_blank" href="https://blackinai.github.io/"><img src="./assets/img/gtc/BAI-icon.png"></a>
                </div>
            </div>
            <div class="scholarship-guidelines"> 
                <div class="images-right">
                    <img src="./assets/img/gtc/group.jpg">
                </div>
                    <div class="contents">
                    <h3>Scholarship Award Guidelines:</h3>
                    <ul>
                        <li>Applicants may submit a link to a less than 1 min <strong>"I AM AI"</strong> video of them describing their interests or work in Artificial Intelligence.</li>
                    
                        <li>Must identify as either LatinX (a person of Latin American origin or descent), Black (a person having origins in any of the black racial groups of Africa), or mixed race including LatinX or Black ethnicity.</li>
                    
                        <li>US citizen or a valid US visa to travel to the US at the time of application (due to needing at least 60 days for visa allocation).</li>
                    
                        <li>May be traveling from anywhere in the world at the time of the conference.</li>

                        <li>The ideal candidate is a developer, data scientist, engineer, researcher, or student in a technical field who wants hands-on training in advanced deep learning and computer vision topics. Participants should be familiar with the fundamentals of Machine Learning and Deep Learning in order to participate fully in workshop training sessions.</li>
                    </ul>
                </div>
    
            </div>
        </div>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeuqh1RduYqel7S67D61VBl8qwzHu5MXO8jEgX1ZbL4ICuHIQ/viewform?embedded=true" 
            width="100%" height="750" frameborder="0" marginheight="0" marginwidth="0">
            Loading…
        </iframe>
    