
 <div class="about-details" id="nipsIntro">
  <h2> Coalición Latinx en IA en NIPS 2018 </h2>
  <section id="goals" style="text-align: center;">
    <p>El primer taller oficial de LXAI está co-localizado con <a href="https://nips.cc/">NIPS</a> en el <a href="https://congresmtl.com/">Palais des Congrès de Montréal</a> en Montréal CANADA el sábado, 8 de diciembre, 2018.</p>
    <img alt="montreal" src="./assets/img/NIPS/montreal.jpg" style="max-width: 1000px;">
  </section>

  <section id="nips-main">
    <h2>Llamado a participación</h2>
    <p>El taller es un evento de un día con ponentes invitados, presentaciones orales, y pósters. El evento junta académicos, estudiantes de posgrado, científicos, e ingenieros para una oportunidad a conectarse e intercambiar ideas. Habrán discusiones en formato de panel y una sesión de tutoría para discutir tendencias de investigación actuales y elecciones de carrera en inteligencia artificial y aprendizaje de máquinas. Aunque la mayoría de ponentes se identificarán como LatinX, todos están invitados a asistir.</p>
    <h4>Creando Armonía y Oportunidad para LatinX en IA</h4>
    <div class="user-projects" id="call-nips">
        <div class="images-right">
          <img alt="LXAI Logo" src="./assets/img/logo/LXAI-logo-black.png" />
        </div>
        <div class="contents">
          <h3>Important Dates</h3>
            <ul>
              <li>10 de septiembre, 2018: Fecha límite para becas de viaje</li>
              <li>10 de septiembre, 2018: Fecha límite para el resumen técnico</li>
              <li>10 de septiembre, 2018: Fecha límite para aplicar al Comité de Programación</li>
              <li>30 de septiembre, 2018: Notificación de aceptación</li>
              <li>24 de octubre, 2018: Fecha límite para registro temprano en NIPS</li>
              <li>8 de diciembre, 2018: Taller LXAI</li>
            </ul>
          <p><strong>LXAI está trabajando fuertemente para asegurarse que aquellos que necesiten becas de viaje serán reembolsados los costos asociados con asistir al taller. Por el momento, becas de viaje no están garantizadas.</strong></p>
        </div>
      </div>
      <div>
        <h2>Instrucciones de sumisión</h2>
        <p>Recomendamos a estudiantes, post-docs e investigadores que se identifican primordialmente como LatinX en todas las áreas de inteligencia artificial a presentar un resumen técnico describiendo publicadas nuevas, previas, o que están siendo revisadas. Invitamos resumenes en teoría, metodología, al igual que aplicaciones. Resumenes pueden describir trabajos completos o en progreso. Mientras que el primer autor no necesita ser quien lo presenta, recomendamos que los autores resalten la contribución de individuos LatinX - particularmente aquellos que presentarán el trabajo - en el resumen.</p>
        <p>Pediremos a autores de resumenes aceptados que presenten su trabajo en la sesión de pósters. Pediremos a unos pocos autores que den una presentacin oral de 15 minutos. Aplicaciones serán revisadas por voluntarios de la comunidad en un proceso doblemente-ciego. Invitamos a autores a inscribirse a revisar aplicaciones para LXAI, con la opción disponible cuando ingresa su aplicación.</p>
        <a class="project-link" href="/nips-2018-apply">Ingreso de resumen</a>
      </div>
      <hr>
      <div id="nipsProgram">
          <h2>Programa</h2>
          <h3>Agenda Preliminar</h3>
          <ul>
            <li>8:00 - 8:30 am | Las puertas se abren </li>
            <li>8:30 - 9:30 am | Presentación introductoria y ponente invitado</li>
            <li>9:00 - 12:00 pm | Presentaciones orales</li>
            <li>12:00 - 1:00 pm | Almuerzo</li>
            <li>1:00 - 3:00 pm | Presentaciones orales</li>
            <li>3:00 - 5:00 pm | Sesión de pósters</li>
            <li>5:00 -7:00 pm | Recepción</li>
          </ul>
      </div>
      <hr>
        <div id="nipsSponsors">
          <h2>Patrocinadores</h2>
          <h3>TBA<h3>
          <a class="project-link" href="/nips-2018-sponsor">Prospectus de patrocinadores</a>
          <!-- <h3>Platino<h3>
          <h3>Oro<h3>
          <h3>Plata<h3>
          <h3>Bronce<h3> -->
        </div>
      <hr>
      <div id="nips-org">
          <h3>Organizadores</h3>
          <ul>
            <li>Laura Montoya, Accel AI Institute</li>
            <li>Omar Florez, Capital One</li>
            <li>Luis Serrano, Udacity</li>
            <li>Jorge Penalva, Lang.ai</li>
            <li>Yannet Interian, University of San Francisco</li>
            <li>Pablo Samuel Castro, Google Brain</li>
          </ul>
          <h3>Comité de Programación</h3>
          <h4>Agradecemos a los siguientes miembros de la comunidad LatinX en IA y a los aliados que nos ayudan a revisar aplicaciones.</h4>
          <ul>
            <li>Meire Fortunato, Deep Mind</li>
            <li>Andrés Campero, MIT</li>
            <li>Alejandro Galindo, Iris Automation Inc</li>
            <li>TBA</li>
          </ul>
          <a class="project-link" href="/nips-2018-committee">Join Committee</a>
      </div>
      <hr>
      <div id="nipsLogistics">
        <h3>Logística</h3>
        <details>
            <summary>Asistiendo a NIPS</summary>
            <p>Por favor tomen en cuenta que un resumen aceptado en LXAI y/o inscripción para asistir a LXAI no garantiza acceso a NIPS. Uno debe inscribirse a NIPS por separado (<a target='_blank' href="https://nips.cc/Register/view-registration">https://nips.cc/Register/view-registration</a>).</p>
         
            <p>Por ende, quisieramos informarle que la inscripción a NIPS se llenara rápidamente. Si está planeando asistir a NIPS, les recomendamos registrarse lo antes posible. Puede cancelar su inscripción con reembolso completo hasta el 15 de noviembre si es que decide a la final no puede asistir. (<a target='_blank' href="https://nips.cc/Help/CancellationPolicy">https://nips.cc/Help/CancellationPolicy</a>).</p>

            <p>Además, le recomendamos reservar su hospedaje rápidamente, ya que los bloques de cuartos con descuento se llenaran rápidamente.</p>

          </details>

          <details>
            <summary>Hospedaje</summary>
            <p>Pueden aprovechar de las tarifas de grupo de NIPS <a target='_blank' href="https://nips.cc/Conferences/2018/Hotels">aquí</a>. Anteriormente, participantes de talleres también han utilizado <a target='_blank' href="http://www.airbnb.com/">Airbnb</a> y <a target='_blank' href="https://www.google.ca/search?dcr=0&ei=_Q8bW5GrM8uizwKonrqgCQ&q=hostels+montreal&oq=hostels+montreal&gs_l=psy-ab.3..35i39k1j0l3j0i22i30k1l6.1687.2182.0.2251.8.6.0.0.0.0.160.535.2j3.5.0....0...1.1.64.psy-ab..3.5.534...0i20i263i264k1j0i10k1.0.qZOLn7nI-XE">hosteles</a>.
            <p>La política de cancelacin de reservas debe ser chequeado con el hotel directamente.</p>

            <p>LXAI no es responsable de información proporcionada en sitios web externos.</p>
          </details>

          <details>
            <summary>Visa</summary>
            <p>Una carta de invitacin para la visa viene con la inscripcin a NIPS. Si no tienen la carta de invitación de NIPS, nosotros podríamos enviarles cartas de invitacin luego de inscribirse al taller LXAI. Puede encontrar más información sobre como la aplicación para la visa <a target='_blank' href="http://www.cic.gc.ca/english/information/applications/visa.asp">aquí</a>.</p>
          </details>
      </div>

      <hr>
  </section>
</div>
