 <div class="about-details">
  <h2> {{site.user_description}} </h2>
  <section id="goals">
    <ul>
      <li>Increase representation of Latinx in Artificial Intelligence and 
        improve access to education and resources in AI engineering to latinx community</li>
      <li>Improve awareness of the long and short term effects of artificial intelligence technology on the latinx community</li>
      <li>Increase communication between AI companies, engineers, researchers and the latinx community</li>
      <li>Ensure transparency and accuracy of latinx culture and voice in data representations</li>
    </ul>
  </section>
</div>