 <div class="about-details">
  <h2> {{site.user_description}} </h2>
  <section id="goals">
    <ul>
      <li>Increase representation of Latinx in Artificial Intelligence</li>
      <li>Improve access to education and resources in AI engineering to latinx community</li>
      <li>Improve awareness of the long and short term effects of artificial intelligence technology on the latinx community</li>
      <li>Increase communication between AI companies, engineers, researchers and the latinx community</li>
      <li>Ensure transparency and accuracy of latinx culture and voice in data representations</li>
    </ul>
  </section>
  <section id="why-example">
    <h2>Why Now?</h2>
    <h4>An oncoming wave of AI Technology is permeating through the latinx community now and in the coming years.</h4>
    <div class="user-projects">
        <div class="images-right">
          <img alt="truck" src="http://i.dailymail.co.uk/i/pix/2015/05/06/16/28611E2500000578-0-image-a-18_1430924509011.jpg" />
        </div>
        <div class="contents">
          <h3> Autonomous Trucks</h3>
          <p>Out of a population of 3.5 million truck drivers in the U.S. – 3.1 million of whom are commercial driver’s license (CDL) holders – some 38.75% are minorities according to data compiled by the American Trucking Associations (ATA).

          <p>Hispanic men make up the 2nd largest demographic of the truck driver population at 14.6%, based on 2014 data.</p>
            
          <p>Motor carriers are embracing and increasing the diverse ethnicity of the current workforce to fill their gaps in employment.</p>
          
          <p><strong>It's imperative to ensure our community has a voice in the oncoming Autonomous Trucking revolution.</strong></p>
        </div>
      </div>
  </section>
</div>