 <div class="about-details">
    <h2> {{site.user_description}} </h2>
  <img src="./assets/img/logo/LXAI-logo-black.png">
  
  <section id="goals">
      <p>The LatinX in AI Coalition (LXAI) bridges communities, academics, industry, and politicians working to further AI innovation and resources for LatinX individuals globally. We host research workshops at AI academic conferences, drive and support research, development, and infrastructure programs to boost innovation and capabilities of Latin Americans working in Artificial Intelligence. </p>
      <h3>Tenents</h3>
    <ul>
      <li>Increase representation of Latinx in Artificial Intelligence</li>
      <li>Improve access to education and resources in AI engineering</li>
      <li>Improve awareness of the long and short term effects of artificial intelligence</li>
      <li>Increase communication between companies and LatinX AI engineers and researchers</li>
      <li>Ensure transparency and accuracy of latinx culture and voice in data representations</li>
    </ul>
  </section>
  <section id="why-example">
    <h2>Why Now?</h2>
    <P>Launched in January 2018, three Latinx individuals from organizations including the Accel AI Institute, Latino Startup Alliance and Bay Angels banded together to create a group that would be focused on “Creating Harmony & Opportunity for LatinX in AI.”</p> 
      
    <p>Artificial Intelligence has the potential to displace workers of marginalized populations including those of Latinx origin. AI is already perpetuating social bias and prejudice because it lacks representation of LatinX professionals in the AI industry.
    </p>

    <p>The LatinX in AI Coalition is fiscally sponsored by the <a href="https://www.accel.ai">Accel AI Institute</a>, 501(c)3 Non-Profit. Support our work by donating to our <a href="https://opencollective.com/latinx-in-ai-research">Open Collective</a>.</p>
  
    <h2>Case Study</h2>
    <h4>An oncoming wave of AI Technology is permeating through the latinx community now and in the coming years.</h4>
    <div class="user-projects">
        <div class="images-right">
          <img alt="truck" src="http://i.dailymail.co.uk/i/pix/2015/05/06/16/28611E2500000578-0-image-a-18_1430924509011.jpg" />
        </div>
        <div class="contents">
          <h3> Autonomous Trucks</h3>
          <p>Out of a population of 3.5 million truck drivers in the U.S. – 3.1 million of whom are commercial driver’s license (CDL) holders – some 38.75% are minorities according to data compiled by the American Trucking Associations (ATA).

          <p>Hispanic men make up the 2nd largest demographic of the truck driver population at 14.6%, based on 2014 data.</p>
            
          <p>Motor carriers are embracing and increasing the diverse ethnicity of the current workforce to fill their gaps in employment.</p>
          
          <p><strong>It's imperative to ensure our community has a voice in the oncoming Autonomous Trucking revolution.</strong></p>
        </div>
      </div>
      <h3>This is just one example of many in which the Latinx community will be affected by Artificial Intelligence research, engineering, and automation. To learn more, check out our <a href="https://medium.com/accel-ai/join-us-for-the-upcoming-latinx-in-ai-coalition-town-hall-meeting-264f6a633c41">medium publication.</a></h3>
  </section>
</div>
<hr>