<div class="container app-info">
<h1>Coming Soon LXAI Web App</h1>
<p>The LatinX in AI Coalition is working on a full website redesign including a web app with user profiles, interactive membership forum, and cross platform compatiblility for ios and android, so that we may better serve our membership community.</p>
<p>You can see a prototype of our app led by our design committee <a href="https://xd.adobe.com/view/eda8621b-d68a-4c20-693e-0ac7ac65a49f-9b99/screen/f9da8f82-44b0-46a6-9c1e-b8cc4b74496f/Home-Subscribed">here</a>!</p>
</div>