<div class="header-alt" >
    <a href="/" class="logo"><img src="./assets/img/logo/LXAI-navlogo.png"></a>
    <div class="alt-header-right">
        <a class="active" href="/">Home</a>
        <a href="/about">About</a>
        <a href="/directory">Directory</a>
        <a href="/events">Events</a>
        <a href="/leads">Leads</a>
        <a href="/membership">Membership</a>
        <a href="/neurips-2018">NeurIPS</a>
        <a href="/ecosystem">Ecosystem</a>
        <a href="#contact">Contact</a>
    </div>
</div>