<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:latinxinai@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Linked In" target="_blank" href="https://www.linkedin.com/groups/13566752"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="Github" target="_blank" href="https://github.com/latinxinai"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About</a>
        <a class="link" href="#leads" data-scroll>Leads</a>
        <a class="link" href="#projects" data-scroll>Events</a>
        <a class="link" href="#directory" data-scroll>Directory</a>
         <a class="link" href="#sponsors" data-scroll>Sponsors</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
