<div class="nips-header" id="nipsHeader">
    <a href="/" class="logo"><img src="./assets/img/logo/LXAI-navlogo.png"></a>
    <div class="nips-header-right">
        <a class="active" href="#nipsIntro">Introducción</a>
        <a href="#nips-main">Aplicaciones</a>
        <a href="#nipsProgram">Programa</a>
        <a href="#nipsSponsors">Patrocinadores</a>
        <a href="#nips-org">Organizadores</a>
        <a href="#nipsLogistics">Logística</a>
        <a href="#contact">Contacto</a>
    </div>
</div>



<script>
    window.onscroll = function() {myFunction()};
    
    var header = document.getElementById("nipsHeader");
    var sticky = header.offsetTop;
    
    function myFunction() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    }
    </script>
