<div class="lead-details">
    <h1>Board and Committee Leads</h1>
</div>
<div class="join-buttons">
    <a target="_blank" href="https://lauranmontoya.typeform.com/to/KpBEog"><button>Advisory Board Application</button></a>
  <a target="_blank" href="http://bit.ly/LXAI-Volunteer"><button>Volunteers</button></a>
</div>
<div class="gallery-container">
  <div id="lead-gallery">
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://www.lauranmontoya.com/">
          <img src="./assets/img/team/LNM.jpg">
        </a>
        <div class="desc">
            <h3>Laura Montoya</h3>
            <h4>President</h4>
            <p><a href="https://www.lauranmontoya.com/">Website</a> | <a href="https://www.linkedin.com/in/lnmontoya/">linkedin</a></p>
        </div>
      </div>
    </div>

    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="https://www.linkedin.com/in/sebastiananaya/">
            <img src="./assets/img/team/sebastian.jpg">
          </a>
          <div class="desc">
              <h3>Sebastian Anaya</h3>
              <h4>Startup Committee Lead</h4>
              <p><a href="https://www.linkedin.com/in/sebastiananaya/">linkedin</a></p>
          </div>
        </div>
      </div>
      <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="https://www.linkedin.com/in/omar-u-florez-35338015/">
              <img src="./assets/img/team/omar.png">
            </a>
            <div class="desc">
                <h3>Omar Florez, PhD</h3>
                <h4>Research Committee Lead</h4>
                <p><a href="https://www.linkedin.com/in/omar-u-florez-35338015/">linkedin</a></p>
            </div>
          </div>
        </div>
        <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="https://twitter.com/pcastr?lang=en">
                <img src="./assets/img/team/pablo.png">
              </a>
              <div class="desc">
                  <h3>Pablo Samuel Castro</h3>
                  <h4>Engineering Committee Lead</h4>
                  <p><a href="https://twitter.com/pcastr?lang=en">Twitter</a></p>
              </div>
            </div>
          </div>

      <div class="clearfix"></div>
  </div>
  <div id="lead-gallery">

      <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="img_lights.jpg">
              <img src="./assets/img/team/jesse.jpg">
            </a>
            <div class="desc">
                <h3>Jesse Martinez</h3>
                <h4>Startup Committee Lead</h4>
                <p><a href="https://www.linkedin.com/in/jessemartinez1/">linkedin</a></p>
            </div>
          </div>
        </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://www.linkedin.com/in/victor-ramirez-728a021/">
          <img src="./assets/img/team/victor.jpg">
        </a>
        <div class="desc">
            <h3>Victor Ramirez</h3>
            <h4>Design Committee Lead</h4>
            <p><a href="https://www.linkedin.com/in/victor-ramirez-728a021/">linkedin</a></p>
        </div>
      </div>
    </div>
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://www.linkedin.com/in/jpenalva/">
          <img src="./assets/img/team/jorge.png">
        </a>
        <div class="desc">
            <h3>Jorge Peñalva</h3>
            <h4>Research Committee</h4>
            <p><a href="https://www.linkedin.com/in/jpenalva/">linkedin</a></p>
        </div>
      </div>
    </div>
    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="https://www.linkedin.com/in/ilopezfrancos">
            <img src="./assets/img/team/ignacio.jpg">
          </a>
          <div class="desc">
              <h3>Ignacio López-Francos</h3>
              <h4>Research Committee</h4>
              <p><a href="https://www.linkedin.com/in/ilopezfrancos">Twitter</a></p>
          </div>
        </div>
      </div>
  
  <div id="lead-gallery">

    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="https://www.linkedin.com/in/vanessamichelle">
            <img src="./assets/img/team/vanessa.jpg">
          </a>
          <div class="desc">
              <h3>Vanessa Garcia</h3>
              <h4>Design Committee</h4>
              <p><a href="https://www.linkedin.com/in/vanessamichelle">linkedin</a></p>
          </div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="https://www.linkedin.com/in/lgonsalez/">
            <img src="./assets/img/team/luis_G.jpeg">
          </a>
          <div class="desc">
              <h3>Luis Gonsalez</h3>
              <h4>Design Committee</h4>
              <p><a href="https://www.linkedin.com/in/lgonsalez/">linkedin</a></p>
          </div>
        </div>
      </div>
 

    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="https://www.linkedin.com/in/luisgserrano/">
            <img src="./assets/img/team/serrano.png">
          </a>
          <div class="desc">
              <h3>Luis Serrano, PhD</h3>
              <h4>Education Committee (Emeritus)</h4>
              <p><a href="https://www.linkedin.com/in/luisgserrano/">linkedin</a></p>
          </div>
        </div>
      </div>
      <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="https://www.linkedin.com/in/interian/">
              <img src="./assets/img/team/yannet.jpg">
            </a>
            <div class="desc">
                <h3>Yannet Interian, PhD</h3>
                <h4>Education Committee (Emeritus)</h4>
                <p><a href="https://www.linkedin.com/in/interian/">linkedin</a></p>
            </div>
          </div>
        </div>
  <div class="clearfix"></div>
</div>
  <div class="join-buttons">
      <a target="_blank" href="https://lauranmontoya.typeform.com/to/KpBEog"><button>Advisory Board Application</button></a>
      <a target="_blank" href="http://bit.ly/LXAI-Volunteer"><button>Volunteers</button></a>
    </div>
</div>
