<div class="lead-details">
    <h1>Leads</h1>
    <div class="tech">
      <img class="img-circle" src="https://media-exp2.licdn.com/mpr/mpr/shrinknp_400_400/AAMABADGAAwAAQAAAAAAAAm1AAAAJGM1NDc1ZWNjLWM2OTAtNDQ2Yi1iMTQwLWY1MmEwNDgzYmYxZA.jpg">
      <h3>Laura Montoya</h3>
      <p><a href="https://www.lauranmontoya.com/">Website</a> | <a href="https://www.linkedin.com/in/lnmontoya/">linkedin</a></p>
    </div>
    <div class="tech">
      <img class="img-circle" src="https://media-exp2.licdn.com/media/AAEAAQAAAAAAAAhlAAAAJGJkNWQ0ZDM4LWY5NDAtNGQ2Ny04NGE2LTJjZWEzZjQxMWI2Mg.jpg">
      <h3>Sebastian Anaya</h3>
      <p><a href="https://www.linkedin.com/in/sebastiananaya/">linkedin</a></p>
    </div>
    <div class="tech">
       <img class="img-circle" src="https://media-exp2.licdn.com/media/p/8/005/062/3de/2b358f6.jpg">
       <h3>Jesse Martinez</h3>
      <p><a href="https://www.linkedin.com/in/jessemartinez1/">linkedin</a></p>
    </div>
</div>
