<div class="user-details">
  <h1> Events </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="event-banner" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F42652663%2F92704418993%2F1%2Foriginal.jpg?w=800&rect=0%2C11%2C1200%2C600&s=12a6bf21645ba956477315f3477b9dec" />
  </div>
  <div class="contents">
    <h3> Film Screening </h3>
    <h4>Monday, April 9th, 2018</h2>
    <p>6:00 - 9:00 pm</p>
    <h5>Impact Hub SF</h5>
    <br />
      <a class="project-link" target="_blank" href="https://lxai-film-screening-sleep-dealer.eventbrite.com">Details</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="event-banner" src="https://secure.meetupstatic.com/photos/event/7/4/9/highres_468901865.jpeg" />
  </div>
  <div class="contents-right">
    <h3> Intro to Machine Learning </h3>
    <h4>Saturday, March 17th, 2018</h2>
    <p>1:00 pm</p>
    <h5>Impact Hub SF</h5>
    <br />
    <a class="project-link" target="_blank" href="https://www.meetup.com/Artificial-Intelligence-Deep-Learning-Enthusiasts-Meetup/events/248314932/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="event-banner" src="{{ "/assets/img/townhall.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Town Hall </h3>
    <h4>Tuesday, January 30th, 2018</h2>
    <p>6:00 - 9:00 pm</p>
    <h5>Impact Hub SF</h5>
    <br />
      <a class="project-link" target="_blank" href="https://latinxinai-townhall.eventbrite.com">Details</a>
      <a class="project-link" target="_blank" href="https://photos.app.goo.gl/GjesTHlKBDcvhUw52">Photos</a>
      <a class="project-link" target="_blank" href="https://www.youtube.com/watch?v=GyWvUaagv5A&list=PLldrX-tcWesPUmRMSg7I4WZFtokwsVYtB">Recording</a>
  </div>
</div>
