<div class="nips-schedule">
   <ul class="main">
        <li class="date">
        <h3>Saturday</h3>
        <h3>Dec 2nd</h3>
        <p>Schedule of Events</p>
        </li>
        <li class= "events">
        <ul class="events-detail">
            <li>
            <a href="#">
                <span class="event-time">8:00am - 8:30am</span>
                <span class="event-name">Check-in </span>
                <br />
                <span class="event-location">Palais des Congrès de Montréal, Montréal CANADA, Room 503</span>
            </a>
            </li>
            
            <li>
            <a href="#">
                <span class="event-time">8:30am - 8:45am</span>
                <span class="event-name">Opening Ceremony</span>
                <br />
                <span class="event-location">Palais des Congrès de Montréal, Montréal CANADA, Room 503</span>
            </a>
            </li>
            <li>
                <a href="#">
                    <span class="event-time">8:45am - 9:30am</span>
                    <span class="event-name">Keynote: Omar Florez, PhD</span>
                    <br />
                    <span class="event-location">Palais des Congrès de Montréal, Montréal CANADA, Room 503</span>
                </a>
                </li>
            <li>
                <a href="#">
                    <span class="event-time">9:30am - 9:45am</span>
                    <span class="event-name">Oral Presenter #1</span>
                    <br />
                    <span class="event-location">Palais des Congrès de Montréal, Montréal CANADA, Room 503</span>
                </a>
            </li>
            <li>
                    <a href="#">
                        <span class="event-time">9:45am - 10:00am</span>
                        <span class="event-name">Oral Presenter #2</span>
                        <br />
                        <span class="event-location">Palais des Congrès de Montréal, Montréal CANADA, Room 503</span>
                    </a>
                </li>
                <li>
                        <a href="#">
                            <span class="event-time">10:00am - 10:15am</span>
                            <span class="event-name">Oral Presenter #3</span>
                            <br />
                            <span class="event-location">Palais des Congrès de Montréal, Montréal CANADA, Room 503</span>
                        </a>
                    </li>
            <li>
                <a href="#">
                    <span class="event-time">10:15am - 10:30am</span>
                    <span class="event-name">Oral Presenter #4</span>
                    <br />
                    <span class="event-location">Palais des Congrès de Montréal, Montréal CANADA, Room 503</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="event-time">10:30am - 10:45am</span>
                    <span class="event-name">Oral Presenter #5</span>
                    <br />
                    <span class="event-location">Palais des Congrès de Montréal, Montréal CANADA, Room 503</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="event-time">10:45am - 11:00am</span>
                    <span class="event-name">Oral Presenter #6</span>
                    <br />
                    <span class="event-location">Palais des Congrès de Montréal, Montréal CANADA, Room 503</span>
                </a>
            </li>
            <li>
                    <a href="#">
                        <span class="event-time">11:00am - 12:00pm</span>
                        <span class="event-name">Research Proposal Mentoring Hour & Poster Sessions</span>
                        <br />
                        <span class="event-location">Palais des Congrès de Montréal, Montréal CANADA, Room 503</span>
                    </a>
                </li>
            <li>
            <a href="#">
                <span class="event-time">12:00pm - 1:00pm</span>
                <span class="event-name">Lunch</span>
                <br />
                <span class="event-location">Go Explore Montreal!</span>
            </a>
            </li>
            
            <li>
            <a href="#">
                <span class="event-time">1:00pm - 2:00pm</span>
                <span class="event-name">Poster Sessions Continued</span>
                <br />
                <span class="event-location">Palais des Congrès de Montréal, Montréal CANADA, Room 503</span>
            </a>
            </li>
            <li>
                <a href="#">
                    <span class="event-time">2:00pm - 2:15pm</span>
                    <span class="event-name">Oral Presenter #7</span>
                    <br />
                    <span class="event-location">Palais des Congrès de Montréal, Montréal CANADA, Room 503</span>
                </a>
            </li>
            <li>
            <a href="#">
                <span class="event-time">2:15pm - 2:30pm</span>
                <span class="event-name">Oral Presenter #8</span>
                <br />
                <span class="event-location">Palais des Congrès de Montréal, Montréal CANADA, Room 503</span>
            </a>
            </li>
            <li>
            <a href="#">
                <span class="event-time">2:30pm - 2:45pm</span>
                <span class="event-name">Oral Presenter #9</span>
                <br />
                <span class="event-location">Palais des Congrès de Montréal, Montréal CANADA, Room 503</span>
            </a>
            </li>
            <li>
                <a href="#">
                    <span class="event-time">2:45pm - 3:00pm</span>
                    <span class="event-name">Oral Presenter #10</span>
                    <br />
                    <span class="event-location">Palais des Congrès de Montréal, Montréal CANADA, Room 503</span>
                </a>
            </li>
            <li>
            <a href="#">
                <span class="event-time">3:15pm - 3:30pm</span>
                <span class="event-name">Oral Presenter #11</span>
                <br />
                <span class="event-location">Palais des Congrès de Montréal, Montréal CANADA, Room 503</span>
            </a>
        </li>
        <li>
                <a href="#">
                    <span class="event-time">3:30pm - 3:45pm</span>
                    <span class="event-name">Oral Presenter #12</span>
                    <br />
                    <span class="event-location">Palais des Congrès de Montréal, Montréal CANADA, Room 503</span>
                </a>
            </li>
            <li>
                    <a href="#">
                        <span class="event-time">3:45pm - 4:00pm</span>
                        <span class="event-name">Oral Presenter #13</span>
                        <br />
                        <span class="event-location">Palais des Congrès de Montréal, Montréal CANADA, Room 503</span>
                    </a>
                </li>
                <li>
                        <a href="#">
                            <span class="event-time">4:15pm - 4:30pm</span>
                            <span class="event-name">Oral Presenter #14</span>
                            <br />
                            <span class="event-location">Palais des Congrès de Montréal, Montréal CANADA, Room 503</span>
                        </a>
                    </li>
    
            
                <li>
                    <a href="#">
                        <span class="event-time">4:30pm - 4:45pm</span>
                        <span class="event-name">Oral Presenter #15</span>
                        <br />
                        <span class="event-location">Palais des Congrès de Montréal, Montréal CANADA, Room 503</span>
                    </a>
                </li>
    

                <li>
                    <a href="#">
                        <span class="event-time">4:45pm - 5:00pm</span>
                        <span class="event-name">Oral Presenter #16</span>
                        <br />
                        <span class="event-location">Palais des Congrès de Montréal, Montréal CANADA, Room 503</span>
                    </a>
                </li>
                
                <li>
                    <a href="#">
                        <span class="event-time">5:00pm - 5:15pm</span>
                        <span class="event-name">Oral Presenter #17</span>
                        <br />
                        <span class="event-location">Palais des Congrès de Montréal, Montréal CANADA, Room 503</span>
                    </a>
                </li>
                <li>
                        <a href="#">
                            <span class="event-time">5:15pm - 5:30pm</span>
                            <span class="event-name">Oral Presenter #18</span>
                            <br />
                            <span class="event-location">Palais des Congrès de Montréal, Montréal CANADA, Room 503</span>
                        </a>
                    </li>
                    <li>
                            <a href="#">
                                <span class="event-time">5:30pm - 5:45pm</span>
                                <span class="event-name">Oral Presenter #19</span>
                                <br />
                                <span class="event-location">Palais des Congrès de Montréal, Montréal CANADA, Room 503</span>
                            </a>
                        </li>
                        <li>
                                <a href="#">
                                    <span class="event-time">5:45pm - 6:00pm</span>
                                    <span class="event-name">Oral Presenter #20</span>
                                    <br />
                                    <span class="event-location">Palais des Congrès de Montréal, Montréal CANADA, Room 503</span>
                                </a>
                            </li>
            <li>
                <a href="#">
                    <span class="event-time">6:30pm - 7:30pm </span>
                    <span class="event-name">LXAI Networking Hour & Roundtable Discussion</span>
                    <br />
                    <a target="_blank" href="http://tavernemidway.com/"><span class="event-location">Taverne Midway - 1219 Boul St-Laurent
                            Montréal, QC H2X 2S6</span></a>
                </a>
            </li>
        </ul>  
        
        
        </li>
            
    </ul>  
</div>