<div class="about-details">
    <h2> LatinX in AI at EMNLP 2020 </h2>
    <section class="workshop-intro">
      <p>LatinX in AI (LXAI) is hosting a virtual social to connect LatinX identifying AI Researchers and Engineers around the Conference on Empirical Methods in Natural Language Processing taking place November 16th -20th, 2020.
      </p>
  
      <img alt=""
           src="./assets/img/events/LXAI-EMNLP2020.png"
           />
      
  
    </section>
  
    <section id="workshop-main">
      
    
      <a class="project-link"
          href="https://lxai-emnlp-2020.eventbrite.com" target="_blank">REGISTRATION</a>

          <br/><hr>
     
      <h2>Mission</h2>
      
      <p>This affinity social is aimed at LatinX individuals working on or interested in NLP with a goal to increase the visibility of researchers of LatinX origin in a field that has been dominated by countries such as China, USA and Germany. </p>
      <p>Those already working on NLP will have the opportunity to connect with fellow LatinX and make their own work known, while those new to the field will benefit from the scientific exchange, guidance and advice of researchers with their same background. Participants will be able to engage in discussions about NLP (formal and informal) and to share their thoughts on how to increase the presence of LatinX in NLP.</p>
      <p>Diversity and inclusion are key to achieve better and more creative science. By promoting this event, EMNLP will not only advocate for an underrepresented community, it will also help to promote the development of technologies and language resources that take into account the different languages ​​that exist in Latin America.</p>


      <!-- <h2>Mentors</h2>
      <p>LatinX in AI is hosting a new mentoring program alongside our official workshops. The LatinX in AI Mentoring Program requires mentor and mentees to meet once a month, premiering May 8th to the day of the workshop at ICML on July 13th, 2020. On this day, some mentees will be asked to share their experience and the learnings they obtained from the program.</p>

      <p><strong>Sign-up to be a mentor:</strong> <a target="_blank" href="https://forms.gle/esNHqvuzbnTNYvJd7">Mentor Signup</a></p>
      <p><strong>Sign-up to recieve mentoring:</strong> <a target="_blank" href="https://forms.gle/vXR9tkCPRuhd65MN7">Mentee Signup</a></p>

      <p>Following the completion of this program, you'll be asked to complete a quick survey about your experience and opportunities for our improvement. Mentors who complete the program and survey are eligible to receive a $25 gift card as a token of appreciation on behalf of LatinX in AI.</p> -->

      <!-- <div class="user-projects" id="call-workshop">
        <div class="images-right">
          <img alt="LXAI Logo" src="./assets/img/logo/LXAI-logo-black.png" />
        </div>
        <div class="contents">
          <h3>Important Dates</h3>
          <ul>
            <li>April 13th, 2020: <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScOH-h3cWL1MGRJfFXFidQ27rPqyO-USuL6zK3QXvEn9hb9vA/viewform">LXAI at ICLR Registation Assistance Application Deadline</a></li>
            <li>April 28th, 2020: <a target="_blank" href=''>[LatinX in AI Mentoring Program] Call for Mentors Deadline</a></li>
            <li>April 28th, 2020: <a target="_blank" href=''>[LatinX in AI Mentoring Program] Call for Mentees Deadline</a></li>
            <li>April 26th -30th, 2020: <a target="_blank" href="https://iclr.cc/">ICLR 2020</a></li>
            <li>April 27th, 2020: <a target="_blank" href='https://lxai-iclr-2020.eventbrite.com'>LXAI Virtual Social</a></li>
          </ul>
          <a class="project-link" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScOH-h3cWL1MGRJfFXFidQ27rPqyO-USuL6zK3QXvEn9hb9vA/viewform">LXAI ICLR Registration Assistance 
              Application</a>
        </div>
      </div> -->

      <br/><hr>
    <div id="workshopProgram">
        <h2>Schedule</h2>
        <h3>Tue Nov 17th, 09:00 - 11:00 am PST</h3>
        <div class="workshopSchedule">
          <table>
            <tr>
              <th>time</th>
              <th>item</th>
            </tr>
            <tr>
              <td>09:00 am PST</td> 
              <td>Thiago Castro Ferreira</td>
            </tr>
            <tr>
              <td>09:20 am PST</td>
              <td>Networking </td>
            </tr>
            <tr>
              <td>09:30 am PST</td>
              <td>Laura Alonso Alemany</td>
            </tr>
            <tr>
              <td>09:50 am PST</td>
              <td>Networking</td>
            </tr>
            <tr>
              <td>10:00 am PST</td>
              <td>Manuel Medina González</td>
            </tr>
            <tr>
              <td>10:15 am PST</td>
              <td>Networking</td>
            </tr>
            <tr>
              <td>10:30 am PST</td>
              <td>Thamar Solorio</td>
            </tr>
            <tr>
              <td>10:50 am PST</td>
              <td>Networking</td>
            </tr>
          </table>  
        </div>
        <h3>Tue Nov 18th, 10:00 am - 12:00 pm PST</h3>
        <div class="workshopSchedule">
          <table>
            <tr>
              <th>time</th>
              <th>item</th>
            </tr>
            <tr>
              <td>10:00 am PST</td> 
              <td>Ximena Gutiérrez-Vasques</td>
            </tr>
            <tr>
              <td>10:20 am PST</td>
              <td>Aiala Rosá </td>
            </tr>
            <tr>
              <td>10:40 am PST</td>
              <td>Francisco (Paco) Guzman</td>
            </tr>
            <tr>
              <td>11:00 am PST</td>
              <td>Diversity Panel and Q & A from Participants</td>
            </tr>
            <tr>
              <td>11:40 am PST</td>
              <td>Q & A from Participants and Socializing</td>
            </tr>
          </table>  
        </div>
    </div> 

      <br/><hr>
    <!-- Keynote Grid Section -->
    <section id="speakers" >
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Keynote Speakers</h2>
            <h3 class="section-subheading text-muted"></h3>
          </div>
        </div>
        <div class="grid">
          {% assign featuredItems = site.tags.keynote-emnlp2020 | sort: "featuredOrder" %} 
          {% for post in featuredItems %}
          <div class="cell speakers-item">
            <a href="{{post.website}}" target="_blank" class="speakers-link">
              <div class="speakers-hover">
                <div class="speakers-hover-content">
                  <p>{{post.topic}}</p>
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img src="/assets/img/emnlp/2020/{{ post.img }}" class="responsive-image img-centered desaturate" alt="">
            </a>
            <div class="speakers-caption">
              <h4>{{ post.name }}</h4>
              <p class="text-muted">{{ post.title }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

      <hr>
      <div id="workshop-org">
        <h3>Organizing Committee</h3>
        <ul>
          <li>Diana Galván Sosa, Tohoku University</li>
        <li>Luciana Benotti, Universidad Nacional de Cordoba in Argentina</li>
        </ul>
      </div>
  </div>
  