<div class="workshop-header" id="workshopHeader">
    <a href="/" class="logo"><img src="./assets/img/logo/LXAI-navlogo.png"></a>
    <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>
    <input type="checkbox" id="nav-check">
    <div class="workshop-header-right">
        <a  href="/neurips-2020#workshop-intro">Intro</a>
        <a href="https://lxai-neurips-2020.eventbrite.com/" target="_blank">Register</a>
        <a href="/neurips-2020#call-workshop">Call for participation</a>
        <!-- <a href="/neurips-2020#MentoringProgram">Mentoring</a> -->
        <a href="/neurips-2020#workshopSponsors">Sponsors</a>
        <!-- <a href="/neurips-2020#speakers">Keynotes</a> -->
        <a href="/neurips-2020#workshop-org">Organizers</a>
        <!-- <a href="/neurips-2020-presenters">Presenters</a> -->
        <!-- <a href="http://www.latinxinai.org/neurips-2020#workshopLogistics">Logistics</a> -->
        <a href="#contact">Contact</a>

    </div>
</div>

<style>
    .label-default {
        background-color: #777;
    }
    .label-success {
        background-color: #5cb85c;
    }

    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
    }
</style>

<script>
    window.onscroll = function() {myFunction()};

    var header = document.getElementById("workshopHeader");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }
</script>
