<!-- Speakers Grid Section -->
<section id="speakers" class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Speakers</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <div class="grid">
      {% assign featuredItems = site.tags.oral-neurips2020 | sort: "featuredOrder" %}
      {% for post in featuredItems %}
      <div class="cell speakers-item">
        <a href="{{post.website}}" target="_blank" class="speakers-link">
          <img src="/assets/img/neurips/2020/presenters/{{ post.img }}" class="responsive-image img-centered" alt="" height="300" >
        </a>
        <div class="speakers-caption">
          <h4>{{ post.name }}</h4>
          <p>{{ post.title }}</p>
          <h5>{{ post.topic }}</h5>

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>



<div class="container">


  <div class="blog-header">
    <h1 class="blog-title">Accepted Papers</h1>
  </div>

  <div class="row">

    <div class="col-sm-8 blog-main">

      <div class="blog-post schedule">
        <h2></h2>
        <p>
<!--          <style type="text/css">-->
<!--            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}-->
<!--            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}-->
<!--            .tg .tg-0lax{text-align:left;vertical-align:top}-->
<!--          </style>-->


        </p><table rules="rows" class="table" style="table-layout: fixed; width: 100%">
        <colgroup>
          <col style="width: 79px">
          <col style="width: 300px">
          <col style="">
        </colgroup>
        <tbody><tr>
          <th ><h4>Paper ID</h4></th>
          <th ><h4>Paper Title</h4></th>
          <th ><h4>Author Names</h4></th>
        </tr>


        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 35
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Oral_Heitor_Repela.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Oral_Heitor_Repela-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Deep Clustering Self-Organizing Maps with Relevance Learning
            <!-- tag -->
            <br> <small><span class="label label-success"> Deep Learning </span></small>
            <!-- category -->
            <small> <span class="label label-default"> oral</span></small>
          </td>

          <td class="tg-0lax"> Medeiros, Heitor R.; Braga, Pedro H. M.; Bassani, Hansenclever F.</td>
        </tr>
        <!--Finish one author-->

        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 4
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Oral_Gilberto_Ochoa.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Oral_Gilberto_Ochoa-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>A System for Crowd Counting in Highly Congested Scenes Geared Towards Smart Transportation System
            <!-- tag -->
            <br><small><span class="label label-success"> Deep Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default"> oral</span></small>
          </td>

          <td class="tg-0lax"> Ochoa-Ruiz, Gilberto</td>
        </tr>
        <!--Finish one author-->

        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 39
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Oral_Lisette_Spin.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Oral_Lisette_Spin-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Quantifying Biases in Attribute Inference on Social Networks
            <!-- tag -->
            <br>  <small><span class="label label-success"> Machine Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default"> oral</span></small>
          </td>

          <td class="tg-0lax"> Espín Noboa, Lisette  E.; Karimi, Fariba; Ribeiro, Bruno; Lerman, Kristina; Wagner, Claudia</td>
        </tr>
        <!--Finish one author-->

        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 30
            <br>
            <a target="" href="./assets/pdf/neurips2020/all_posters/pdf/Oral_Camilo_Thorne.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="" href="./assets/pdf/neurips2020/all_posters/png/Oral_Camilo_Thorne-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Word Embeddings for Chemical Patent Natural Language Processing
            <!-- tag -->
            <br> <small><span class="label label-success"> Applications</span></small>
            <!-- category -->
            <small> <span class="label label-default"> oral</span></small>
          </td>

          <td class="tg-0lax"> Thorne, Camilo</td>
        </tr>
        <!--Finish one author-->

        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 19
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Oral_Daniel_Saromo.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Oral_Daniel_Saromo-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Smart Sensor Calibration with Auto-Rotating Perceptrons
            <!-- tag -->
            <br>  <small><span class="label label-success"> Applications</span></small>
            <!-- category -->
            <small> <span class="label label-default"> oral</span></small>
          </td>

          <td class="tg-0lax"> Saromo Mori, Daniel A.; Bravo, Leonardo; Villota Cerna, Elizabeth</td>
        </tr>
        <!--Finish one author-->

        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 10
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Oral_Sergio_Garrido.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Oral_Sergio_Garrido-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>A Bayesian Time Series Model of Coca Leaf Production in Colombia
            <!-- tag -->
            <br> <small><span class="label label-success"> Applications</span></small>
            <!-- category -->
            <small> <span class="label label-default"> oral</span></small>
          </td>

          <td class="tg-0lax"> Garrido Mejia, Sergio H.; Isaza, Emiliano</td>
        </tr>
        <!--Finish one author-->

        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 24
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Oral_Andres_Muñoz.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Oral_Andres_Muñoz-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Duff : A Dataset-Based Utility Function Family for the Exponential Mechanism
            <!-- tag -->
            <br> <small><span class="label label-success"> main topic</span></small>
            <!-- category -->
            <small> <span class="label label-default"> oral</span></small>
          </td>

          <td class="tg-0lax"> Muñoz, Andres; Gillenwater, Jennifer</td>
        </tr>
        <!--Finish one author-->

        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 38
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Oral_Thiago_Serra.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Oral_Thiago_Serra-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Lossless Compression of Deep Neural Networks
            <!-- tag -->
            <br> <small><span class="label label-success"> Deep Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default"> oral</span></small>
          </td>

          <td class="tg-0lax"> Serra, Thiago; Kumar, Abhinav; Ramalingam, Srikumar</td>
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 2
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Oral_Daniel_Rui.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Oral_Daniel_Rui-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Application of Bayesian Techniques to Multi-omic Longitudinal Data
            <!-- tag -->
            <br> <small><span class="label label-success"> Machine Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default"> oral</span></small>
          </td>

          <td class="tg-0lax"> Ruiz-Perez, Daniel; Lugo-Martinez, Jose; Bar-Joseph, Ziv; Narasimhan, Giri</td>
        </tr>
        <!--Finish one author-->

        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 34
            <br>
            <a target="" href="./assets/pdf/neurips2020/all_posters/pdf/Oral_Gabriel_Moreira.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="" href="./assets/pdf/neurips2020/all_posters/png/Oral_Gabriel_Moreira-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Hybrid Session-based News Recommendation using Recurrent Neural Networks
            <!-- tag -->
            <br>  <small><span class="label label-success"> Applications</span></small>
            <!-- category -->
            <small> <span class="label label-default"> oral</span></small>
          </td>

          <td class="tg-0lax"> Moreira, Gabriel S. P.; Jannach, Dietmar; Cunha, Adilson</td>
        </tr>
        <!--Finish one author-->

        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 15
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Poster_Angel_Ayala.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Poster_Angel_Ayala-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>KutralNet: A Portable Deep Learning Model for Fire Recognition
            <!-- tag -->
            <br> <small><span class="label label-success"> Deep Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default"> poster</span></small>
          </td>

          <td class="tg-0lax"> Ayala, Angel; Fernandes, Bruno; Cruz, Francisco; Macêdo, David; Oliveira, Adriano; Zanchettin, Cleber</td>
        </tr>
        <!--Finish one author-->

        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 26
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Poster_Darwin_Danilo.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Poster_Darwin_Danilo-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Semantic Segmentation Through Graph Neural Network Blocks
            <!-- tag -->
            <br> <small><span class="label label-success"> Deep Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default"> poster</span></small>
          </td>

          <td class="tg-0lax"> Saire Pilco, Darwin D.; Tabbone, Salvatore-Antoine</td>
        </tr>
        <!--Finish one author-->

        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 40
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Poster_Lissete_Spin.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Poster_Lissete_Spin-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>When Do Ranking Algorithms Reinforce, Replicate, or Weaken Inequalities in Directed Social Networks?
            <!-- tag -->
            <br> <small><span class="label label-success"> Applications</span></small>
            <!-- category -->
            <small> <span class="label label-default"> poster</span></small>
          </td>

          <td class="tg-0lax"> Espín Noboa, Lisette  E.; Karimi, Fariba; Strohmaier, Markus; Wagner, Claudia</td>
        </tr>
        <!--Finish one author-->

        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 13
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Poster_Guillermo%20Castillo.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Poster_Guillermo%20Castillo-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Feedback Controller for 3D Dynamic Walking using Reinforcement Learning and Hybrid Zero Dynamics
            <!-- tag -->
            <br> <small><span class="label label-success"> Reinforcement Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default"> poster</span></small>
          </td>

          <td class="tg-0lax"> Castillo Martinez, Guillermo A.; Weng, Bowen; Zhang, Wei ; Hereid, Ayonga</td>
        </tr>
        <!--Finish one author-->

        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 18
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Poster_Lourdes_Ramirez.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Poster_Lourdes_Ramirez-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Dynamic Sign Language Recognition combining Dynamic Images and Convolutional Neural Networks
            <!-- tag -->
            <br> <small><span class="label label-success"> Deep Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default"> poster</span></small>
          </td>

          <td class="tg-0lax"> Ramírez Cerna, Lourdes; Escobedo Cardenas, Edwin J.</td>
        </tr>
        <!--Finish one author-->

        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 28
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Poster_Monica_Ribero.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Poster_Monica_Ribero-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Reduced Communication in Federated Learning through Optimal Client Sampling
            <!-- tag -->
            <br>   <small><span class="label label-success"> Machine Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default"> poster</span></small>
          </td>

          <td class="tg-0lax"> Ribero Diaz, Monica; Vikalo, Haris</td>
        </tr>
        <!--Finish one author-->

        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 23
            <br>
            <a target="" href="./assets/pdf/neurips2020/all_posters/pdf/Poster_Daniel_Palomino.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="" href="./assets/pdf/neurips2020/all_posters/png/Poster_Daniel_Palomino-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Breaking the State of the Art in dialects of Spanish Sentiment Analysis
            <!-- tag -->
            <br>  <small><span class="label label-success"> Deep Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default"> poster</span></small>
          </td>

          <td class="tg-0lax"> Palomino Paucar; Daniel Alfredo</td>
        </tr>
        <!--Finish one author-->

        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 6
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Poster_Alejandro_Murillo.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Poster_Alejandro_Murillo-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Laguerre-Gauss Preprocessing: Line Profiles as Image Features for Aerial Images Classification
            <!-- tag -->
            <br>  <small><span class="label label-success"> Applications</span></small>
            <!-- category -->
            <small> <span class="label label-default"> poster</span></small>
          </td>

          <td class="tg-0lax"> Murillo González, Alejandro</td>
        </tr>
        <!--Finish one author-->

        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 14
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Poster_Jeffri_murrugarra.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Poster_Jeffri_murrugarra-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Word Embeddings to Analyze Peruvian Computing Curriculums
            <!-- tag -->
            <br> <small><span class="label label-success"> Applications</span></small>
            <!-- category -->
            <small> <span class="label label-default"> poster</span></small>
          </td>

          <td class="tg-0lax"> Murrugarra Llerena, Jeffri</td>
        </tr>
        <!--Finish one author-->

        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 32
            <br>
            <a target="" href="./assets/pdf/neurips2020/all_posters/pdf/Poster_Douglas_Cordeiro.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="" href="./assets/pdf/neurips2020/all_posters/png/Poster_Douglas_Cordeiro-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Identification of Circulating Information on Corruption in Brazil using Data Mining and Machine Learning
            <!-- tag -->
            <br>   <small><span class="label label-success"> Applications</span></small>
            <!-- category -->
            <small> <span class="label label-default"> poster</span></small>
          </td>

          <td class="tg-0lax"> Cordeiro, Douglas F.; Da Silva, Núbia; Cassiano, Katia K.</td>
        </tr>
        <!--Finish one author-->

        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 25
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Poster_Pedro_Henrique.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Poster_Pedro_Henrique-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Adversarial effects of intermediate latency in Active Learning on Data Streams
            <!-- tag -->
            <br>  <small><span class="label label-success"> Machine Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default"> poster</span></small>
          </td>

          <td class="tg-0lax"> Parreira, Pedro  Henrique; Prati, Ronaldo Cristiano</td>
        </tr>
        <!--Finish one author-->

        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 31
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Poster_Marin_Palazzo.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Poster_Marin_Palazzo-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Kernel Latent Regularization for Feature Selection in Tumor Classification
            <!-- tag -->
            <br>  <small><span class="label label-success"> Machine Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default"> poster</span></small>
          </td>

          <td class="tg-0lax"> Palazzo, Martin; Yankilevich, Patricio; Beauseroy, Pierre</td>
        </tr>
        <!--Finish one author-->

        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 3
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Poster_Gilberto_Ochoa.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Poster_Gilberto_Ochoa-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Towards an Automated Classification Method for Ureteroscopic in vivo Kidney Stone Images using Machine Learning Techniques
            <!-- tag -->
            <br>  <small><span class="label label-success"> Machine Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default"> poster</span></small>
          </td>

          <td class="tg-0lax"> Ochoa-Ruiz, Gilberto</td>
        </tr>
        <!--Finish one author-->

        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 1
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Poster_Felipe_Polo.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Poster_Felipe_Polo-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Predicting Legal Proceedings Status: an Approach Based on Sequential Texts &#10
            <!-- tag -->
            <br>   <small><span class="label label-success" > Applications</span></small>
            <!-- category -->
            <small> <span class="label label-default"> poster</span></small>
          </td>

          <td class="tg-0lax"> Polo, Felipe Maia; Ciochetti, Itamar; Bertolo, Emerson</td>
        </tr>
        <!--Finish one author-->

        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 29
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Poster_Nubia_Rosa.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Poster_Nubia_Rosa-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Impacts, Potentials, and Trends of Machine Learning in Industry 4.0: An Overview
            <!-- tag -->
            <br>   <small><span class="label label-success"> Applications</span></small>
            <!-- category -->
            <small> <span class="label label-default"> poster</span></small>
          </td>

          <td class="tg-0lax"> Oliveira, Maíza; Cordeiro, Douglas; Da Silva, Núbia Rosa</td>
        </tr>
        <!--Finish one author-->

        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 22
            <br>
            <a target="" href="#"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="" href="#"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>A Comparative Analysis of COVID-19 Trends in Colombia for Policy Makers
            <!-- tag -->
            <br>  <small><span class="label label-success"> Applications</span></small>
            <!-- category -->
            <small> <span class="label label-default"> poster</span></small>
          </td>

          <td class="tg-0lax"> Diaz Herrera, Diana M</td>
        </tr>
        <!--Finish one author-->

        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 16
            <br>
            <a target="" href="#"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="" href="#"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Beacon Classifier
            <!-- tag -->
            <br> <small><span class="label label-success"> Machine Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default"> poster</span></small>
          </td>

          <td class="tg-0lax"> Meraz, Vanessa J; Jorge Munoz</td>
        </tr>
        <!--Finish one author-->

        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 42
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Poster_Rodrigo_Rivera.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Poster_Rodrigo_Rivera-1.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Topologically-based Variational Autoencoder for Time Series Classification
            <!-- tag -->
            <br> <small><span class="label label-success"> Applications</span></small>
            <!-- category -->
            <small> <span class="label label-default"> poster</span></small>
          </td>

          <td class="tg-0lax"> Rivera, Rodrigo</td>
        </tr>
        <!--Finish one author-->





        </tbody></table>



    </div><!-- /.row -->

  </div><!-- /.container -->
</div><!-- /.blog-post -->

</div><!-- /.blog-main -->
