<!-- Speakers Grid Section -->
<section id="speakers" class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Speakers</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <div class="grid">
      {% assign featuredItems = site.tags.oral-neurips2020 | sort: "featuredOrder" %}
      {% for post in featuredItems %}
      <div class="cell speakers-item">
        <a href="{{post.website}}" target="_blank" class="speakers-link">
          <img src="/assets/img/neurips/2020/presenters/{{ post.img }}" class="responsive-image img-centered" alt="" height="300" >
        </a>
        <div class="speakers-caption">
          <h4>{{ post.name }}</h4>
          <p>{{ post.title }}</p>
          <h5>{{ post.topic }}</h5>

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>



<div class="container">


  <div class="blog-header">
    <h1 class="blog-title">Accepted Papers</h1>
  </div>

  <div class="row">

    <div class="col-sm-8 blog-main">

      <div class="blog-post schedule">
        <h2></h2>
        <p>
<!--          <style type="text/css">-->
<!--            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}-->
<!--            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}-->
<!--            .tg .tg-0lax{text-align:left;vertical-align:top}-->
<!--          </style>-->
        </p><table rules="rows" class="table" style="table-layout: fixed; width: 100%">
        <colgroup>
          <col style="width: 10%">
          <col style="width: 50%">
          <col style="width: 40%">
        </colgroup>
        <tbody><tr>
          <th ><h4>Paper ID</h4></th>
          <th ><h4>Paper Title</h4></th>
          <th ><h4>Author Names</h4></th>
        </tr>
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 3
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/carrion_short-presentation_3.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/carrion_short-presentation_3.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Analysis of factors that influence the performance of biometric systems based on EEG signals
            <!-- tag -->
            <br> <small><span class="label label-success">Applications</span></small>
            <!-- category -->
            <small> <span class="label label-default">Poster</span></small>
          </td>

          <td class="tg-0lax">Carrion, Dustin Javier*; Fonseca-Delgado, Rigoberto; Pineda, Israel
        </tr>
        <!--Finish one author-->
                <!--begin one author-->
                <tr>
                  <td class="tg-0lax"> 5
                    <br>
                    <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Ciprian-Sanchez_short_5.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
                    <br>
                    <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Ciprian-Sanchez_short_5.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
                  </td>
        
                  <td class="tg-0lax">
                    <!-- extra -->
                    <br>Deep Learning model for wildfire detection through the fusion of visible and infrared information	
                    <!-- tag -->
                    <br> <small><span class="label label-success">Deep Learning</span></small>
                    <!-- category -->
                    <small> <span class="label label-default">Poster</span></small>
                  </td>
        
                  <td class="tg-0lax">Ciprián-Sánchez, Jorge F*; Ochoa-Ruiz, Gilberto
                </tr>
        <!--Finish one author-->
<!--begin one author-->
<tr>
  <td class="tg-0lax"> 6
    <br>
    <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/venzor_longpresentation_6.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
    <br>
    <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/venzor_longpresentation_6.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
  </td>

  <td class="tg-0lax">
    <!-- extra -->
    <br>Severe Weather Prediction Using Lightning Data
    <!-- tag -->
    <br> <small><span class="label label-success"> Applications </span></small>
    <!-- category -->
    <small> <span class="label label-default"> oral</span></small>
  </td>

  <td class="tg-0lax"> Venzor, Iván*; ahmed, nadia; Molina, Maria J; Slipski, Marek</td>
</tr>
<!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 7
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Vietri_longtalk_7.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Vietri_longtalk_7.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Private Reinforcement Learning with PAC and Regret Guarantees	
            <!-- tag -->
            <br> <small><span class="label label-success">Reinforcement Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default">Oral</span></small>
          </td>

          <td class="tg-0lax">Vietri, Giuseppe*; Balle, Borja; Krishnamurthy, Akshay; Wu, Steven
        </tr>
        <!--Finish one author-->
                <!--begin one author-->
                <tr>
                  <td class="tg-0lax"> 8
                    <br>
                    <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Perez-Guerrero_Short_8.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
                    <br>
                    <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Perez-Guerrero_Short_8.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
                  </td>
        
                  <td class="tg-0lax">
                    <!-- extra -->
                    <br>Semantic Segmentation of Jet Fire Temperature Zones using Deep Learning	
                    <!-- tag -->
                    <br> <small><span class="label label-success">Neural Networks</span></small>
                    <!-- category -->
                    <small> <span class="label label-default">Poster</span></small>
                  </td>
        
                  <td class="tg-0lax">Pérez-Guerrero, Carmina*; Ciprián-Sánchez, Jorge F; Mendez-Ruiz, Mauricio; Ochoa-Ruiz, Gilberto
                </tr>
                <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 9
      
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Miret_ShortPresentation_Paper9.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Miret_short_9.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Safety Aware Reinforcement Learning (SARL)
            <!-- tag -->
            <br> <small><span class="label label-success">Reinforcement Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default"> poster </span></small>
          </td>

          <td class="tg-0lax">Miret, Santiago*; Majumdar, Somdeb; Wainwright, Carroll
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 10
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Rühling-Cachay_LONG_10.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Rühling-Cachay_LONG_10.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Model Misspecification in Multiple Weak Supervision	
            <!-- tag -->
            <br> <small><span class="label label-success">Probabilistic Methods</span></small>
            <!-- category -->
            <small> <span class="label label-default">Oral</span></small>
          </td>

          <td class="tg-0lax">Rühling Cachay, Salva*; Boecking, Benedikt; Dubrawski, Artur
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 12
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Narvaez_short_12.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Narvaez_short_12.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Inferring Aggressive Driving Behavior from Smartphone Data – Smartphone’s sensors meetInception
            <!-- tag -->
            <br> <small><span class="label label-success">Applications</span></small>
            <!-- category -->
            <small> <span class="label label-default">Poster</span></small>
          </td>

          <td class="tg-0lax">Narvaez, Aarón; González, Luis*; Wahlström, Johan
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 13
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/GonzalezSoto_LongPresentation_13.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/GonzalezSoto_LongPresentation_13.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Learning a causal structure: a Bayesian Random Graph approach	
            <!-- tag -->
            <br> <small><span class="label label-success">Probabilistic Methods</span></small>
            <!-- category -->
            <small> <span class="label label-default">Oral</span></small>
          </td>

          <td class="tg-0lax">Gonzalez-Soto, Mauricio*; Feliciano-Avelino, Ivan; Succar, Luis E.; Escalante, Hugo Jair
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 18
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Mojica-Nava_Shortpresentation_Paper_18.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Mojica-Nava_Shortpresentation_Paper_18.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Robust Asynchronous and Network-Independent Cooperative Learning	
            <!-- tag -->
            <br> <small><span class="label label-success">Optimization</span></small>
            <!-- category -->
            <small> <span class="label label-default">Poster</span></small>
          </td>

          <td class="tg-0lax">Mojica-Nava, Eduardo*; Uribe, Cesar A; Yanguas, David
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 19
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Obando_poster_19.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Obando_poster_19.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Revisiting Rainbow: Promoting more insightful and inclusive deep reinforcement learning research	
            <!-- tag -->
            <br> <small><span class="label label-success">Reinforcement Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default">Poster</span></small>
          </td>

          <td class="tg-0lax">Obando Ceron, Johan Samir*; Castro, Pablo Samuel
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 21
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/JavierOrduz_short.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/JavierOrduz_short.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Quantum Machine Learning concepts and applications	
            <!-- tag -->
            <br> <small><span class="label label-success">Machine Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default">Poster</span></small>
          </td>

          <td class="tg-0lax">Orduz-Ducuara, Javier  Andrés*; Iyer, Vijayasri
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 23
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/pino_short_23.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/pino_short_23.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Inspecting state of the art performance and NLP metrics in image-based medical report generation
            <!-- tag -->
            <br> <small><span class="label label-success">Applications</span></small>
            <!-- category -->
            <small> <span class="label label-default">Poster</span></small>
          </td>

          <td class="tg-0lax">Pino, Pablo D*; Parra, Denis; Messina, Pablo
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 27
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/ArriagaVarela_short_presentation_27.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/ArriagaVarela_short_presentation_27.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Automatic Georeferencing of Map Images Using Unsupervised Learning and Graph Analysis	
            <!-- tag -->
            <br> <small><span class="label label-success">Pattern Recognition</span></small>
            <!-- category -->
            <small> <span class="label label-default">Poster</span></small>
          </td>

          <td class="tg-0lax">Arriaga-Varela, Enrique J*; Takahashi, Toru
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 32
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/moya_short_32.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/moya_short_32.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>A Quaternion Monogenic Layer Resilient to Large Brightness Changes in Image Classification
            <!-- tag -->
            <br> <small><span class="label label-success">Deep Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default">Poster</span></small>
          </td>

          <td class="tg-0lax">Sanchez, Abraham; Moya, Eduardo Ulises*; Xambo, Sabastia; Salazar-Colores, Sebastian; Cortes, Ulises
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 33
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Arriaga-Valdenegro_LongPresentation_33.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Arriaga-Valdenegro_LongPresentation_33.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Unsupervised Difficulty Estimation
            <!-- tag -->
            <br> <small><span class="label label-success">Deep Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default">Oral</span></small>
          </td>

          <td class="tg-0lax">Arriaga, Octavio; Valdenegro-Toro, Matias*
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 34
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Pfeifer_ValdenegroToro_ShortPres_34.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Pfeifer_ValdenegroToro_ShortPres_34.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Automatic Detection and Classification of Tick-borne Skin Lesions using Deep Learning
            <!-- tag -->
            <br> <small><span class="label label-success">Applications</span></small>
            <!-- category -->
            <small> <span class="label label-default">Poster</span></small>
          </td>

          <td class="tg-0lax">Pfeifer, Lauren M; Valdenegro-Toro, Matias*
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 35
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/venzor_longpresentation_6.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/venzor_longpresentation_6.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Severe Weather Prediction Using Lightning Data
            <!-- tag -->
            <br> <small><span class="label label-success"> Applications </span></small>
            <!-- category -->
            <small> <span class="label label-default"> oral</span></small>
          </td>

          <td class="tg-0lax"> Venzor, Iván*; ahmed, nadia; Molina, Maria J; Slipski, Marek</td>
        </tr>
        <!--Finish one author-->

          <!--begin one author-->
          <tr>
            <td class="tg-0lax"> 39
              <br>
              <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/gonzalezbello_longpresentation_39.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
              <br>
              <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/gonzalezbello_longpresentation_39.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
            </td>
  
            <td class="tg-0lax">
              <!-- extra -->
              <br>Forget About the LiDAR: Self-Supervised Depth Estimators with MED Probability Volumes	
              <!-- tag -->
              <br> <small><span class="label label-success">Applications</span></small>
              <!-- category -->
              <small> <span class="label label-default">Oral</span></small>
            </td>
  
            <td class="tg-0lax">Gonzalez, Juan Luis*
          </tr>
          <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 40
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Carvalho_Long_40.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Carvalho_Long_40.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>An evaluation metric for generative models using hierarchical clustering	
            <!-- tag -->
            <br> <small><span class="label label-success">Deep Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default">Oral</span></small>
          </td>

          <td class="tg-0lax">Sutter P. Carvalho, Gustavo*; Ponti, Moacir A
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 42
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/polo_short_42.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/polo_short_42.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Covariate Shift Adaptation in High-Dimensional and Divergent Distributions
            <!-- tag -->
            <br> <small><span class="label label-success">Machine Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default">Poster</span></small>
          </td>

          <td class="tg-0lax">Polo, Felipe Maia*; Vicente, Renato
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 45
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Maqueda_short_45.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Maqueda_short_45.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Towards forensic speaker identification in Spanish using triplet loss	
            <!-- tag -->
            <br> <small><span class="label label-success">Natural Language Processing</span></small>
            <!-- category -->
            <small> <span class="label label-default">Poster</span></small>
          </td>

          <td class="tg-0lax">Maqueda, Emmanuel ; Meza Ruiz, Ivan Vladimir *; Alvarez Jiménez, Javier
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 46
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Ariel_RuizGarcia_long_46.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Ariel_RuizGarcia_long_46.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Generative Adversarial Stacked Autoencoders	
            <!-- tag -->
            <br> <small><span class="label label-success">Deep Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default">Oral</span></small>
          </td>

          <td class="tg-0lax">Ruiz-Garcia, Ariel*; Almakky, Ibrahim; Hicks, Luke; Palade, Vasile
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 47
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/lima_long_presentation_47.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/lima_long_presentation_47.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Binary Segmentation of Seismic Facies Using Encoder-Decoder Neural Networks
            <!-- tag -->
            <br> <small><span class="label label-success">Deep Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default">Oral</span></small>
          </td>

          <td class="tg-0lax">Lima, Gefersom G*; Ramos, Gabriel; Rigo, Sandro; Zeiser, Felipe; Silveira, Ariane
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 48
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Hicks_Poster_48.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Hicks_Poster_48.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Self-Supervised Transformers for Activity Classification using Ambient Sensors	
            <!-- tag -->
            <br> <small><span class="label label-success">Applications</span></small>
            <!-- category -->
            <small> <span class="label label-default">Poster</span></small>
          </td>

          <td class="tg-0lax">Hicks, Luke R*; Ruiz-Garcia, Ariel; Palade, Vasile; Almakky, Ibrahim
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 49
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/delarosa_short_presentation_49.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/delarosa_short_presentation_49.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Predicting metrical patterns in Spanish poetry with language models              
            <!-- tag -->
            <br> <small><span class="label label-success">Applications</span></small>
            <!-- category -->
            <small> <span class="label label-default">Poster</span></small>
          </td>

          <td class="tg-0lax">de la Rosa, Javier*; Ros, Salvador; González-Blanco, Elena
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 50
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Araque_Long oral_50.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Araque_Long oral_50.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Study, Attend and Predict: Academic Performance Prediction using Transformers
            <!-- tag -->
            <br> <small><span class="label label-success">Deep Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default">Oral</span></small>
          </td>

          <td class="tg-0lax">Araque, Nicolas*; Catapano, Mario; Digenaro, Massimo
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 51
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/MOLINA_long_51.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/MOLINA_long_51.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Performance Variability in Zero-Shot Classification	              
            <!-- tag -->
            <br> <small><span class="label label-success">Machine Learning</span></small>
            <!-- category -->
            <small> <span class="label label-default">Oral</span></small>
          </td>

          <td class="tg-0lax">Molina, Matias  Daniel*; Sanchez, Jorge
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 52
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/ochoa_longtalk_52.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/ochoa_longtalk_52.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Robust Optimization over Networks Using Distributed Restarting of Accelerated Dynamics
            <!-- tag -->
            <br> <small><span class="label label-success">Optimization</span></small>
            <!-- category -->
            <small> <span class="label label-default">Oral</span></small>
          </td>

          <td class="tg-0lax">Ochoa, Daniel E*; Poveda, Jorge I.; Uribe, Cesar A; Quijano, Nicanor
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 53
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/Palomino_LongTalk_53.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/Palomino_LongTalk_53.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Overcoming Transformer Fine-Tuning process to improve Twitter Sentiment Analysis for Spanish Dialects	
            <!-- tag -->
            <br> <small><span class="label label-success">Natural Language Processing</span></small>
            <!-- category -->
            <small> <span class="label label-default">Oral</span></small>
          </td>

          <td class="tg-0lax">Palomino Paucar, Daniel Alfredo*
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 55
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/orozcocamacho_poster_55.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/orozcocamacho_poster_55.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Graph Neural Networks Learn Twitter Bot Behaviour	
            <!-- tag -->
            <br> <small><span class="label label-success">AI for Social Good</span></small>
            <!-- category -->
            <small> <span class="label label-default">Poster</span></small>
          </td>

          <td class="tg-0lax">Orozco Camacho, Albert M*
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 56
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/GUARANDA_LONG_56.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/GUARANDA_LONG_56.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Detecting Damaged Regions after Natural Disasters using Mobile Phone Data: The Case of Ecuador	
            <!-- tag -->
            <br> <small><span class="label label-success">Applications</span></small>
            <!-- category -->
            <small> <span class="label label-default">Oral</span></small>
          </td>

          <td class="tg-0lax">Castillo-López, Galo; Guaranda, María  Belén*; Layedra, Fabricio; Vaca, Carmen
        </tr>
        <!--Finish one author-->
        <!--begin one author-->
        <tr>
          <td class="tg-0lax"> 62
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/pdf/carvallo_longPresentation_62.pdf"><img src="./assets/img/neurips/2020/icons/pdf.png" height="30"></a>
            <br>
            <a target="_blank" href="./assets/pdf/neurips2020/all_posters/png/carvallo_longPresentation_62.png"><img src="./assets/img/neurips/2020/icons/poster.png" height="30"></a>
          </td>

          <td class="tg-0lax">
            <!-- extra -->
            <br>Neural language models for text classification in evidence-based medicine              
            <!-- tag -->
            <br> <small><span class="label label-success">	
              Natural Language Processing</span></small>
            <!-- category -->
            <small> <span class="label label-default">Oral</span></small>
          </td>

          <td class="tg-0lax">Carvallo, Andres*; Parra, Denis; Rada , Gabriel; Perez, Daniel; Vasquez, Juan; Vergara, Camilo
        </tr>
        <!--Finish one author-->

        </tbody>
      </table>

    </div><!-- /.row -->

  </div><!-- /.container -->
</div><!-- /.blog-post -->

</div><!-- /.blog-main -->
