<div class="nips-schedule; text-center">
    <h4 style="color: firebrick">
        If you own a Google account, please consider importing the calendar below.
        <br>
        Zoom link and Gather link are in the details of the "Online check-in" (7.30am) and "Poster Session" (5pm) events.
        <br>
        Happy Workshop!
    </h4>
    <iframe src="https://calendar.google.com/calendar/embed?height=800&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=ZDExNnIzNGI4MjcxcHZvbDNoYmowc2JyOWdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23795548&amp;mode=AGENDA&amp;showCalendars=0&amp;showTabs=0&amp;showPrint=0&amp;showDate=0&amp;showNav=0&amp;showTitle=1&amp;title=LXAI%20%40%20ICML" style="border-width:0" width="1200" height="800" frameborder="0" scrolling="no"></iframe>
</div>
