 <div class="about-details" id="nipsIntro">
  <h2> LatinX in AI Research at NeurIPS 2019 </h2>
  <section class="workshop-intro">
    <p>The Official LXAI Research Workshop is co-located with <a href="https://neurips.cc/">NeurIPS</a> at the <a href="https://congresmtl.com/">Vancouver Convention Center</a> in Vancouver CANADA on Monday, December 9th, 2019.</p>
    <img alt="montreal" src="./assets/img/NIPS/2019/Vancouver.jpg">
  </section>

  <section id="nips-main">
    <h3>REGISTRATION OPEN SOON</h3>
    <!-- <a target='_blank' class="project-link" href="https://latinx-in-ai-research-nips-2019.eventbrite.com">JOIN US</a> -->
    <hr>
    <h2>Call for Participation</h2>
    <p>The workshop is a one-day event with invited speakers, oral presentations, and posters. The event brings together faculty, graduate students, research scientists, and engineers for an opportunity to connect and exchange ideas. There will be a panel discussion and a mentoring session to discuss current research trends and career choices in artificial intelligence and machine learning. The event aims to highlight work by latinx researchers and we invite everyone to attend.</p>
    <h4>Creating Opportunity for Latinx in AI</h4>
    <div class="user-projects" id="call-nips">
        <div class="images-right">
          <img alt="LXAI Logo" src="./assets/img/logo/LXAI-logo-black.png" />
        </div>
        <div class="contents">
          <h3>Important Dates</h3>
            <ul>
              <li>September 13th, 2019 (extended to Sep 20th): <a target='_blank' href="https://cmt3.research.microsoft.com/LXAINeurIPS2019">Abstract submission</a> deadline</li>
              <li>September 9th, 2019: <a target='_blank' href="https://forms.gle/orfBj15ehMyAgPyJA">Program Committee application</a> deadline</li>
              <li>September 27th, 2019: Abstract Review deadline</li>
              <li>September 30th, 2019: Notification of submission acceptances</li>
              <li>October 3rd, 2019: <a target='_blank' href="https://docs.google.com/forms/d/e/1FAIpQLSeMxJE96MyQ9KLFVX2HlB7TqLTCqhzTU_eUpz8pOwd6h8dh5g/viewform?usp=sf_link">LXAI Travel grant application</a> deadline</li>
              <li>October 3rd, 2019: <a target='_blank' href="https://nips.cc/TravelApplication">NeurIPS Travel grant application</a> deadline</li>
              <li>October 4th, 2019: Recommended deadline for <a target='_blank' href="http://www.cic.gc.ca/english/information/applications/visa.asp">Visa application</a></li>
              <li>October 23rd, 2019: NeurIPS early registration deadline</li>
              <li> November 11th, 2019: <a target='_blank' href="#">NeurIPS Child Care Registration deadline</a></li>
              <li>December 9th, 2019: LXAI Research Workshop</li>
            </ul>
          <a target='_blank' class="project-link" href="https://docs.google.com/forms/d/e/1FAIpQLSeMxJE96MyQ9KLFVX2HlB7TqLTCqhzTU_eUpz8pOwd6h8dh5g/viewform?usp=sf_link">Travel Grant Application</a>
        </div>
      </div>
      <div>
        <h2>Submission Instructions</h2>
        <p>We strongly encourage students, postdocs and researchers who primarily identify as latinx in all areas of machine learning to submit an abstract describing new, previously, or concurrently published research. We welcome abstract submissions, in theory, methodology, as well as applications. Abstracts may describe completed research or work-in-progress. While the presenting author need not be the first author of the work, we encourage authors to highlight the contribution of latinx individuals — particularly the presenting author — in the abstract.
Authors of accepted abstracts will be asked to present their work in a poster session. A few authors will be selected to give 15-minute oral presentations. Authors accepted to present will be offered presentation coaching. Submissions will be peer-reviewed. Authors are encouraged to sign up to review for LXAI as well.</p>


        <h2>Submission Requirements</h2>
        <p>All submissions will be double-blind (they should not contain author names) and may be up to two pages including all figures and tables, with an additional page for references. The papers must be submitted as a PDF created with the <a target='_blank' href="https://nips.cc/Conferences/2019/PaperInformation/StyleFiles">NeurIPS style </a>format (template also available in <a target='_blank' href="https://www.overleaf.com/latex/templates/neurips-2019/tprktwxmqmgk"> Overleaf </a>). All submissions must be in English. Submissions that do not follow these guidelines risk being rejected without consideration of their merits. Submissions must state the research problem, motivation, and technical contribution including experimental results when applicable. Submissions must be self-contained and include all figures, tables, and references. The submission deadline is 23:59 September 13th, 2019 AoE. Please note that no extensions will be offered for submissions.</p>
        <a target='_blank' class="project-link" href="https://cmt3.research.microsoft.com/LXAINeurIPS2019">Abstract Submission Link</a>

	<h2>Workshop Submission Management</h2>

	<p>Before Submitting if you don't have a Microsoft CMT account, you will need to create one using the link bellow. We’ll be using Microsoft CMT for our conference management tool to improve our logistics and organizational capacities including:</p>
        <a target='_blank' class="project-link" href="https://cmt3.research.microsoft.com/User/Register"> Microsoft CMT Registration</a>

      </div>
      <!-- <hr> -->
      <div id="nipsProgram">
          <h2>Program</h2>
          <h3>Highlights</h3>
          <ul>
            <li>8:00 - 8:45 am | Registration and Check-In </li>
            <li>8:45 - 9:00 am | Opening Remarks</li>
            <li>9:00 - 9:30 am | Keynote</li>
            <li>9:30 - 10:30 am | Oral Presentations</li>
            <li>10:30 - 11:15 am | Coffee Break</li>	
	    <li>11:15 - 11:45 am | Keynote</li>
            <li>11:45 - 12:45 pm | Oral Presentations</li>
            <li>12:45 - 1:15 pm | Lunch Google Keynote</li>
            <li>1:15 - 2:45 pm | Lunch</li>
            <li>2:45 - 3:15 pm | Keynote</li>
            <li>3:15 - 3:45 pm | Oral Presentations</li>
            <li>3:45 - 4:00 pm | Break</li>
	    <li>4:00 - 5:00 pm | Research Mentoring Hour</li>	
	    <li>5:00 - 6:00 pm | Roundtable Discussion/ Panel</li>	
	    <li>6:00 - 8:00 pm | Reception and Poster session</li>	
          </ul>
          <!-- <a class="project-link" href="#">Detailed Schedule</a> -->
      </div>
      <hr>
        <div id="nipsSponsors">
          <h2>Sponsors</h2>
          <p>If you are interested in becoming a sponsor, please check out our
              <a href="/neurips-2019-sponsor">Sponsor Prospectus</a>
              and we will follow up with more information.</p>
          <a class="project-link" href="/neurips-2019-sponsor">Sponsor Prospectus</a>
          <div class='nipsSponsorGallery'>
              <div class='sponsorList' id='platLevel'>
                <h3>Platinum</h3>
                  <a target="_blank" href="https://www.facebook.com"><img width=500
                    src="./assets/img/icml/2019/sponsors/Facebook.png"></a>
                  </br>
		  <a target="_blank" href="https://www.google.com"><img width=500
                    src="./assets/img/icml/2019/sponsors/Gold-Google.png"></a>
                  </br>
		  <a target="_blank" href="https://www.apple.com"><img width=500
                    src="./assets/img/icml/2019/sponsors/Silver-Apple.png"></a>
                  </br>
              </div>
            </div>
        
          <!-- <a class="project-link" href="/neurips-2019-sponsor">Sponsor Prospectus</a> -->
        </div>
      
        <hr>
      <div id="nips-org">
          <h3>Workshop Chairs</h3>
          <ul>
            <li><em>Program Committee Co-Chair(s) -- </em> Pablo Fonseca, Researcher, University of Montreal </li>
	    <li><em>Program Committee Co-Chair(s) -- </em> Hiram Ponce, Full-Time Professor and Researcher, Universidad Panamericana Mexico </li>
            <li><em>Presentation Chair -- </em> David Ramirez,  Postdoctoral Research Associate, Princeton University </li>
            <li><em>Volunteer Co-Chair -- </em> Felipe Leno da Silva, PhD Candidate, University of Sao Paulo </li>
	    <li><em>General & Operations Co-Chair -- </em> Pablo Hernandez-Leal, Researcher, Borealis AI </li>
	    <li><em>General & Operations Co-Chair -- </em> Juan Camilo Gamboa Higuera,PhD Candidate, McGill University </li>
            <li><em>Visa Chair -- </em> Matias Valdenegro-Toro, Researcher, German Research Center for Artificial Intelligence Bremen </li>
            <li><em>Finance Chair -- </em> Miguel Alonso Jr, Visiting Associate Professor, Florida International University </li>
            <li><em>Public Relations Chair -- </em> Elvis Saravia, Education Engineer, Elastic </li>
            <li><em>Website Chair -- </em>Maria Pantoja, Assistant Professor, CalPoly San Luis Obispo </li>
          </ul>
          <h3>Workshop Advisors</h3>
          <ul>
            <li>Laura Montoya, Executive Director, Accel AI Institute, President
              Latinx in AI (LXAI)</li>
            <li>Omar U. Florez, Senior Research Manager in AI, Capital One</li>
            <li>Javier Turek, Research Scientist in ML, Intel Labs</li>
            <li>Jorge Luis Guevara Diaz, Research Scientist, IBM Research</li>
            <li>Pablo Rivas, Assistant Professor of Computer Science, Marist College</li>
            <li>Javier Andres Orduz Ducuara, Doctor of Sciences, National Autonomous University of Mexico</li>
            <li>Pablo Samuel Castro, Google Brain</li>
          </ul>
          <h3>Program Committee</h3>
          <h4>Thanks to the following members of the Latinx in AI community and supportive allies for helping review the submissions.</h4>
          <ul>
	          <li>TBA</li>
          </ul>
	  To help reviewing the submitted papers and be part of the Program Committe, please submit your application using the following link.    
          <a class="project-link" target='_blank' href="https://forms.gle/orfBj15ehMyAgPyJA">Committee Application Open</a>
      </div>
      <div id="nipsVolunteer">
        <hr>
        <h3>Volunteers Appreciated</h3>
        <p>Interested in volunteering with LatinX in AI during the event? Please complete the volunteer signup form: 
       		<a target='_blank' href="https://docs.google.com/forms/d/1RVx0LM_t0W0xz2cagq-DOb2sSlAjfsjHxITRgmaQwDI/edit?usp=sharing">Volunteer Application</a></p>
        <hr>
      </div>
      <div id="nipsLogistics">
        <h3>Logistics</h3>
        <details>
            <summary>Attending NeurIPS</summary>
            <p>Please notes that an abstract acceptance in LXAI and/or registration to attend LXAI does not guarantee access to NeurIPS. You have to register to attend NIPS separately (<a target='_blank' href="https://nips.cc/Register/view-registration">https://nips.cc/Register/view-registration</a>).</p>

            <p>As a result, we would like to inform you that NeurIPS registration will sell out quickly. If you are planning to attend NeurIPS, we want to encourage you to register now.  You can cancel your registration for a full refund until November 15th if you end up not being able to attend. (<a target='_blank' href="https://nips.cc/Help/CancellationPolicy">https://nips.cc/Help/CancellationPolicy</a>).</p>

            <p>We also encourage you to book your accommodation as the discounted room blocks are being filled up quickly.</p>

          </details>

          <details>
            <summary>Accommodations</summary>
            <p>You may take advantage of NeurIPS group hotel rates, provided <a target='_blank' href="https://nips.cc/Conferences/2019/Hotels">here</a>. In the past, workshop participants have also used <a target='_blank' href="http://www.airbnb.com/">Airbnb</a> and <a target='_blank' href="https://www.google.ca/search?dcr=0&ei=IqUjXbGOKMPT-wSZ2IqoCg&q=hostels+vancouver&oq=hostels+vancouver&gs_l=psy-ab.3..0l3j0i22i30l2j0i22i10i30j0i22i30l4.3573.5278..6263...0.0..0.70.577.9......0....1..gws-wiz.......0i71..14%3A0.LBp_ZVKDD1E">hostels</a>.

            <p>Hotel cancellation policy should be checked with the hotels.</p>

            <p>LXAI is not responsible for information provided on external websites.</p>
          </details>

          <details>
            <summary>Visa</summary>
            <p>A visa invitation letter comes with the NeurIPS registration. If you don’t have the NeurIPS visa invitation letter, we can also provide you Invitation letters upon successful registration to the LXAI workshop. More information on applying for a Canadian visa <a target='_blank' href="http://www.cic.gc.ca/english/information/applications/visa.asp">here</a>.</p>
            <p>
            Depending on the country you are applying a visa from, it will take between 10 to 60 days for your Canadian visa to be issued. You can check the average processing times <a target='_blank' href="https://www.canada.ca/en/immigration-refugees-citizenship/services/application/check-processing-times.html">here</a></p>.
            <p>
            We recommend that you apply for a visa as soon as possible after receiving a abstract acceptance and travel support.
            </p>
          </details>

          <details>
              <summary>Child Care Available</summary>
              <p>KiddieCorp is pleased to provide a children’s program during the
              December 2019 NeurIPS Conference. All participants requesting child care 
              should fill out <a
                href="#">this form</a> 
              and mention "LatinX in AI participant" in the "additional 
              information box" to reserve a spot.
              </p>
            </details>
      </div>

      <hr>
  </section>
</div>



