<!-- Speakers Grid Section -->
<section id="speakers" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Speakers</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="grid">
        {% assign featuredItems = site.tags.oral | sort: "featuredOrder" %} 
        {% for post in featuredItems %}
            <div class="cell speakers-item">
                <a href="{{post.website}}" target="_blank" class="speakers-link">
                    <div class="speakers-hover">
                        <div class="speakers-hover-content">
                            <p>{{post.topic}}</p>
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/assets/img/NIPS/Speakers/{{ post.img }}" class="responsive-image img-centered desaturate" alt="">
                </a>
                <div class="speakers-caption">
                    <h4>{{ post.name }}</h4>
                    <p class="text-muted">{{ post.title }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Posters</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <ul><li>
         	 <li>Abraham sanchez	"Deep learning models for diabetic retinophaty screening program" (Gobierno de Jalisco )</li>
		<li>Adilson L Khouri	"An ontology and frequency-based approach, with machine learning, to recommend activities in scientific workflows" (USP)</li>
		<li>Agostina Larrazabal	"Anatomical Priors for Image Segmentation via Post-Processing with Denoising Autoencoders" (Universidad Nacional del Litoral)</li>
		<li>Alfredo A De La Fuente	"Expressiveness of Neural Processes" (Schlumberger software Technology innovation Center)</li>
		<li>Arturo oncevay	"Revisiting Syllable-aware Language Modelling" (University of edinburgh)</li>
		<li>Bruna Silva	"Understanding Algorithmic Fairness in Health Care: A Proposed Case Study with Three Datasets" (Universidade Federal de Minas Gerais)</li>
		<li>Daniel Alcides Saromo Mori	"Auto-Rotating Perceptrons" (Pontificia Universidad Católica del Peru )</li>
		<li>Daniel Alfredo Palomino Paucar	"Advanced Transfer Learning Approach for Improving Sentiment Analysis on Different Dialects of Spanish" (National University of Engineering)</li>
		<li>Daniel Buades Marcos	"Using a self-supervised encoder for anticipating failures in industrial equipment" (Polytecnique Montreal)</li>
		<li>Daniel Ruiz-Perez	"Application of Bayesian Techniques to Multiomic Longitudinal Data" (Florida International University)</li>
		<li>Daniel Ruiz-Perez	"Role of gut microbiota and their temporal interactions in kidney transplant recipients" (Florida International University)</li>
		<li>Darwin D Saire Pilco	"Semantic Segmentation on Image Using Multi-task Hourglass Networks" (University of Campinas)</li>
		<li>David Brenes	"Multi-Task Deep Learning Model for Improved Histopathology Prediction from In-Vivo Microscopy Images" (Rice University)</li>
		<li>Dennis H Núñez Fernández 	"Development of a hand pose recognition system on an embedded computer using CNNs" (Universidad Nacional de ingenieria)</li>
		<li>Dennis H Núñez Fernández 	"Portable system for the prediction of anemia based on the ocular conjunctiva using Artificial Intelligence" (Universidad Peruana Cayetano Heredia)</li>
		<li>Dennis H Núñez Fernández 	"Prediction of gaze direction using Convolutional Neural Networks for Autism diagnosis" (Universidad Peruana Cayetano Heredia)</li>
		<li>Diana M Diaz Herrera	"Incorporating Climate Change in Spatiotemporal Species Distribution Models for cattle tick Rhipicephalus (Boophilus) microplus" (Wayne State University)</li>
		<li>Dustin Javier Carrion	"Biometric system based on electroencephalogram analysis" (Yachay Tech University)</li>
		<li>Edson Luque 	"A novel stochastic model based on echo state networks for hydrological time series forecasting"</li>
		<li>Edward Jorge Yuri Cayllahua cahuina	"A study of observation scales based on the FH dissimilarity measure" (San Pablo Catholic University)</li>
		<li>Erick D Tornero	"Reinforcement Learning Approach to Fly Quadcopters with a Faulted Rotor" (UCSP)</li>
		<li>Errol Wilderd Wilderd Mamani Condori	"Aggressive Language Identification in Social Media using Deep Learning" (UCSP)</li>
		<li>Esaú Villatoro-Tello	"Finding Evidence Of The Sexual Predators Behavior" (Universidad Autonoma Metropolitana)</li>
		<li>Felipe A. Moreno-Vera	"Understanding Safety Based on Urban Perception" (Universidad Catolica San Pablo)</li>
		<li>Felipe Leno da Silva	"Autonomously Reusing Knowledge in Multiagent Reinforcement Learning" (university of Sao Paulo)</li>
		<li>Fernando J Yanez	"Building Bridges: Implementing Redundancy Analysis by means of a Neural Network" (Universidad Metropolitana)</li>
		<li>Gabriel Jimenez	"Skin Cancer Analysis using Deep Learning" (PaPaMED)</li>
		<li>Gabriela Ramirez-de-la-Rosa	"Mental lexicon for personality identification in texts" (Universidad Autónoma Metropolitana)</li>
		<li>Gean T Pereira	"Transfer Learning for Algorithm Recommendation" (University of São Paulo)</li>
		<li>Gerson Waldyr Vizcarra Aguilar	"Paraphrase Generation via Adversarial Penalizations" (San Pablo Catholic University)</li>
		<li>Gilberto Ochoa-Ruiz	"Road Damage Acquisition System based on RetinaNet for Physical Asset Management" (Tec de Monterrey)</li>
		<li>Giri Narasiman	"EXP4-DFDC: A Non-Stochastic Multi-Armed Bandit for Cache Replacement" (Floridad International University)</li>
		<li>Hansenclever F Bassani	"Learning to Play Soccer by Reinforcement and Applying Sim-to-Real to Compete in the Real World" (Universidade Federal de Pernambuco)</li>
		<li>Isabela Albuquerque	"Adversarial target-invariant representation learning" (Institut National de la Recherche Scientifique)</li>
		<li>Israel Nazareth Chaparro Cruz	"Generative Adversarial Networks for Image Synthesis and Semantic Segmentation in Brain Stroke Images" (Universidad Católica San Pablo)</li>
		<li>Ivan D Arraut Guerrero	"Mapping the loss of information of Bosonic (Physical) systems into neural networks with applications in Machine learning" (The Open University of Hong Kong)</li>
		<li>Ivan Vladimir Meza Ruiz	"Towards Identifying for Evidence of Drain Brain from Web Search Results using Reinforcement Learning" (universidad Nacional Autonoma de México)</li>
		<li>Jefferson J Quispe Pinares	"Automatically Personalized Pain Intensity Estimation from Facial Expressions using CNN-RNN and HCRF in videos". (Universidad CatólicaSanPablo)</li>
		<li>Jessica Soares dos Santos	"Investigating Transfer Learning Approaches for Mining Opinions in the Electoral Domain" (Universidade Federal Fluminense)</li>
		<li>Jesús Castillo Cabello	"Solving the generalized non-linear Schrödinger equations with genetic algorithms" (Tec de Monterrey)</li>
		<li>Jesús García-Ramírez	"Which Kernels to Transfer in Deep Q-Networks?" (INAOE)</li>
		<li>Joao B Monteiro	"An end-to-end approach for the verification problem through learned metric-like spaces" (Institut National de la Recherche Scientifique)</li>
		<li>JOHAN SAMIR OBANDO CERON	"Exploiting the potential of deep reinforcement learning for classification tasks in high-dimensional and unstructured data" (Universidad Autonoma de Occidente)</li>
		<li>Johnny Torres	"Seq2Seq Neural Architecture for Recommending Short Text Conversations" (ESPOLUniversity)</li>
		<li>Jose Paniagua	"Generation of time response of linear and nonlinear dynamic systems using autoencoders" (Universidad Autonoma de Occidente)</li>
		<li>Joseph A Gallego	"Robust Estimation in Reproducing Kernel Hilbert "(National University Of Colombia)</li>
		<li>José Chávez	Ambient "Lighting Generation for Flash Images with Conditional Adversarial Networks" (UCSP)</li>
		<li>Juan A Carvajal	"Augmented Curiosity: Depth and Optical Flow Prediction for Efficient Exploration" (Purdue University)</li>
		<li>Juan M Banda	"Weak supervision for electronic phenotyping using electronic health records" (Georgia State University)</li>
		<li>Karla C Otiniano-Rodríguez	"Object Recognition using a Region Detector Based on Hierarchies of Partitions" (Esiee Paris (Paris-Est))</li>
		<li>Karol Baca-Lopez	"A genetic algorithm implementation for spatio-temporal variogram modelling to determine air quality monitoring network representativeness" (Autonomous University of the State of Mexico)</li>
		<li>Lazo Quispe Cristian	"Segmentation of skin lesions and their attributes using Generative Adversarial Networks" (Universidad Nacional de ingenieria)</li>
		<li>leandro ticlia de la cruz	"A Machine Learning Approach For Blood Vessels Segmentation In Chorioallantoic Membrane Images" (IO-USP)</li>
		<li>Lourdes Martinez-Villaseñor	"Overview of UP-Fall Detection Project" (Universidad Panamericana)</li>
		<li>Lourdes Ramírez Cerna	"Emotion recognition using Texture Maps and Convolutional Neural Networks" (National University of Trujillo)</li>
		<li>Lucas Oliveira Souza	"Dynamic Sparse Neural Networks" (Numenta)</li>
		<li>Lucy Alsina Choque Mansilla	"Object Segmentation by Oriented Image Foresting Transform with Connectivity Constraints" (University of São Paulo)</li>
		<li>Luis A Avendaño Muñoz	"Transfer Learning applied to Reinforcement Learning problem with continuous state space using Human-like recall/association" (Universidad de los Andes)</li>
		<li>Luis E Colchado	"Interpolation and Prediction of PM2.5 based on Conditional Generative Adversarial Network and a forecasting model" (Universidad Católica San Pablo )</li>
		<li>Luis Fernando Cantu	"Algorithmic Targeting of Social Policies: Accuracy & Fairness" (ITAM)</li>
		<li>Manasses A. Mauricio	"Pain Intensity Estimation using Spatiotemporal Facial Features" (Universidad Católica San Pablo)</li>
		<li>Marcio Fonseca	"Deep Predictive Coding for Multimodal Spatiotemporal Representation Learning" (Câmara dosDeputados)</li>
		<li>Marleny Hilasaca	"User-Centered Feature Space Transformation" (University of Sao Paulo)</li>
		<li>Mateo Dulce	"Crime prediction using self-exciting point processes and image features as covariates" (Quantil)</li>
		<li>Mikiyas Gulema Tefera	"Music video classification using audio and visual features" (Bahir Dar Univerity)</li>
		<li>Mohammed Ali Mr. Adem	"Energy Optimization of Wireless Sensor Network Using Neuro-Fuzzy Algorithms" (Bahirdar University)</li>
		<li>Musfiqur Sazal	"Signed Causal Bayesian Networks for Microbiomes" (FIU)</li>
		<li>Nicolas Ignacio Fredes Y Nicolás Nieto	"On the Impact of Gender Bias in Medical Imaging Classifiers for Computer-aided Diagnosis" ( Research institute for signals, systems and computational inteligence)</li>
		<li>Nils Murrugarra-Llerena	"Involving humans to learn attributes" (University of Pittsburgh)</li>
		<li>Omar DeGuchy	"Relation Augmentation: A Gradient Boosting Approach for Detecting Genomic Anomalies" (University of california, merced)</li>
		<li>Omar U Florez	"Memory Networks Encode Knowledge Bases to Generate More Fluent Dialogue Responses" (Capital One)</li>
		<li>Omar U Florez	"On the Unintended Social Bias of Training Language Generation Models with Latin American Newspapers" (Capital One)</li>
		<li>Oralia Nolasco-Jauregui	"A Machine Learning approach to Neural Information Decoding of Spike Train Distances in the Peripheral Nervous System" (Tecana American University)</li>
		<li>Oscar F Leong	"Low Shot Learning with Untrained Neural Networks for Imaging Inverse Problems" (RiceUniversity)</li>
		<li>Pablo Rivas	"DiPol-GAN: Generating Molecular Graphs Adversarially with Relational Differentiable Pooling" (Marist College)</li>
		<li>Paul Augusto Bustios Belizario	"A Deep Learning Model for Motor Imagery Classification" (University of Sao Paulo)</li>
		<li>Paul Augusto Bustios Belizario	"Learning Bandpass and Common Spatial Pattern Filters for Motor Imagery Classification" (University of Sao Paulo)</li>
		<li>Paula Rodriguez	"Efficient allocation of law enforcement resources using predictive police patrolling" (Quantil)</li>
		<li>Paulo Mann	"See and Read: Detecting Depression Symptoms in Higher Education Students Using Multimodal Social Media Data" (Institute ofComputing / Universidade Federal Fluminense)</li>
		<li>Pedro A Colon-Hernandez	"Does a dog desire cake? - Expanding Knowledge Base Assertions Through Deep Relationship Discovery "(MIT Media Lab)</li>
		<li>Pedro H. M. Braga	"Backpropagating the Unsupervised Error of Self-Organizing Maps to Deep Neural Networks" (Universidade Federal de Pernambuco)</li>
		<li>Rensso V. H. Mora Colque	"Anomaly event detection based on people trajectories for surveillance videos" (UFMG)</li>
		<li>Ricardo Benitez-Jimenez	"Meta-Webly Supervised Learning for object recognition" (Instituto Nacional de Astrofísica, Óptica y Electrónica (INAOE))</li>
		<li>Ricardo Carrillo Mendoza	"Model car architecture for education in Robotics and Deep Neural Networks" (FU Berlin)</li>
		<li>Robert A Aduviri	"Feature Selection Algorithm Recommendation for Gene Expression data with Meta Learning" (Pontifical Catholic University of Peru)</li>
		<li>Rocio M Zorrilla	"On The Selection of Predictive Models in Production" (Laboratorio Nacional de Computacao Cientifica)</li>
		<li>Rodrigo A Toro Icarte	"Learning Reward Machines for Partially Observable Reinforcement Learning (Abridged Report) "(University of Toronto and Vector Institute)</li>
		<li>Rodrigo A. Vargas-Hernandez	"Gaussian Processes for simulating complex quantum systems" (Chemical Physics Theory Group, Department of Chemistry, University of Toronto)</li>
		<li>Rodrigo C Bonini	"Speeding up Reinforcement Learning for Inference and Control of Gene Regulatory Networks" (Universidade Federal do ABC)</li>
		<li>Santiago Miret	"Neural Network Autoencoders for Compressed Neuroevolution" (Intel AI Lab)</li>
		<li>Santiago Toledo-Cortés	"Large Scale Learning Techniques For Least Squares Support Vector Machines" (Universidad Nacional deColombia)</li>
		<li>Sara I Garcia	"Meta-learning for skin cancer detection using Deep Learning techniques" (UniversityCoventry)</li>
		<li>Sidney Araujo Melo	"Representation Learning in Game Provenance Graphs" (Institute of Computing / Universidade Federal Fluminense)</li>
		<li>Susana Benavidez	"Improving Hate Speech Classification on Twitter" (Stanford University)</li>
		<li>Túlio Corrêa Loures	"An Evaluation Benchmark for Online Discussion Representation Models" (Universidade Federal de Minas Gerais)</li>
		<li>Victoria Peterson	"Optimizing the regularization parameters selection in sparse modeling" (Instituto de Matemática Aplicada del Litoral)</li>
		<li>Vítor Lourenço	"Towards Learning Better Representations for Completion of Real-World Knowledge Bases"(Universidade Federal Fluminense)</li>
		<li>walter M Mayor	"Divide and Conquer: an Accurate Machine Learning Algorithm to Process Split Videos on a Parallel Processing Infrastructure" (Univesity Autonoma de Occidente)</li>
		<li>Xochitl Watts	"Global Model Explanation for Time Series" (Stanford University Alumni)</li>
		<li>Y	"Fast Calorimeter Simulation with Wasserstein Generative Adversarial Networks "(University of Helsinki)</li>	
			<!-- <li><a href='#'></a></li> -->
        </ul>
    </div>
</section>

