<div class="nips-schedule">
   <ul class="main">
        <li class="date">
        <h3>Monday</h3>
        <h3>Dec 9th</h3>
        <p>Schedule of Events</p>
        </li>
        <li class= "events">
        <ul class="events-detail">
            <li>
            <a href="#">
                <span class="event-time">7:00am - 8:45am</span>
                <span class="event-name">Check-in </span>
                <br />
                <span class="event-location">Vancouver Convention Center Registration</span>
            </a>
            </li>
            
            <li>
            <a href="#">
                <span class="event-time">8:45am - 9:00am</span>
                <span class="event-name">Opening Ceremony</span>
                <br />
                <span class="event-info">MC by David Ramirez</span>
                <br />
                <span class="event-location">Vancouver Convention Center, East Building, East Ballroom A</span>
            </a>
            </li>
            <li>
                <a href="#">
                    <span class="event-time">9:00am - 9:30am</span>
                    <span class="event-name">Keynote: Carlos Guestrin, Apple AI</span>
                    <br />
                    <spn class="event-info">Maximizing the ultimate impact of our ML-based applications</span>
                    <br />
                    <span class="event-location">Vancouver Convention Center, East Building, East Ballroom A</span>
                </a>
                </li>
            <li>
                <a href="#">
                    <span class="event-time">9:30am - 9:40am</span>
                    <span class="event-name">Lourdes Ramírez Cerna, National University of Trujillo</span>
                    <br />
                     <spn class="event-info">Emotion recognition using Texture Maps and Convolutional Neural Networks</span>
                    <br />
                    <span class="event-location">Vancouver Convention Center, East Building, East Ballroom A</span>
                </a>
            </li>
            <li>
                    <a href="#">
                        <span class="event-time">9:40am - 9:50am</span>
                        <span class="event-name">Sara I Garcia, University Coventry</span>
                        <br />
                        <span class="event-info">Meta-learning for skin cancer detection using Deep Learning techniques</span>
                        <br />
                        <span class="event-location">Vancouver Convention Center, East Building, East Ballroom A</span>
                    </a>
                </li>
                <li>
                        <a href="#">
                            <span class="event-time">9:50am - 10:00am</span>
                            <span class="event-name">Erick D Tornero, UCSP</span>
                            <br />
                            <span class="event-info">Reinforcement Learning Approach to Fly Quadcopters with a Faulted Rotor</span>
                        <br />
                            <span class="event-location">Vancouver Convention Center, East Building, East Ballroom A</span>
                        </a>
                    </li>
            <li>
                <a href="#">
                    <span class="event-time">10:00am - 10:10am</span>
                    <span class="event-name">Farzana Yusuf, Florida International University</span>
                    <br />
                     <spn class="event-info">EXP4-DFDC: A Non-Stochastic Multi-Armed Bandit for Cache Replacement</span>
                        <br />
                    <span class="event-location">Vancouver Convention Center, East Building, East Ballroom A</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="event-time">10:10am - 10:50am</span>
                    <span class="event-name">Coffee Break</span>
                    <br />
                    <span class="event-location">Vancouver Convention Center, East Building, East Ballroom A</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="event-time">10:55am - 11:05am</span>
                    <span class="event-name">João Monteiro, Institut National de la Recherche Scientifique</span>
                    <br />
                     <spn class="event-info">An end-to-end approach for the verification problem through learned metric-like spaces</span>
                        <br />
                    <span class="event-location">Vancouver Convention Center, East Building, East Ballroom A</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="event-time">11:05am - 11:35am</span>
                    <span class="event-name">Keynote: Barbara Poblete, Instituto Milenio Chile</span>
                    <br />
                    <span class="event-info">ML for Misinformation in Social Media</span>
        <br />
                    <span class="event-location">Vancouver Convention Center, East Building, East Ballroom A</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="event-time">11:35am - 11:40am</span>
                    <span class="event-name">Pablo Rivas, Marist College</span>
                    <br />
                    <span class="event-info">DiPol-GAN: Generating Molecular Graphs Adversarially with Relational Differentiable Pooling</span>
                    <br />
                    <span class="event-location">Vancouver Convention Center, East Building, East Ballroom A</span>
                </a>
            </li>
            <li>
                    <a href="#">
                        <span class="event-time">11:45am - 11:55pm</span>
                        <span class="event-name">Oscar F Leong, Rice University</span>
                        <br />
                        <span class="event-info">Low Shot Learning with Untrained Neural Networks for Imaging Inverse Problems</span>
                        <br />
                        <span class="event-location">Vancouver Convention Center, East Building, East Ballroom A</span>
                    </a>
                </li>
            <li>
                <a href="#">
                    <span class="event-time">11:55am - 12:05pm</span>
                    <span class="event-name">Daniel Alcides Saromo Mori, PUCP</span>
                    <br />
                    <span class="event-info">Auto-Rotating Perceptrons</span>
                    <br />
                    <span class="event-location">Vancouver Convention Center, East Building, East Ballroom A</span>
                </a>
            </li>
            <li>
            <a href="#">
                <span class="event-time">12:05pm - 2:00pm</span>
                <span class="event-name">Lunch & Sponsor Keynote: Sergio Guadarrama, Google Brain</span>
                <br />
                 <span class="event-info">TF-Agents: A reliable, scalable and easy to use reinforcement learning library for TensorFlow.</span>
                        <br />
                <span class="event-location">Vancouver Convention Center, East Building, East Ballroom A</span>
            </a>
            </li>
            
            <li>
            <a href="#">
                <span class="event-time">2:05pm - 2:15pm</span>
                <span class="event-name">Esaú Villatoro-Tello, Universidad Autónoma Metropolitana</span>
                <br />
                 <span class="event-info">Finding Evidence Of The Sexual Predators Behavior</span>
                        <br />
                <span class="event-location">Vancouver Convention Center, East Building, East Ballroom A</span>
            </a>
            </li>
            <li>
                <a href="#">
                    <span class="event-time">2:15pm - 2:45pm</span>
                    <span class="event-name">Keynote: Alan Aspuru Guzik, University of Toronto</span>
                    <br />
                     <spn class="event-info"></span>
                    <br />
                    <span class="event-location">Vancouver Convention Center, East Building, East Ballroom A</span>
                </a>
            </li>
            <li>
            <a href="#">
                <span class="event-time">2:45pm - 2:55pm</span>
                <span class="event-name">Paula Rodriguez, Quantil</span>
                <br />
                 <span class="event-info">Efficient allocation of law enforcement resources using predictive police patrolling</span>
                <br />
                <span class="event-location">Vancouver Convention Center, East Building, East Ballroom A</span>
            </a>
            </li>
            <li>
            <a href="#">
                <span class="event-time">2:55pm - 3:30pm</span>
                <span class="event-name">Coffee Break</span>
                <br />
                 <span cass="event-info"></span>
                        <br />
                <span class="event-location">Vancouver Convention Center, East Building, East Ballroom A</span>
            </a>
            </li>
            <li>
                <a href="#">
                    <span class="event-time">3:30pm - 5:30pm</span>
                    <span class="event-name">Roundtable & Research Mentoring Hour</span>
                    <br />
                     <spn class="event-info"></span>
                        <br />
                    <span class="event-location">Vancouver Convention Center, East Building, East Ballroom A</span>
                </a>
            </li>
            <li>
            <a href="#">
                <span class="event-time">5:30pm - 6:30pm</span>
                <span class="event-name">Coffee Break</span>
                <br />
                <span class="event-location">Vancouver Convention Center, East Building, East Ballroom A</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="event-time">6:30pm</span>
                <span class="event-name">Poster Session</span>
                <br />
                 <span class="event-info"></span>
                        <br />
                <span class="event-location">Vancouver Convention Center, East Building</span>
            </a>
        </li>
    </ul>
</ul>
    <ul class="main">
        <li class="date">
            <h3>Tuesday</h3>
            <h3>Dec 10th</h3>
        </li>
        <li class= "events">
        <ul class="events-detail">
        <li>
            <a href="#">
                <span class="event-time">8:00pm - 10:00pm</span>
                <span class="event-name">LXAI Networking Reception</span>
                <br />
                    <spn class="event-info">Sponsored by OpenAI</span>
                    <br />
                <span class="event-location">Salt Tasting Room, 45 Blood Alley Square, Vancouver, BC V6B 1C7, Canada</span>
            </a>
        </li>
        </ul>  
    </ul>  
</div>