<div class="about-details">
    <h2> LXAI + BAI at ICLR 2019 </h2>
    <section class="workshop-intro">
      <p>The LatinX in AI Coalition is partnering with <a target="_blank" href="https://blackinai.github.io/">Black in AI</a> to host a joint gathering and luncheon at the <a target="_blank" href="https://iclr.cc/">Seventh International Conference on Learning Representations (ICLR)</a> in New Orleans May 7th, 2019 at the Ernest N. Morial Convention Center.
      </p>
  
      <img alt="nola"
           src="./assets/img/iclr/ICLR.jpg"
           />
  
    </section>
  
    <section id="workshop-main">
      
    
      <a class="project-link"
          href="https://lxai-bai-iclr-2019.eventbrite.com" target="_blank">Registration</a>
     
  
     
      <h2>Mission</h2>
      <p>Our mission is to increase representation of our communities at the main conference and create a platform allowing our members to share their work, gain access to mentoring, collaborations, and networking opportunities with other researchers in artificial intelligence. </p>
      
      <p>This gathering is a one-day event with invited keynote speakers. There will be a roundtable discussion and a mentoring
        session to discuss current research trends and career choices in artificial
        intelligence and machine learning that affect the LXAI and BAI communities. The event brings together faculty, graduate
      students, research scientists, and engineers for an opportunity to connect
      and exchange ideas. While all presenters will identify
      primarily as latinx and black, all are invited to attend.</p>

      <h2>Posters</h2>
      <p>LXAI and BAI members are welcome to bring academic posters describing their research to display and receive review and mentorship in our room in the convention center. We will not be hosting an official call for abstracts or specifically inviting poster presenters at this event.</p>

      <p><strong>Sign-up to be a mentor:</strong> <a target="_blank" href="http://bit.ly/LXAI-BAI-ICLR2019-MENTOR">http://bit.ly/LXAI-BAI-ICLR2019-MENTOR</a></p>

      <div class="user-projects" id="call-workshop">
        <div class="images-right">
          <img alt="LXAI Logo" src="./assets/img/logo/lxai-bai-logo.png" />
        </div>
        <div class="contents">
          <h3>Important Dates</h3>
          <p>Dates are in pacific time (Los Angeles).</p>
          <ul>
            <li>March 6th, 2019: <a target="_blank" href="https://travel.state.gov/content/travel/en/us-visas/visa-information-resources/wait-times.html">Suggested Visa 
                interview deadline</a></li>
            <li>March 18th, 2019: <a target="_blank" href="https://iclr.cc/TravelApplication">ICLR Travel Award Notification</a></li>
            <li>March 19th, 2019: <a target="_blank" href="https://iclr.cc/Register/view-registration">ICLR Early Pricing Registration Ends</a></li>
            <li>April 16th, 2019: <a target="_blank" href="https://iclr.cc/Register/view-registration">ICLR Reg Cancellation Deadline
            </a>
            </li>
            <li>May 7th, 2019: <a target="_blank" href="https://lxai-bai-iclr-2019.eventbrite.com">LXAI + BAI @ ICLR</a></li>
          </ul>
          <a class="project-link" target="_blank" href="https://iclr.cc/TravelApplication">Student & Postdoc Travel Grant 
              Application</a>
              <p><strong>**Include that you are part of the LXAI or BAI community in your travel grant application**</strong></p>
        </div>
      </div>
  
      
      <hr>
      <div id="workshopProgram">
          <h2>Program</h2>
          <h3>Highlights</h3>
          <ul>
            <li>8:30 - 9:00 am | Check-In </li>
            <li>9:00 -9:45 am | Pablo Samuel Castro | Room R01</li>
            <li>9:45 -10:30 am | Charles C. Onu | Room R01</li>
            <li>10:30 - 1:30 pm | Luncheon & Cultural Activity | Private Location</li>
            <li>2:00 - 2:45 pm | Adji Bousso Dieng  | Room R01</li>
            <li>2:45 - 3:30 pm | Meire Fortunato | Room R01</li>
            <li>3:30 - 5:30 pm | Mentoring Session & Poster Display | Room R01</li>
          </ul>
          <!-- <a class="project-link" href="/iclr-2019-schedule">Detailed Schedule</a> -->
      </div>
     
  
      <hr>
      <div id="workshopSponsors">
        <h2>Sponsors</h2>
        <p>If you are interested in becoming a sponsor, please check out our
        <a href="/iclr-2019-sponsor">Sponsor Prospectus</a>
        and send us message to <strong>latinxinai at accel.ai</strong>
        and we will follow up with more information.</p>
  
        <a class="project-link" href="/iclr-2019-sponsor">Sponsor Prospectus</a>
  
        
        <div class='iclrSponsorGallery'>
          <div class='sponsorList' id='platLevel'>
            <h3>Platinum</h3>
              <a target="_blank" href=""><img width=500 src="./assets/img/iclr/2019/sponsors/Facebook.png"></a>
          </div>
          
          <div class='sponsorList' id='supportLevel'>
            <h3>Supporter</h3>
                <img src="./assets/img/iclr/2019/sponsors/intel_logo.png">
          </div>
        </div>
        <a class="project-link" href="/iclr-2019-sponsor">Sponsor Prospectus</a>
       
      </div>
  

      <hr>
      <!-- Keynote Grid Section -->
      <section id="speakers" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Keynotes</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="grid">
            {% assign featuredItems = site.tags.keynote-iclr2019 | sort: "featuredOrder" %} 
            {% for post in featuredItems %}
                <div class="cell speakers-item">
                    <a href="{{post.website}}" target="_blank" class="speakers-link">
                        <div class="speakers-hover">
                            <div class="speakers-hover-content">
                                <p>{{post.topic}}</p>
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/assets/img/iclr/2019/presenters/{{ post.img }}" class="responsive-image img-centered desaturate speaker-img" alt="">
                    </a>
                    <div class="speakers-caption">
                        <h4>{{ post.name }}</h4>
                        <p class="text-muted">{{ post.title }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
      </section>

      <hr>
      <div id="workshop-org">
        <h3>Organizing Committee</h3>
        <ul>
          <li>Laura Montoya, Executive Director, Accel AI Institute, Co-Chair
            Latinx in AI Coalition</li>
        <li>Pablo Samuel Castro, Senior AI Software Developer, Google</li>
        <li>Carlos Mendoza, PhD Candidate, University of Delaware</li>
        <li>Ralph Chery, EE & MBA</li>
        <li>Hameed Abdul, Research Assistant, USM</li>
        <li>Nasr Madi, Senior Research Developer, Nuance</li>
        <li>Lauren Pfeiffer, Investor, MGV and EE Student</li>
        </ul>
  
      </div>
  
      
      <div id="workshopVolunteer">
        <hr>
        <h3>Volunteers Appreciated</h3>
        <p>Interested in volunteering with LatinX in AI during the event? Please
        complete the volunteer signup form: <a
          href="http://bit.ly/LXAI-BAI-ICLR2019-VOLUNTEER">Volunteer with Us!</a></p>
        <hr>
      </div>
     
  
  
      <div id="workshopLogistics">
        <h3>Logistics</h3>
        <details>
          <summary>Attending ICLR</summary>
          <p>Please notes that an abstract acceptance in this workshop and/or
          registration to attend this workshop does not guarantee access to ICLR. You
          have to register to attend ICLR separately (<a target='_blank'
            href="https://iclr.cc/Register/view-registration">
            https://iclr.cc/Register/view-registration</a>).
          </p>
  
          <p>As a result, we would like to inform you that ICLR registration
          will sell out quickly. If you are planning to attend ICLR, we want to
          encourage you to register now.  You can cancel your registration for
          a full refund until March 19th if you end up not being able to
          attend. (<a target='_blank'
            href="https://iclr.cc/Help/CancellationPolicy">
            https://iclr.cc/Help/CancellationPolicy</a>).
          </p>
  
          <p>We also encourage you to book your accommodation as the discounted
          room blocks are being filled up quickly.</p>
        </details>
  
        <details>
          <summary>Accommodations</summary>
          <p>You may take advantage of ICLR group hotel rates, provided <a
            target='_blank'
            href="https://iclr.cc/Conferences/2019/Hotels">here</a>. In the past,
          workshop participants have also used <a target='_blank'
            href="http://www.airbnb.com/">Airbnb</a> and <a target='_blank'
            href="https://www.google.com/maps?q=hostels+new+orleans&rlz=1C5CHFA_enUS787US787&um=1&ie=UTF-8&sa=X&ved=0ahUKEwiegc3Fic7gAhVnjlQKHZjoCvUQ_AUIDigB">
            hostels</a>.
          </p>
  
          <p>Hotel cancellation policy should be checked with the hotels.</p>
  
          <p>LXAI & BAI are not responsible for information provided on external
          websites.</p>
        </details>
  
        <details>
          <summary>More Visa Information</summary>
          <p>A visa invitation letter comes with the ICLR registration. If you
          don’t have the ICLR visa invitation letter, we can also provide you
          Invitation letters upon successful registration to this workshop.
          To know more about the appointment waiting times for interviews <a
            href="https://travel.state.gov/content/travel/en/us-visas/visa-information-resources/wait-times.html">check
            this page.</a> And for a list of waiting times per consulates in
          different latin countries <a
            href="https://docs.google.com/spreadsheets/d/19BISo7hf5W1QKnJ-Oj7jsBpYBLAMW4miYUUiwy5F_lM/edit?usp=sharing">check
            this google doc.</a>
          </p>
        </details>
      </div>
  
      <hr>
    </section>
  </div>
  
  