<div class="about-details">
    <h2> LXAI + BAI at ICLR 2019 </h2>
    <section class="workshop-intro">
      <p>The LatinX in AI Coalition is partnering with <a href="https://blackinai.github.io/">Black in AI</a> to host a joint workshop at the <a href="https://iclr.cc/">Seventh International Conference on Learning Representations (ICLR)</a> in New Orleans May 7th, 2019 at the Ernest N. Morial Convention Center.
      </p>
  
      <img alt="nola"
           src="./assets/img/iclr/ICLR.jpg"
           />
  
    </section>
  
    <section id="workshop-main">
      <!--
      <h3>REGISTRATION OPEN</h3>
      <a class="project-link"
          href="https://latinx-in-ai-research-iclr-2019.eventbrite.com">JOIN US</a>
      -->
  
     
      <h2>Mission</h2>
      <p>Our mission is to increase representation of our communities at the main conference and create a platform allowing our members to share their work, gain access to mentoring, collaborations, and networking opportunities with other researchers in artificial intelligence. </p>
      
      <hr>
      <h2>Call for Participation</h2>
      <p>The workshop is a one-day event with invited speakers, oral
      presentations, and posters. The event brings together faculty, graduate
      students, research scientists, and engineers for an opportunity to connect
      and exchange ideas. There will be a panel discussion and a mentoring
      session to discuss current research trends and career choices in artificial
      intelligence and machine learning. While all presenters will identify
      primarily as latinx and black, all are invited to attend.</p>


      <div class="user-projects" id="call-workshop">
        <div class="images-right">
          <img alt="LXAI Logo" src="./assets/img/logo/lxai-bai-logo.png" />
        </div>
        <div class="contents">
          <h3>Important Dates</h3>
          <p>Dates are in pacific time (Los Angeles).</p>
          <ul>
            <li>March 6th, 2019: <a target="_blank" href="https://travel.state.gov/content/travel/en/us-visas/visa-information-resources/wait-times.html">Suggested Visa 
                interview deadline</a></li>
            <li>March 8th, 2019: <a href="/iclr-2019-apply">Abstract 
                  submission deadline</a></li>
            <li>March 8th, 2019: <a href="/iclr-2019-committee">Program 
                  Committee application deadline</a></li>
            <li>March 13th, 2019: <a target="_blank" href="https://iclr.cc/TravelApplication">Travel grant 
            application deadline</a></li>
            <li>March 15th, 2019: Abstract Review deadline</li>
            <li>March 18th, 2019: Notification of submission acceptance</li>
            <li>March 19th, 2019: <a href="https://iclr.cc/Register/view-registration">ICLR Early Reg Pricing Deadline</a>
                </li>
            <li>March 19th, 2019: <a href="https://iclr.cc/Register/view-registration">ICLR Reg Cancellation Deadline
            </a>
            </li>
            <li>May 7th, 2019: LXAI + BAI Workshop @ ICLR</li>
          </ul>
          <a class="project-link" href="https://iclr.cc/TravelApplication">Student & Postdoc Travel Grant 
              Application</a>
        </div>
      </div>
      
      <div>
        <h2>Submission Instructions</h2>
        <p>We strongly encourage students, post-docs and researchers who
        primarily identify as latinx and/or black in all areas of machine learning to submit
        an abstract describing new, previously, or concurrently published
        research. We welcome abstract submissions, in theory, methodology, as
        well as applications. Abstracts may describe completed research or
        work-in-progress. The presenting author need not be the first
        author of the work.</p>
        <p>Authors of accepted abstracts will be asked to present their work in
        a poster session. A few authors will be selected to give 15 minute oral
        presentations.  Submissions will be peer-reviewed.  Authors are
        encouraged to sign up to review for LXAI & BAI, with a sign-up option
        available upon submission.</p>
  
        <h3>Submission Guidelines</h3>
        <p>Submissions may be up to two pages including all figures and tables,
        with an additional page for references submitted as a link to a PDF.
        The submissions should be in a single column. They should be typeset
        using 11-point or larger fonts and should have at least 1-inch margin
        all around. Submissions that do not follow these guidelines risk being
        rejected without consideration of their merits. Submissions must state
        the research problem, motivation, and technical contribution.
        Submissions must be self-contained and include all figures, tables, and
        references.</p>
        <p>The submission deadline is <strong>11:59 PM (PST), March 8th,
        2019</strong>. Please note that no extensions will be offered for
        submissions.</p>
        <a class="project-link" href="/iclr-2019-apply">Submit Abstract</a>
      </div>
  
      <!--
      <hr>
      <div id="workshopProgram">
          <h2>Program</h2>
          <h3>Highlights</h3>
          <ul>
            <li>7:30 - 8:00 am | Check-In </li>
            <li>8:00 - 8:15 am | Opening Remarks</li>
            <li>8:15 - 9:00 am | Keynote</li>
            <li>9:00 - 11:00 am | Oral Presentations</li>
            <li>11:00 - 12:00 pm | Research Proposal Mentoring Hour & Poster Sessions</li>
            <li>12:00 - 1:00 pm | Lunch Break</li>
            <li>1:00 - 2:00 pm | Poster Sessions</li>
            <li>2:00 - 6:00 pm | Oral Presentations</li>
            <li>6:30 -7:30 pm | Networking & Roundtable Discussion</li>
          </ul>
          <a class="project-link" href="/iclr-2019-schedule">Detailed Schedule</a>
      </div>
      -->
  
      <hr>
      <div id="workshopSponsors">
        <h2>Sponsors</h2>
        <p>If you are interested in becoming a sponsor, please check out our
        <a href="/icml-2019-sponsor">Sponsor Prospectus</a>
        and send us message to <strong>lxai-bai-iclr-2019 at accel.ai</strong>
        and we will follow up with more information.</p>
  
        <a class="project-link" href="/iclr-2019-sponsor">Sponsor Prospectus</a>
  
        <!--
        <div class='icmlSponsorGallery'>
          <div class='sponsorList' id='platLevel'>
            <h3>Platinum</h3>
              <a target="_blank" href="https://ai.google/"><img src="./assets/img/ICML/Sponsors/Google_logo.png"></a>
          </div>
          <div class='sponsorList' id='silvLevel'>
            <h3>Silver</h3>
                <a target="_blank" href="https://deepmind.com/"><img src="./assets/img/ICML/Sponsors/DeepMind_logo.png"></a>
                <a target="_blank" href="https://www.capitalone.com/"><img src="./assets/img/ICML/Sponsors/Capital_One_logo.png"></a>
          </div>
          <div class='sponsorList' id='bronzLevel'>
            <h3>Bronze</h3>
                <img src="./assets/img/ICML/Sponsors/Nvidia_logo.png">
                <img src="./assets/img/ICML/Sponsors/intel_logo.png">
                <img src="./assets/img/ICML/Sponsors/facebook_logo.png">
          </div>
          <div class='sponsorList' id='supportLevel'>
            <h3>Supporter</h3>
                <img src="./assets/img/ICML/Sponsors/twitter.png">
                <img src="./assets/img/ICML/Sponsors/Linkedin_logo.png">
          </div>
        </div>
        <a class="project-link" href="/icml-2019-sponsor">Sponsor Prospectus</a>
        -->
      </div>
  
      <hr>
      <div id="workshop-org">
        <h3>Workshop Chairs</h3>
        <ul>
          <li>Laura Montoya, Executive Director, Accel AI Institute, Co-Chair
            Latinx in AI Coalition</li>
        <li>Pablo Samuel Castro, Senior AI Software Developer, Google</li>
        <li>Carlos Mendoza, PhD Candidate, University of Delaware</li>
        <li>Ralph Chery, EE & MBA</li>
        <li>Hameed Abdul, Research Assistant, USM</li>
        <li>Nasr Madi, Senior Research Developer, Nuance</li>
        <li>Lauren Pfeiffer, Investor, MGV and EE Student</li>
        </ul>
  
        
        <h3>Program Committee</h3>
        <!--
        <h4>Thanks to the following members of the Latinx in AI community and
        supportive allies for helping review the submissions.</h4>
        <ul>
           <li></li>
        </ul>
        -->
        Interested in becoming a reviewer? Join our Program Committee as a
        reviewer -- 
        <a class="project-link" href="/icml-2019-committee">Join Committee</a>
      </div>
  
      <!--
      <div id="icmlVolunteer">
        <hr>
        <h3>Volunteers Appreciated</h3>
        <p>Interested in volunteering with LatinX in AI during the event? Please
        complete the volunteer signup form: <a
          href="#">Coming up soon</a></p>
        <hr>
      </div>
      -->
  
  
      <div id="icmlLogistics">
        <h3>Logistics</h3>
        <details>
          <summary>Attending ICLR</summary>
          <p>Please notes that an abstract acceptance in this workshop and/or
          registration to attend this workshop does not guarantee access to ICLR. You
          have to register to attend ICLR separately (<a target='_blank'
            href="https://iclr.cc/Register/view-registration">
            https://iclr.cc/Register/view-registration</a>).
          </p>
  
          <p>As a result, we would like to inform you that ICLR registration
          will sell out quickly. If you are planning to attend ICLR, we want to
          encourage you to register now.  You can cancel your registration for
          a full refund until March 19th if you end up not being able to
          attend. (<a target='_blank'
            href="https://iclr.cc/Help/CancellationPolicy">
            https://iclr.cc/Help/CancellationPolicy</a>).
          </p>
  
          <p>We also encourage you to book your accommodation as the discounted
          room blocks are being filled up quickly.</p>
        </details>
  
        <details>
          <summary>Accommodations</summary>
          <p>You may take advantage of ICLR group hotel rates, provided <a
            target='_blank'
            href="https://iclr.cc/Conferences/2019/Hotels">here</a>. In the past,
          workshop participants have also used <a target='_blank'
            href="http://www.airbnb.com/">Airbnb</a> and <a target='_blank'
            href="https://www.google.com/maps?q=hostels+new+orleans&rlz=1C5CHFA_enUS787US787&um=1&ie=UTF-8&sa=X&ved=0ahUKEwiegc3Fic7gAhVnjlQKHZjoCvUQ_AUIDigB">
            hostels</a>.
          </p>
  
          <p>Hotel cancellation policy should be checked with the hotels.</p>
  
          <p>LXAI & BAI are not responsible for information provided on external
          websites.</p>
        </details>
  
        <details>
          <summary>More Visa Information</summary>
          <p>A visa invitation letter comes with the ICLR registration. If you
          don’t have the ICLR visa invitation letter, we can also provide you
          Invitation letters upon successful registration to this workshop.
          To know more about the appointment waiting times for interviews <a
            href="https://travel.state.gov/content/travel/en/us-visas/visa-information-resources/wait-times.html">check
            this page.</a> And for a list of waiting times per consulates in
          different latin countries <a
            href="https://docs.google.com/spreadsheets/d/19BISo7hf5W1QKnJ-Oj7jsBpYBLAMW4miYUUiwy5F_lM/edit?usp=sharing">check
            this google doc.</a>
          </p>
        </details>
      </div>
  
      <hr>
    </section>
  </div>
  
  