<div class="about-details">
    <h2> LatinX in AI at ICLR 2020 </h2>
    <section class="workshop-intro">
      <p>LatinX in AI (LXAI) is hosting a virtual social to connect LatinX identifying AI Researchers and Engineers around the International Conference on Learning Representations taking place April 26th -30th, 2020.
      </p>
  
      <img alt=""
           src="./assets/img/iclr/2020/Ethiopia.jpg"
           />
      
  
    </section>
    <h6>ICLR was planned to take place at Millennium Hall, Addis Ababa ETHIOPIA, but is now being hosted virtually in response to COVID-19 concerns.</h6>
  
    <section id="workshop-main">
      
    
      <a class="project-link"
          href="https://lxai-iclr-2020.eventbrite.com" target="_blank">REGISTRATION</a>
     
  
     
      <h2>Mission</h2>
      <p>Our mission is to increase representation of our communities at the main conference and create a platform allowing our members to share their work, gain access to mentoring, collaborations, and networking opportunities with other researchers in artificial intelligence. </p>
      
      <p>During the official LatinX in AI virtual gathering at the International Conference on Learning Representations (ICLR) 2020 we will highlight efforts by our community members and institutions using AI in response to the COVID-19 Virus Pandemic. The individuals involved in these efforts can be located anywhere in the world, but at least one member must primarily self-identify as LatinX.</p>
      <p><strong>If you would like to nominate yourself, an institution or member of the community for recognition, please do so here: <a target="_blank" href='https://forms.gle/FJrVrworKTBjxa2eA'>LXAI Community COVID-19 Highlight Nominations</a></strong></p>


      <h2>Mentors</h2>
      <p>LatinX in AI is hosting a new mentoring program alongside our official workshops. The LatinX in AI Mentoring Program requires mentor and mentees to meet once a month, premiering May 8th to the day of the workshop at ICML on July 13th, 2020. On this day, some mentees will be asked to share their experience and the learnings they obtained from the program.</p>

      <p><strong>Sign-up to be a mentor:</strong> <a target="_blank" href="https://forms.gle/esNHqvuzbnTNYvJd7">Mentor Signup</a></p>
      <p><strong>Sign-up to recieve mentoring:</strong> <a target="_blank" href="https://forms.gle/vXR9tkCPRuhd65MN7">Mentee Signup</a></p>

      <p>Following the completion of this program, you'll be asked to complete a quick survey about your experience and opportunities for our improvement. Mentors who complete the program and survey are eligible to receive a $25 gift card as a token of appreciation on behalf of LatinX in AI.</p>

      <div class="user-projects" id="call-workshop">
        <div class="images-right">
          <img alt="LXAI Logo" src="./assets/img/logo/LXAI-logo-black.png" />
        </div>
        <div class="contents">
          <h3>Important Dates</h3>
          <ul>
            <li>April 13th, 2020: <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScOH-h3cWL1MGRJfFXFidQ27rPqyO-USuL6zK3QXvEn9hb9vA/viewform">LXAI at ICLR Registation Assistance Application Deadline</a></li>
            <li>April 28th, 2020: <a target="_blank" href=''>[LatinX in AI Mentoring Program] Call for Mentors Deadline</a></li>
            <li>April 28th, 2020: <a target="_blank" href=''>[LatinX in AI Mentoring Program] Call for Mentees Deadline</a></li>
            <li>April 26th -30th, 2020: <a target="_blank" href="https://iclr.cc/">ICLR 2020</a></li>
            <li>April 27th, 2020: <a target="_blank" href='https://lxai-iclr-2020.eventbrite.com'>LXAI Virtual Social</a></li>
          </ul>
          <a class="project-link" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScOH-h3cWL1MGRJfFXFidQ27rPqyO-USuL6zK3QXvEn9hb9vA/viewform">LXAI ICLR Registration Assistance 
              Application</a>
        </div>
      </div>

      <br/><hr>
    <div id="workshopProgram">
        <h2>Schedule</h2>
        <ul>
          <li>12:00 pm PST | Opening Remarks </li>
          <li>12:15 pm PST | Towards High-performance Surrogate-robotics with David I. Gonzalez Aguirre</li>
          <li>1:00 pm PST | NLP Characterizing the COVID-19 epidemic with Juan Manuel Banda Orozco</li>
          <li>1:45 pm PST | Facilitated Discussion</li>
        </ul>  
    </div>

      <br/><hr>
    <!-- Keynote Grid Section -->
    <section id="speakers" >
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Keynote Speakers</h2>
            <h3 class="section-subheading text-muted"></h3>
          </div>
        </div>
        <div class="grid">
          {% assign featuredItems = site.tags.keynote-iclr2020 | sort: "featuredOrder" %} 
          {% for post in featuredItems %}
          <div class="cell speakers-item">
            <a href="{{post.website}}" target="_blank" class="speakers-link">
              <div class="speakers-hover">
                <div class="speakers-hover-content">
                  <p>{{post.topic}}</p>
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img src="/assets/img/iclr/2020/{{ post.img }}" class="responsive-image img-centered desaturate" alt="">
            </a>
            <div class="speakers-caption">
              <h4>{{ post.name }}</h4>
              <p class="text-muted">{{ post.title }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

      <hr>
      <div id="workshop-org">
        <h3>Organizing Committee</h3>
        <ul>
          <li>Laura Montoya, Executive Director, Accel AI Institute, Chair,
            Latinx in AI (LXAI)</li>
        <li>Javier Turek, Research Scientist in ML, Intel Labs</li>
        </ul>
      </div>
  </div>
  
  