<div class="about-details">
  <h2> Coalición LatinX en IA en ICML 2019 </h2>
  <section class="workshop-intro" >
    <p>Taller oficial de investigación de LXAI co-localizado con <a
      href="https://icml.cc/">ICML</a> en el <a
      href="https://www.google.com/maps/place/Long+Beach+Convention+%26+Entertainment+Center/@33.7652636,-118.1893385,15z/data=!4m2!3m1!1s0x0:0x69f1fff3cb508d42?sa=X&ved=0ahUKEwijh5Hp4oPQAhVW5WMKHdiPA78Q_BIIeTAN">
      Long Beach Convention Center</a> en Long Beach, CA el Lunes 10 de Junio
      de 2019.
    </p>

    <img alt="long beach"
         src="./assets/img/icml/Long-Beach-Convention-Center.jpg"
      />

  </section>

  <section id="workshop-main">
    <!--
    <h3>REGISTRATION OPEN</h3>
    <a class="project-link"
        href="https://latinx-in-ai-research-icml-2019.eventbrite.com">JOIN US</a>
    -->

    <hr>
    <h2>Llamado a Participar</h2>
    <p>
    El taller es un evento de un día con conferencistas invitados, presentaciones
    orales y posters. El evento reúne a profesores, estudiantes de posgrado,
    científicos investigadores e ingenieros para dar la oportunidad de hacer
    contactos e intercambiar ideas. Habrá una mesa redonda y una sesión de
    tutoría para analizar las tendencias de investigación actuales y las
    opciones de carreras en inteligencia artificial y aprendizaje automático. Si
    bien todos los presentadores se identificarán principalmente como latinx,
    todos están invitados a asistir.
    </p>
    <h4>Creando Oportunidades para LatinX en IA</h4>
    <div class="user-projects" id="call-workshop">
      <div class="images-right">
        <img alt="LXAI Logo" src="./assets/img/logo/LXAI-logo-black.png" />
      </div>
      <div class="contents">
        <h3>Fechas Importantes</h3>
        <ul>
          <li>Marzo 22, 2019: <a href="/icml-2019-travel">Becas de viaje</a> 
              - fecha límite</li>
          <li>Marzo 22, 2019: <a href="/icml-2019-apply">Envío de resúmen
              técnico</a> - fecha límite</li>
          <li><del>Marzo 11, 2019: <a href="/icml-2019-committee">Solicitud de
              membresía al comité técnico</a> - fecha límite</del></li>
          <li>Marzo 29, 2019: Revisión técnica - fecha límite</li>
          <li>Abril 1, 2019: Notificación de aceptación</li>
          <li>Abril 10, 2019: <a 
              href="https://travel.state.gov/content/travel/en/us-visas/tourism-visit/visitor.html">
              Aplicación para una visa</a> fecha límite</li>
          <li>Mayo 1, 2019: Registro al ICML inicia a las 8am</li>
          <li>Junio 14, 2019: Taller LXAI</li>
        </ul>
        <a class="project-link" href="/icml-2019-travel">Becas de viaje</a>
      </div>
    </div>
    
    <div>
      <h2>Instrucciones de Envío</h2>
      <p>Recomendamos a estudiantes, post-docs e investigadores en todas las áreas
      de inteligencia artificial que se identifican primordialmente como LatinX
      a presentar un resumen técnico mencionando publicaciones nuevas, previas,
      o que están siendo revisadas. Invitamos a los autores a que envíen
      resúmenes en las áreas de teoría, metodología, así como sus aplicaciones.
      Los resúmenes pueden referirse a trabajos terminados o en progreso. Dado
      que no es necesario que el primer autor sea quien presente el trabajo,
      recomendamos a los autores que resalten la contribución de las personas
      LatinX en el resúmen, especialmente en el caso que sean ellos quienes
      presenten el trabajo.</p>

      <p>En general, los trabajos aceptados serán presentados en una sesión de pósters.
      Habrá un número reducido de trabajos que serán seleccionados para que sus
      autores hagan una presentación oral de 15 minutos. Las propuestas serán
      revisadas por voluntarios de la comunidad. Invitamos a que los autores
      participen como voluntarios para revisar las propuestas para LatinX en IA,
      indicándolo así durante el proceso de envío de sus resúmenes.</p>
        
      <h3>Guía para Autores</h3>
      <p>
      Los trabajos enviados pueden tener hasta dos páginas, incluyendo todas las
      figuras y tablas, y con una página adicional para las referencias; envíe
      su trabajo como un archivo PDF. Las presentaciones deben estar en una sola
      columna. Deben estar compuestas por tipos de letra de 11 puntos y deben
      tener al menos un margen de 1 pulgada alrededor. Las presentaciones que
      no sigan estas pautas corren el riesgo de ser rechazadas sin
      consideración de sus méritos. Las presentaciones deben indicar el
      problema de investigación, la motivación y la contribución técnica. Las
      presentaciones deben ser independientes e incluir todas las figuras,
      tablas y referencias.</p>

      <p>El plazo para el envío finaliza a las <strong>11:59 p.m. EST, del 11 de
      Marzo de 2019.</strong> Tenga en cuenta que no se ofrecerán extensiones para
      los envíos.</p>
      <a class="project-link" href="/icml-2019-apply">Envío de resúmen</a>
    </div>

    <!--
    <hr>
    <div id="workshopProgram">
        <h2>Program</h2>
        <h3>Highlights</h3>
        <ul>
          <li>7:30 - 8:00 am | Check-In </li>
          <li>8:00 - 8:15 am | Opening Remarks</li>
          <li>8:15 - 9:00 am | Keynote</li>
          <li>9:00 - 11:00 am | Oral Presentations</li>
          <li>11:00 - 12:00 pm | Research Proposal Mentoring Hour & Poster Sessions</li>
          <li>12:00 - 1:00 pm | Lunch Break</li>
          <li>1:00 - 2:00 pm | Poster Sessions</li>
          <li>2:00 - 6:00 pm | Oral Presentations</li>
          <li>6:30 -7:30 pm | Networking & Roundtable Discussion</li>
        </ul>
        <a class="project-link" href="/icml-2019-schedule">Detailed Schedule</a>
    </div>
    -->

    <hr>
    <div id="workshopSponsors">
      <h2>Patrocinadores</h2>
      <p>
      Si estás interesado en convertirte en un patrocinador, consulta nuestro
      <a href="/icml-2019-sponsor">folleto</a> y envíanos un mensaje a
      <strong>lxai-icml-chairs-2019 arroba accel.ai</strong> y te enviaremos 
      más información.
      </p>

      <a class="project-link" href="/icml-2019-sponsor">Folleto para
        Patrocinadores</a>

      <!--
      <div class='icmlSponsorGallery'>
        <div class='sponsorList' id='platLevel'>
          <h3>Platinum</h3>
            <a target="_blank" href="https://ai.google/"><img src="./assets/img/ICML/Sponsors/Google_logo.png"></a>
        </div>
        <div class='sponsorList' id='silvLevel'>
          <h3>Silver</h3>
              <a target="_blank" href="https://deepmind.com/"><img src="./assets/img/ICML/Sponsors/DeepMind_logo.png"></a>
              <a target="_blank" href="https://www.capitalone.com/"><img src="./assets/img/ICML/Sponsors/Capital_One_logo.png"></a>
        </div>
        <div class='sponsorList' id='bronzLevel'>
          <h3>Bronze</h3>
              <img src="./assets/img/ICML/Sponsors/Nvidia_logo.png">
              <img src="./assets/img/ICML/Sponsors/intel_logo.png">
              <img src="./assets/img/ICML/Sponsors/facebook_logo.png">
        </div>
        <div class='sponsorList' id='supportLevel'>
          <h3>Supporter</h3>
              <img src="./assets/img/ICML/Sponsors/twitter.png">
              <img src="./assets/img/ICML/Sponsors/Linkedin_logo.png">
        </div>
      </div>
      <a class="project-link" href="/icml-2019-sponsor">Sponsor Prospectus</a>
      -->
    </div>

    <hr>
    <div id="workshop-org">
      <h3>Encargados del Taller</h3>
      <ul>
        <li><em>Encargado Ejecutivo-- </em> Elisa Celis, Assistant Professor, 
          Yale University</li>
        <li><em>Encargado de Diversidad e Inclusión -- </em> Omar U. Florez, 
          Senior Research Manager in AI, Capital One</li>
        <li><em>Encargado del Programa Técnico-- </em> Jorge Luis Guevara Diaz,
          Research Scientist, IBM Research</li>
        <li><em>Encargado de Operaciones-- </em> Elvis Saravia, Researcher, National
          Tsing Hua University</li>
        <li><em>Encargado de Patrocinio y Website-- </em> Pablo Rivas, Assistant
          Professor of Computer Science, Marist College</li>
        <li><em>Encargado de Finanzas-- </em> Javier Andres Orduz Ducuara, Doctor of
          Sciences, Universidad Nacional Autónoma de México</li>
        <li><em>Encargado de Visas-- </em> Javier Turek, Research Scientist in ML,
          Intel Labs</li>
        <li><em>Encargado de Relaciones Públicas-- </em> Xavier Sumba, Research
          Assistant, Concordia University</li>
      </ul>

      <h3>Consejo del Taller</h3>
      <ul>
        <li>Laura Montoya, Directora Ejecutiva, Accel AI Institute, Co-Encargado
          Latinx in AI Coalition</li>
        <li>Pablo Samuel Castro, Senior Research Software Developer,
          Google</li>
        <li>Omar U Florez, Senior Research Manager in AI, Capital One</li>
        <li>Jorge Penalva, CEO &amp; Cofounder lang.ai</li>
      </ul>
      
      <h3>Comité Técnico</h3>
      <h4>Agradecemos a los siguientes miembros de la comunidad LatinX en IA y
        a los aliados que nos ayudan a revisar los manuscritos enviados.</h4>
      <ul>
        <li>Alfredo Alejandro De la Fuente Briceño, Skolkovo Institute of Science and Technology</li>
        <li>Ariel Ruiz-Garcia, Arm / Coventry University</li>
        <li>Bahar Shahrokhian Ghahfarokhi, Arizona state university</li>
        <li>Diego Porres, Universidad del Valle de Guatemala</li>
        <li>Erika Guetti Suca, University of São Paulo</li>
        <li>Felipe Leno da Silva, University of Sao Paulo, BR</li>
        <li>Fernando Alva Manchego, University of Sheffield</li>
        <li>Flavio Figueiredo, UFMG</li>
        <li>Gilberto Ochoa Ruiz, Universidad Autonoma de Guadalajara</li>
        <li>Gonzalo Barrientos, Clyde &amp; Co.</li>
        <li>Hiram Ponce, Universidad Panamericana</li>
        <li>Isabela Albuquerque, Institut National de la Recherche Scientifique</li>
        <li>Ivan Vladimir Meza Ruiz, Instituto de Investigaciones en Matemáticas Aplicadas y en Sistemas, Universidad Nacional Autónoma de México</li>
        <li>Javier Andrés Orduz-Ducuara, UNAM</li>
        <li>Javier Turek, Intel Labs</li>
        <li>Jorge Ortiz, Rutgers University</li>
        <li>Jorge Pérez, Universidad de Chile</li>
        <li>Jose Lugo-Martinez, Carnegie Mellon University</li>
        <li>Lisette Espín Noboa, GESIS &amp; Uni. Koblenz-Landau</li>
        <li>Mario Banuelos, California State University, Fresno</li>
        <li>Miguel Alonso Jr, Florida International University</li>
        <li>Nils Murrugarra-Llerena, University of Pittsburgh</li>
        <li>Omar U. Florez, Capital One</li>
        <li>Pablo Fonseca, Mila</li>
        <li>Pablo Moriano, Indiana University</li>
        <li>Pablo Rivas, Marist College</li>
        <li>Pablo Robles-Granda, University of Notre Dame</li>
        <li>Sanaz Bahargam, Twitter</li>
        <li>Sergio Martin del Campo Barraza, Luleå University of Technology</li>
        <li>Shruti Jadon, Brown University(Rhode Island Hospital)</li>
        <li>Shuai Tang, University of California, San Diego</li>
        <li>Sufeng Niu, Linkedin</li>
        <li>Vinay PRABHU, UnifyID</li>
      </ul>
      <!--
      ¿Interesado en ser revisor técnico? Únete a nuestro Comité Técnico como 
      revisor. -- 
      <a class="project-link" href="/icml-2019-committee">Aplica al Comité
        Técnico</a>
      -->
    </div>

    <!--
    <div id="icmlVolunteer">
      <hr>
      <h3>Volunteers Appreciated</h3>
      <p>Interested in volunteering with LatinX in AI during the event? Please
      complete the volunteer signup form: <a
        href="#">Coming up soon</a></p>
      <hr>
    </div>
    -->


    <div id="icmlLogistics">
      <h3>Logística</h3>
      <details>
        <summary>Asistiendo al ICML</summary>
        <p>
        Por favor tomen en cuenta que un resumen aceptado en LXAI y/o
        inscripción para asistir a LXAI no garantiza acceso a ICML. Uno debe
        inscribirse a ICML por separado
        (<a target='_blank' href="https://icml.cc/Register/view-registration">
            https://icml.cc/Register/view-registration</a>).
        </p>

        <p>
        Por ende, quisieramos recordarle que ICML tiene un cupo limitado y que
        se agota rápidamente. Si está planeando asistir a ICML, les
        recomendamos registrarse lo antes posible. Puede cancelar su
        inscripción con reembolso completo hasta el 27 de mayo si es que
        decide a la final no puede asistir. (<a target='_blank'$                                            
           href="https://icml.cc/Help/CancellationPolicy">
           https://icml.cc/Help/CancellationPolicy</a>).
        </p>

        <p>Además, le recomendamos reservar su hospedaje rápidamente, ya que los
        bloques de cuartos con descuento se agotan rápidamente.</p>
      </details>

      <details>
        <summary>Hospedaje</summary>
        <p>Puede aprovechar de las tarifas de grupo de ICML <a
          target='_blank'
          href="https://icml.cc/Conferences/2019/Hotels">aquí</a>.
          Anteriormente, los participantes de workshops también han utilizado, 
          <a target='_blank'
          href="http://www.airbnb.com/">Airbnb</a> y <a target='_blank'
          href="https://www.google.ca/search?dcr=0&ei=_Q8bW5GrM8uizwKonrqgCQ&q=hostels+long+beach&oq=hostels+long+beach&gs_l=psy-ab.3..35i39k1j0l3j0i22i30k1l6.1687.2182.0.2251.8.6.0.0.0.0.160.535.2j3.5.0....0...1.1.64.psy-ab..3.5.534...0i20i263i264k1j0i10k1.0.qZOLn7nI-XE">
          hostels</a>.
        </p>

        <p>La política de cancelación de reservas debe ser verificada con el
        hotel directamente.</p>

        <p>LXAI no es responsable de información proporcionada en sitios web
        externos.</p>
      </details>

      <details>
        <summary>Visas</summary>
        <p>Una carta de invitación para tramitar la visa será incluída con la
        inscripción a NIPS. Si no tienen la carta de invitación de NIPS,
        nosotros podríamos enviarles cartas de invitación luego de inscribirse
        al workshop LatinX en IA. Puede encontrar más información acerca de los
        tiempos de espera para la visa  <a
          href="https://travel.state.gov/content/travel/en/us-visas/visa-information-resources/wait-times.html">en
          esta página.</a> Y para conocer tiempos específicos en diversos
        consulados en américal latina <a
          href="https://docs.google.com/spreadsheets/d/19BISo7hf5W1QKnJ-Oj7jsBpYBLAMW4miYUUiwy5F_lM/edit?usp=sharing">consulte
          este google doc.</a>
        </p>
      </details>
    </div>

    <hr>
  </section>
</div>

