<div class="about-details">
        <h2> Latinx in AI Coalition at ICML 2019 </h2>
        <section id="goals" style="text-align: center;">
          <p>The Official LXAI Research Workshop is co-located with <a href="https://icml.cc/">ICML</a> at the <a href="https://www.google.com/maps/place/Long+Beach+Convention+%26+Entertainment+Center/@33.7652636,-118.1893385,15z/data=!4m2!3m1!1s0x0:0x69f1fff3cb508d42?sa=X&ved=0ahUKEwijh5Hp4oPQAhVW5WMKHdiPA78Q_BIIeTAN">Long Beach Convention Center</a> in Long Beach, CA on Monday, June 10th, 2019.</p>
          <img alt="long beach" src="./assets/img/icml/Long-Beach-Convention-Center.jpg" style="max-width: 1000px;">
        </section>
</div>