<div class="nips-schedule">
   <ul class="main">
      <li class="date">
        <h3>Lunes</h3>
        <h3>10 de Junio</h3>
        <p>Programa del Evento
        en el <u>Seaside Ballroom</u></p>
      </li>
      <li class= "events">
        <ul class="events-detail">
          <li>
            <span class="event-time">8:30am - 9:00am</span>
            <span class="event-name">Check-in & Cafecito</span>
            <br />
            <span class="event-location"><u>Seaside Ballroom</u> en el Long Beach Convention Center</span>
          </li>
          
          <li>
            <span class="event-time">9:00am - 9:15am</span>
            <span class="event-name">Inauguración</span>
            <br />
            <span class="event-info">Presentado por Elisa Celis, Ph.D., Yale University</span>
            <br />
            <span class="event-location"><u>Seaside Ballroom</u> en el Long Beach Convention Center</span>
          </li>
          <li>
            <span class="event-time">9:15am - 10:15am</span>
            <span class="event-name"><em>Conf. Magistral:</em> Bianca Zadrozny, IBM</span>
            <br />
            <span class="event-info">Machine Learning for Subsurface
              Characterization</span>
            <br />
            <span class="event-location"><u>Seaside Ballroom</u> en el Long Beach Convention Center</span>
          </li>
          <li>
            <span class="event-time">10:15am - 11:00am</span>
            <span class="event-name">Panel de la Industria</span>
            <br />
             <span class="event-info">Moderador: Pablo Rivas, Ph.D., Marist
             College</span>
            <br />
            <span class="event-location"><u>Seaside Ballroom</u> en el Long Beach Convention Center</span>
          </li>
          <li>
            <span class="event-time">11:00am - 11:10am</span>
            <span class="event-name">Omar U Florez,
              Capital One</span>
            <br />
            <span class="event-info"><em>Presentación:</em> Learning with Small Data</span>
            <br />
            <span class="event-location"><u>Seaside Ballroom</u> en el Long Beach Convention Center</span>
          </li>
          <li>
            <span class="event-time">11:10am - 11:20am</span>
            <span class="event-name">Robert A. Aduviri,
              Pontifical Catholic University of Peru</span>
            <br />
            <span class="event-info"><em>Presentación:</em> Towards
              Disentangled Representations via Variational Sparse Coding</span>
            <br />
            <span class="event-location"><u>Seaside Ballroom</u> en el Long Beach Convention Center</span>
          </li>
          <li>
            <span class="event-time">11:20am - 11:30am</span>
            <span class="event-name">Jhosimar Arias Figueroa, University of
              Campinas</span>
            <br />
            <span class="event-info"><em>Presentación:</em> Semi-supervised
               Learning using Deep Generative Models and Metric Embedding
               Auxiliary Task</span>
            <br />
            <span class="event-location"><u>Seaside Ballroom</u> en el Long Beach Convention Center</span>
          </li>
          <li>
            <span class="event-time">11:30am - 11:40am</span>
            <span class="event-name">Rosa Yuliana Gabriela Paccotacya Yanque,
              Universidad Nacional de San Agustin de Arequipa</span>
            <br />
            <span class="event-info"><em>Presentación:</em> Multivariate Time
              Series Visualization for Sleep Electroencephalograms</span>
            <br />
            <span class="event-location"><u>Seaside Ballroom</u> en el Long Beach Convention Center</span>
          </li>
          <li>
            <span class="event-time">11:40am - 11:50am</span>
            <span class="event-name">Jonathan Nicolet, Universidad Nacional de
              Entre Rios</span>
            <br />
            <span class="event-info"><em>Presentación:</em> Classification of
              atrial electrograms in atrial fibrillation using Information
              Theory-based measures</span>
            <br />
            <span class="event-location"><u>Seaside Ballroom</u> en el Long Beach Convention Center</span>
          </li>
          <li>
            <span class="event-time">11:50am - 12:00pm</span>
            <span class="event-name">Rodrigo Rill-Garcia, INAOE</span>
            <br/>
            <span class="event-info"><em>Presentación:</em> High-level Features
              for Multimodal Deception Detection in Videos</span>
            <br/>
            <span class="event-location"><u>Seaside Ballroom</u> en el Long Beach Convention Center</span>
          </li>
          <li>
            <span class="event-time">12:00pm - 1:30pm</span>
            <span class="event-name"><em>Conferencia y Comida:</em> David Castillo,
              Capital One</span>
            <br/><a href='icml-2019-presenters'>
            <span class="event-info">Comida patrocinada y <u>sesión de posters</u></span>
            <br/>
            <span class="event-location">Proceda a ver los <strong><u>posters</u></strong> 
              después de la comida</span>
            </a>
          </li>
          <li>
            <span class="event-time">1:30pm - 2:30pm</span>
            <span class="event-name"><em>Conf. Magistral:</em> Eduardo Escobar
              Gutiérrez, National Planning Department, Colombia</span>
            <br />
            <span class="event-info">Applying data analytics to support
              planning and public policies in Colombia</span>
            <br />
            <span class="event-location"><u>Seaside Ballroom</u> en el Long Beach Convention Center</span>
          </li>
          <li>
            <span class="event-time">2:30pm - 2:40pm</span>
            <span class="event-name">David Ramirez, Princeton University</span>
            <br />
            <span class="event-info"><em>Presentación:</em> SafePredict: A 
              Machine Learning Meta-Algorithm That Uses Refusals to Guarantee 
              Correctness</span>
            <br />
            <span class="event-location"><u>Seaside Ballroom</u> en el Long Beach Convention Center</span>
          </li>
          <li>
            <span class="event-time">2:40pm - 2:50pm</span>
            <span class="event-name">Maria Pantoja, CalPoly San Luis Obispo</span>
            <br />
            <span class="event-info"><em>Presentación:</em> AI for
              Agriculture: Estimate Vigor on California Vineyards for 
              Precision Agriculture</span>
            <br />
            <span class="event-location"><u>Seaside Ballroom</u> en el Long Beach Convention Center</span>
          </li>
          <li>
            <span class="event-time">2:50pm - 3:00pm</span>
            <span class="event-name">Clayder A Gonzalez, Universidad de Chile</span>
            <br />
            <span class="event-info"><em>Presentación:</em> An improved feature
              extractor for the LiDAR Odometry and Mapping algorithm</span>
            <br />
            <span class="event-location"><u>Seaside Ballroom</u> en el Long Beach Convention Center</span>
          </li>
          <li>
            <span class="event-time">3:00pm - 3:10pm</span>
            <span class="event-name">Julio Cesar Mendoza Bobadilla, University
              of Campinas</span>
            <br />
            <span class="event-info"><em>Presentación:</em> Learning Attention
              Maps for Unsupervised Depth Estimation in Monocular Videos</span>
            <br />
            <span class="event-location"><u>Seaside Ballroom</u> en el Long Beach Convention Center</span>
          </li>
          <li>
            <span class="event-time">3:10pm - 3:45pm</span>
            <span class="event-name">Receso y Cafecito</span>
            <br />
            <span class="event-location"><u>Seaside Ballroom</u> en el Long Beach Convention Center</span>
          </li>
          <li>
            <span class="event-time">3:45pm - 4:45pm</span>
            <span class="event-name"><em>Conf. Magistral:</em> Katia Canepa Vega, UC Davis</span>
            <br />
            <span class="event-info">When skin meets technology</span>
            <br />
            <span class="event-location"><u>Seaside Ballroom</u> en el Long Beach Convention Center</span>
          </li>
          <li>
            <span class="event-time">4:45pm - 5:00pm</span>
            <span class="event-name">Clausura</span>
            <br />
            <span class="event-info">Elisa Celis, Ph.D., Yale University</span>
            <br />
            <span class="event-location"><u>Seaside Ballroom</u> en el Long Beach Convention Center</span>
          </li>
          <li>
            <span class="event-time">5:00pm - 6:00pm </span>
            <span class="event-name">LXAI Sesión de Mentoría</span>
            <br />
            <span class="event-location"><u>Seaside Ballroom</u> en el Long Beach Convention Center</span>
          </li>
          <li>
            <span class="event-time">6:00pm - 7:30pm </span>
            <span class="event-name">ICML Recepción de Bienvenida</span>
            <br />
            <span class="event-location"><u>Seaside Ballroom</u> en el Long Beach Convention Center</span>
          </li>
        </ul>  
      </li>      
    </ul>  
</div>
