<div class="about-details" style="font-size: 18px">
  <h2> LatinX in AI Research at ICML 2020 </h2>
  <section class="workshop-intro" id="workshop-intro" style="color: black">
    <p>The LXAI Workshop at <a
      href="https://icml.cc/">ICML</a> will be hosted virtually on Monday, July 13th, 2020.
    </p>
    <img style="width: 100%; height: auto;" alt="venue"  src="./assets/img/icml/2020/venue.jpg" />
    <br>
      <small style="font-size: 60%; color: #555555;">
          ICML was planned to take place at the Messe Wien Exhibition & Congress Center in Vienna, Austria
          but is now being hosted virtually in response to COVID-19 concerns.
      </small>
  </section>

  <section id="workshop-main" style="color: black">
<!--      <a class="project-link" href="-->
<!--      https://docs.google.com/document/d/1mm1x5Y-mFeyCXn-BlF3JB3xc1pkzW0vTnCZWAlCEaUM/edit?usp=sharing-->
<!--      ">Read The Participant FAQ</a>-->
    <h3>REGISTRATION OPEN</h3>
<!--    <p>To attend the LXAI workshop, please <a-->
<!--      href="https://lxai-icml-2020.eventbrite.com/" target="_blank">register for the-->
<!--      ICML tutorial</a> day. <strong>Note:</strong> registration for the full-->
<!--    conference is optional, and registration for the tutorials is refundable if-->
<!--    you are unable to make it. Please register by May 19th to secure the-->
<!--    early-bird pricing, and (if applicable) upload your student ID for a-->
<!--    discount. After registering for ICML click the 'Join Us' button to register-->
<!--    for our event so that we can have a headcound, your information and any-->
<!--    special needs.</p>-->
      <p>To attend the LXAI workshop, please register in our following Eventbrite page:
          <a class="btn_icml20-blue" href="https://lxai-icml-2020.eventbrite.com/" target="_blank">JOIN US</a>
  
    <hr>

    <div class="user-projects" id="call-workshop">
        <h2>Call for Participation</h2>
        <p>The workshop is a one-day event with invited speakers, oral
            presentations, and posters. The event brings together faculty, graduate
            students, research scientists, and engineers for an opportunity to connect
            and exchange ideas. There will be a panel discussion and a mentoring
            session to discuss current research trends and career choices in artificial
            intelligence and machine learning. While all presenters will identify
            primarily as latinx, all are invited to attend.</p>
      <div class="contents">
        <h3>Important Dates</h3>
          <br><strong style="color: red; text-decoration: line-through;">Update: Deadlines for calls were extended to May 11th. See below.</strong>
        <ul>
            <li style="text-decoration: line-through;"><strong>April 20th,  2020:</strong> <a href="https://icml.cc/Register2"> Registration</a> to conference opens</li>
            
            <li style="text-decoration: line-through;"><strong>April 28th, 2020:</strong> [LatinX Mentoring Program]
            <a target="_blank" href=" https://docs.google.com/forms/d/e/1FAIpQLSd5Mz___3G3jVOxoTbvCPv8SIn_jTpoXzzUxTknO1gjQUuiQA/viewform?usp=sf_link
">Call for Mentees</a> Deadline</li>
            <li style="text-decoration: line-through;"><strong>May 6th, 2020:</strong> [LatinX Mentoring Program]
                <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScaw0QMM9DWMKUxak4Z96AiIUlP-9kVRfnqijtemP1p05tqCA/viewform?usp=sf_link">
                    Call for Mentors</a> Deadline</li>
            <li style="text-decoration: line-through;"><strong>May 11th, 2020:</strong> <a href="https://cmt3.research.microsoft.com/LXAIICML2020">Abstract submission</a> deadline</li>
            <li style="text-decoration: line-through;"><strong>May 11th, 2020:</strong> <a href="https://forms.gle/wLQZuRuka1eVcta2A">Program Committee application</a> deadline</li>
            <li style="text-decoration: line-through;"><strong>May 13th,  2020:</strong> [LatinX Mentoring Program] Notification of Acceptance</li>
            <li style="text-decoration: line-through;"><strong>May 18th,     2020:</strong> Abstract Review deadline</li>
            <li style="text-decoration: line-through;"><strong>May 18th,     2020:</strong> LatinX in AI Mentoring Program Starts</li>
            <li style="text-decoration: line-through;"><strong>May 20th,     2020:</strong> Notification of submission acceptances</li>
            <li style="text-decoration: line-through;"><strong>June 1st, 2020:</strong> <a href="https://docs.google.com/forms/d/e/1FAIpQLSea2oNqG6Hq6Y-CufgPeJ-v9gg4Y0aKzqqxnmq3X839wCpCAg/viewform" target="_blank">
                Registration Assistance application</a> deadline
            <li style="text-decoration: line-through;"><strong>June 5th, 2020:</strong>    Deadline to send presentation materials
            <li style="text-decoration: line-through;"><strong>June 12th, 2020:</strong> <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSe7P1oZ2eP-LvXv-vpvIlSmawNXBjtSyfvY_84goiWwUcdBlw/viewform">Call for volunteers</a> deadline</li>
            <li><strong>July 13th,   2020:</strong> LXAI Workshop</li>
            <li><strong>July 13th,   2020:</strong> LatinX in AI Mentoring Program Ends</li>
            
        </ul>
      </div>
    </div>

    <div id="submit-workshop">
      <h2>Submission Instructions</h2>
      <p>
          We strongly encourage students, post-docs and researchers who primarily identify as latinx in all areas of
          machine learning to submit an abstract describing new, work-in-progress, previously published,
          or concurrently published research. We welcome abstract submissions in theory, methodology, and applications.
          While the presenting author needs not be the first author of the work, we encourage authors to highlight the
          contribution of latinx individuals — particularly the presenting author — in the abstract.
          While the event focuses primarily on researchers who identify as latinx, everyone is invited to attend.
          Authors are also encouraged to sign up to review for LXAI, with a sign-up option available upon submission.
      </p>
      <p>
          Submissions will be double-blind peer-reviewed and may be up to two pages including all figures and tables,
          with an additional page for references submitted as a PDF. The submissions should strictly follow
          the guidelines provided by the
          <a target="_blank" href="https://icml.cc/Conferences/2020/StyleAuthorInstructions">ICML 2020 Style Template</a>
          to avoid the risk of being rejected without consideration of their merits. Submissions must state the research
          problem, motivation, and technical contribution. Submissions must be self-contained and include all figures,
          tables, and references. Authors of accepted abstracts will be asked to present their work in a poster session.
          A few authors will be selected to give 10–15 minute oral presentations.
      </p>

      <p>
          The submission deadline is <strong>April 18th, 2020 Anywhere on Earth</strong>.
          Please note that no extensions will be offered for submissions.
      </p>
      <a class="btn_icml20-blue" target="_blank" href="https://cmt3.research.microsoft.com/LXAIICML2020">Submit Abstract</a>
    </div>


    <hr style="margin-top: 20px;">
    <div class="user-projects" id="MentoringProgram">
        <h2>Mentoring Program</h2>
        <p>
            LatinX in AI is hosting a new mentoring program alongside our official workshops.
            The LatinX in AI Mentoring Program requires mentor and mentees to meet once a month, premiering May 1st to the day of the workshop at ICML on July 13th, 2020.
            On this day, some mentees will be asked to share their experience and the learnings they obtained from the program.
        </p>
        <p>
            Sign-up to be a mentor: <a class="btn_icml20-green" href="https://docs.google.com/forms/d/e/1FAIpQLScaw0QMM9DWMKUxak4Z96AiIUlP-9kVRfnqijtemP1p05tqCA/viewform">
            Mentor Signup</a>
        </p>
        <p>
            Sign-up to recieve mentoring: <a class="btn_icml20-green" href="https://docs.google.com/forms/d/e/1FAIpQLSd5Mz___3G3jVOxoTbvCPv8SIn_jTpoXzzUxTknO1gjQUuiQA/viewform">
            Mentee Signup</a>
        </p>
        <p>
            Following the completion of this program, you'll be asked to complete a quick survey about your experience and opportunities for our improvement.
            Mentors who complete the program and survey are eligible to receive a $25 gift card as a token of appreciation on behalf of LatinX in AI.
        </p>
    </div>

    <hr style="margin-top: 20px;">
    <div class="user-projects" id="workshopSponsors" style="color: black">
      <h2>Sponsors</h2>
      <p>If you are interested in becoming a sponsor, please
<!--      <a href="/icml-2020-sponsor">Sponsor Prospectus</a>-->
          send us message to <strong>latinxinai at accel dot ai</strong>
      and we will follow up with more information.</p>

<!--      <a class="project-link" href="/icml-2019-sponsor">Sponsor Prospectus</a>-->


      <div class='icmlSponsorGallery'>
        <div class='sponsorList' id='platLevel'>
          <h3>Platinum</h3>
            <a target="_blank" href="https://ai.google/"><img width=865
            src="./assets/img/icml/2020/sponsors/Platinum-Google.png"></a>
        </div>

        <div class='sponsorList' id='silvLevel'>
          <h3>Silver</h3>
          <a target="_blank" href="https://www.apple.com/"><img width=130
            src="./assets/img/icml/2020/sponsors/Silver-Apple.png"></a>
        </div>

        <div class='sponsorList' id='bronzLevel'>
          <h3>Bronze</h3>
          <br/>
          <a target="_blank" href="https://www.snap.com/en-US/"><img width=80
            src="./assets/img/icml/2020/sponsors/Bronze-Snap.jpg"></a>
        </div>
      </div>
    </div>

    <hr>
    <div id="workshopProgram" style="color: black">
        <h2>Program</h2>
        <h4 style="color: red;">Times are in Eastern Daylight Time (EDT)</h4>
        <div align="center">
            <style type="text/css">
                .tg  {border-collapse:collapse;border-spacing:0;}
                .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
                    overflow:hidden;padding:10px 5px;word-break:normal;}
                .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
                    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
                .tg .tg-qn4q{background-color:#93C47D;font-size:16px;text-align:center;vertical-align:bottom}
                .tg .tg-0121{background-color:#6D9EEB;font-size:16px;text-align:center;vertical-align:bottom}
                .tg .tg-tlru{background-color:#A2C4C9;font-size:16px;text-align:center;vertical-align:bottom}
                .tg .tg-79vr{background-color:#741B47;color:#FFF;font-size:16px;text-align:center;vertical-align:bottom}
                .tg .tg-0y8e{background-color:#FFF2CC;font-size:16px;text-align:center;vertical-align:bottom}
                .tg .tg-h2tm{background-color:#D5A6BD;font-size:16px;text-align:center;vertical-align:bottom}
                .tg .tg-pfmh{background-color:#EA9999;color:#45494E;font-size:16px;text-align:center;vertical-align:bottom}
                .tg .tg-bzgp{background-color:#B4A7D6;color:#45494E;font-size:16px;text-align:center;vertical-align:bottom}
                .tg .tg-mcmo{background-color:rgb(137, 251, 185);color:#45494E;font-size:16px;text-align:center;vertical-align:bottom}
                .tg .tg-m2f7{background-color:#EA9999;color:#45494E;font-size:16px;text-align:center;vertical-align:top}
            </style>
            <table class="tg">
                <thead>
                <tr>
                    <th class="tg-79vr"><span style="font-weight:bold;color:#FFF;background-color:#741B47">Time</span></th>
                    <th class="tg-79vr" colspan="3"><span style="font-weight:bold;color:#FFF;background-color:#741B47">Event</span></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">07:30 AM</span></td>
                    <td class="tg-pfmh" colspan="3"><span style="font-weight:normal;color:#45494E;background-color:#EA9999">Online Check-in</span></td>
                </tr>
                <tr>
                    <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">08:00 AM</span></td>
                    <td class="tg-bzgp" colspan="3"><span style="font-weight:normal;color:#45494E;background-color:#B4A7D6">Opening Remarks &amp; + MC</span></td>
                </tr>
                <tr>
                    <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">08:15 AM</span></td>
                    <td class="tg-qn4q" colspan="3"><span style="font-weight:bold;background-color:#93C47D">Keynote 1: Anna Reali</span></td>
                </tr>
                <tr>
                    <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">08:45 AM</span></td>
                    <td class="tg-0121" colspan="3"><span style="background-color:#6D9EEB">Oral Presentation (5)</span></td>
                </tr>
                <tr>
                    <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">09:35 AM</span></td>
                    <td class="tg-0121" colspan="3"><span style="background-color:#6D9EEB">Oral Presentation: Q&amp;A</span></td>
                </tr>
                <tr>
                    <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">09:45 AM</span></td>
                    <td class="tg-0y8e" colspan="3"><span style="background-color:#FFF2CC">Break 1</span></td>
                </tr>
                <tr>
                  <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">09:55 AM</span></td>
                  <td class="tg-mcmo" colspan="3"><span style="font-weight:normal;color:#45494E;background-color:rgb(137, 251, 185)">Master of ceremonies</span></td>
              </tr>
                <tr>
                    <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">10:00 AM</span></td>
                    <td class="tg-qn4q" colspan="3"><span style="font-weight:bold;background-color:#93C47D">Keynote 2: Tommas Laurenzo</span></td>
                </tr>
                <tr>
                    <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">10:30 AM</span></td>
                    <td class="tg-qn4q" colspan="3"><span style="background-color:#93C47D">Keynote Speakers: Q&amp;A + MC</span></td>
                </tr>
                <tr>
                    <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">10:40 AM</span></td>
                    <td class="tg-0121" colspan="3"><span style="background-color:#6D9EEB">Poster Presentation (8)</span></td>
                </tr>
                <tr>
                    <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">11:20 AM</span></td>
                    <td class="tg-0121" colspan="3"><span style="background-color:#6D9EEB">Poster Presentation: Q&amp;A</span></td>
                </tr>
                <tr>
                    <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">11:35 AM</span></td>
                    <td class="tg-pfmh" colspan="3"><span style="font-weight:normal;color:#45494E;background-color:#EA9999">Lunch / Sponsors Booths</span></td>
                </tr>
                <tr>
                  <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">12:25 PM</span></td>
                  <td class="tg-mcmo" colspan="3"><span style="font-weight:normal;color:#45494E;background-color:rgb(137, 251, 185)">Master of ceremonies</span></td>
              </tr>
                <tr>
                    <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">12:30 PM</span></td>
                    <td class="tg-qn4q" colspan="3"><span style="font-weight:bold;background-color:#93C47D">Keynote 3: Rogerio Feris</span></td>
                </tr>
                <tr>
                    <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">01:00 PM</span></td>
                    <td class="tg-0121" colspan="3"><span style="background-color:#6D9EEB">Oral Presentation (5)</span></td>
                </tr>
                <tr>
                    <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">01:50 PM</span></td>
                    <td class="tg-0121" colspan="3"><span style="background-color:#6D9EEB">Oral Presentation: Q&amp;A + MC</span></td>
                </tr>
                <tr>
                    <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">02:00 PM</span></td>
                    <td class="tg-0121" colspan="3"><span style="background-color:#6D9EEB">Poster Presentation (8)</span></td>
                </tr>
                <tr>
                    <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">02:40 PM</span></td>
                    <td class="tg-0121" colspan="3"><span style="background-color:#6D9EEB">Poster Presentation: Q&amp;A</span></td>
                </tr>
                <tr>
                    <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">02:50 PM</span></td>
                    <td class="tg-0y8e" colspan="3"><span style="background-color:#FFF2CC">Break 2</span></td>
                </tr>
                <tr>
                  <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">03:05 PM</span></td>
                  <td class="tg-mcmo" colspan="3"><span style="font-weight:normal;color:#45494E;background-color:rgb(137, 251, 185)">Master of ceremonies</span></td>
              </tr>
                <tr>
                    <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">03:10 PM</span></td>
                    <td class="tg-qn4q" colspan="3"><span style="font-weight:bold;background-color:#93C47D">Keynote 4: Paco Guzman</span></td>
                </tr>
                <tr>
                    <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">03:40 PM</span></td>
                    <td class="tg-qn4q" colspan="3"><span style="background-color:#93C47D">Keynote speakers: Q&amp;A + MC</span></td>
                </tr>
                <tr>
                    <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">03:50 PM</span></td>
                    <td class="tg-tlru" colspan="2"><span style="font-weight:normal;background-color:#A2C4C9">Research Mentoring Hour + MC</span></td>
                    <td class="tg-m2f7" rowspan="3">Sponsors Booths</td>
                </tr>
                <tr>
                    <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">04:50 PM</span></td>
                    <td class="tg-bzgp" colspan="2"><span style="font-weight:normal;color:#45494E;background-color:#B4A7D6">Closing Remarks</span></td>
                </tr>
                <tr>
                    <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">05:00 PM</span></td>
                    <td class="tg-pfmh" colspan="2"><span style="font-weight:normal;color:#45494E;background-color:#EA9999">Poster Session</span></td>
                </tr>
                <tr>
                  <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">07:00 PM</span></td>
                  <td class="tg-0y8e" colspan="3"><span style="background-color:#FFF2CC">Break 3</span></td>
              </tr>
                <tr>
                    <td class="tg-h2tm"><span style="font-weight:normal;background-color:#D5A6BD">07:15 PM</span></td>
                    <td class="tg-pfmh" colspan="3"><span style="font-weight:normal;color:#45494E;background-color:#EA9999">Social Gathering</span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <a class="btn_icml20-blue" href="/icml-2020-schedule">Detailed Schedule</a>
    </div>


    <br/><hr>
    <section id="speakers" >
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Keynote Speakers</h2>
            <h3 class="section-subheading text-muted"></h3>
          </div>
        </div>
        <div class="grid">
          {% assign featuredItems = site.tags.keynote-icml2020 | sort: "featuredOrder" %}
          {% for post in featuredItems %}
          <div class="cell speakers-item">
<!--            <a href="{{post.website}}" target="_blank" class="speakers-link">-->
<!--              <div class="speakers-hover">-->
<!--&lt;!&ndash;                <div class="speakers-hover-content">&ndash;&gt;-->
<!--&lt;!&ndash;                  <p>{{post.topic}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="fa fa-plus fa-3x"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--              </div>-->
<!--&lt;!&ndash;              <img src="/assets/img/icml/2020/presenters/{{ post.img }}" class="responsive-image img-centered desaturate" alt="">&ndash;&gt;-->
<!--            </a>-->
              <a href="{{post.website}}" target="_blank" >
                <img src="/assets/img/icml/2020/presenters/{{ post.img }}" class="responsive-image img-centered" alt="">
              </a>
<!--            <div class="speakers-caption">-->
<!--              <h4>{{ post.name }}</h4>-->
<!--              <p class="text-muted">{{ post.title }}</p>-->
<!--            </div>-->
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

  

    <hr>
    <div  id="workshop-org">

      <h2 style="text-align: center">Organizers</h2>

      <h3>Workshop Chairs</h3>
      <ul>
        <li><em>General & Logistics Co-Chairs --</em> Nils Murrugarra (Snap Inc.), Ivan Arraut (The Open University of Hong Kong)</li>
        <li><em>Program Committee Co-Chairs --</em> Juan M. Banda (Georgia State University) and Leonel Rozo (Bosch Center for AI) </li>
        <li><em>Sponsor & Finance Co-Chairs --</em> Leobardo Morales (IBM) and Fabian Latorre (EPFL Lausanne)</li>
        <li><em>Presentation & Careers Chair --</em> Karla Caballero Barajas (Pandora)</li>
        <li><em>Volunteer & Mentoring Chair --</em> Pedro Magalhães Braga (Universidade Federal de Pernambuco)</li>
        <li><em>Visa Chair --</em> Walter Mayor Toro (Universidad Autónoma De Occidente)</li>
        <li><em>Website Chair --</em> Kevin  Bello (Purdue University)</li>
        <li><em>Public Relations Chair --</em> Angela Flores-Saravia (Chung Hua University)</li>
      </ul>
    
      
      <h3>Workshop Advisors</h3>

      <ul>
        <li>Laura Montoya, Executive Director, Accel AI Institute, Co-Chair Latinx in AI Coalition</li>
        <li>Pablo Samuel Castro, Senior Research Software Developer, Google</li>
        <li>Matias Valdenegro, Researcher, German Research Center for Artificial Intelligence</li>
        <li>Miguel Alonso Jr, Associate Professor (Visiting) of Computer Science, Florida International University</li>
        <li>Felipe Leno de Silva, Postdoc, Advanced Institute for Artificial Intelligence</li>
        <li>Juan Gamboa Higuera, PhD student, McGill University</li>
      </ul>

      <h3>Program Committee</h3>
      <h4 style="font-size: inherit;">
          Thanks to the following members of the Latinx in AI community and supportive
          allies for helping review the submissions.
      </h4>
        <table>
            <tr><td><strong>Name</strong></td><td></td><td> <strong>Affiliation</strong> </td></tr>
            <tr><td>Gilberto Ochoa-Ruiz</td><td></td><td>Tecnologico de Monterrey</td></tr>
            <tr><td>Xavier Sumba</td><td></td><td>Concordia University / Heyday / McGill</td></tr>
            <tr><td>Leonardo Neves</td><td></td><td>Snap Inc.</td></tr>
            <tr><td>Neil Shah</td><td></td><td>Snap Inc.</td></tr>
            <tr><td>Shruti Jadon</td><td></td><td>Juniper Networks Inc.</td></tr>
            <tr><td>Tong Zhao</td><td></td><td>Snap Inc.</td></tr>
            <tr><td>Haruna Abdu</td><td></td><td>Federal University Lokoja</td></tr>
            <tr><td>Matias Valdenegro-Toro</td><td></td><td>German Research Center for Artificial Intelligence</td></tr>
            <tr><td>Pedro Henrique Magalhães Braga</td><td></td><td>Universidade Federal de Pernambuco</td></tr>
            <tr><td>CJ Barberan</td><td></td><td>Rice University</td></tr>
            <tr><td>Nils Murrugarra-Llerena</td><td></td><td>Snap Inc.</td></tr>
            <tr><td>Jorge Valverde-Rebaza</td><td></td><td>Visibilia</td></tr>
            <tr><td>Sergio Hernan Garrido Mejia</td><td></td><td>Danmarks Tekniske University</td></tr>
            <tr><td>Isabela Albuquerque</td><td></td><td>Institut National de la Recherche Scientifique</td></tr>
            <tr><td>Mario Banuelos</td><td></td><td>California State University Fresno</td></tr>
            <tr><td>Kuheli Sai</td><td></td><td>University of Pittsburgh</td></tr>
            <tr><td>Alfredo Alejandro De La Fuente Briceño</td><td></td><td>Schlumberger Software Technology Innovation Center</td></tr>
            <tr><td>Clayder Gonzalez Cadenillas</td><td></td><td>Universidad Nacional de Trujillo</td></tr>
            <tr><td>Rafael Soares Padilha</td><td></td><td>University of Campinas</td></tr>
            <tr><td>Laura Isabel Galindez Olascoaga</td><td></td><td>KU Leuven</td></tr>
            <tr><td>Gladys Marleny Hilasaca</td><td></td><td>Dalhousie University</td></tr>
            <tr><td>Jorge Munoz</td><td></td><td>The University of Texas at El Paso</td></tr>
            <tr><td>Diana Mabel Diaz Herrera</td><td></td><td>University of Illinois at Chicago</td></tr>
            <tr><td>Roberto Valerio</td><td></td><td>Amazon</td></tr>
            <tr><td>Dennis Hernando Núñez Fernández</td><td></td><td>Universidad Peruana Cayetano Heredia</td></tr>
            <tr><td>Ricardo Marcacini</td><td></td><td>University of São Paulo</td></tr>
            <tr><td>Diego Furtado Silva</td><td></td><td>Universidade Federal de São Carlos</td></tr>
            <tr><td>Roberta Akemi Sinoara</td><td></td><td>Instituto Federal de São Paulo</td></tr>
            <tr><td>Darwin Danilo Saire Pilco</td><td></td><td>University of Campinas</td></tr>
            <tr><td>Javier Turek</td><td></td><td>Intel Labs</td></tr>
            <tr><td>Ronnie Alves</td><td></td><td>Instituto Tecnológico Vale</td></tr>
            <tr><td>Rafael Giusti</td><td></td><td>Federal University of Amazonas</td></tr>
            <tr><td>Lourdes Ramirez Cerna</td><td></td><td>National University of Trujillo</td></tr>
            <tr><td>Cesar A. Uribe</td><td></td><td>MIT</td></tr>
            <tr><td>Fatemehsadat Mireshghallah</td><td></td><td>UC San Diego</td></tr>
            <tr><td>Camilo Thorne</td><td></td><td>Elsevier</td></tr>
            <tr><td>Krystal A Maughan</td><td></td><td>University of Vermont</td></tr>
            <tr><td>Heitor Medeiros</td><td></td><td>Universidade Federal de Pernambuco</td></tr>
            <tr><td>Ruben Glatt</td><td></td><td>Lawrence Livermore National Laboratory</td></tr>
            <tr><td>David R Martinez</td><td></td><td>MIT Lincoln Laboratory and MIT</td></tr>
            <tr><td>Maria Pantoja</td><td></td><td>California Polytechnic State University</td></tr>
            <tr><td></td></tr>
        </table>

      
<!--      <p>Interested in becoming a reviewer? Join our Program Committee as a-->
<!--      reviewer  -->
<!--&lt;!&ndash;      <a class="project-link" href="/icml-2019-committee">Join Committee</a>&ndash;&gt;-->
<!--        <a  href="">Join Committee</a>-->
<!--      </p>-->
<!--        <p>-->
<!--            Interested in serving as a reviewer?  Join our Program Committee as a reviewer by filling up this form:-->
<!--            <a class="btn_icml20-green" target="_blank" href="https://forms.gle/wLQZuRuka1eVcta2A">PC form</a>.-->
<!--        </p>-->
    </div>

    
<!--    <div id="workshopVolunteer" style="color: black">-->
<!--      <hr>-->
<!--      <h3>Volunteers Appreciated</h3>-->
<!--      <p>Interested in volunteering with LatinX in AI during the event? Please-->
<!--      complete the volunteer signup form <a-->
<!--        href="">here.</a></p>-->
<!--    </div>-->

    <hr>
    <div id="workshopLogistics">
      <h2>Logistics</h2>
        
      <details>
        <summary>Attending ICML</summary>
        <p>Please note that an abstract acceptance in LXAI and/or
        registration to attend LXAI does not guarantee access to ICML. You
        have to register to attend ICML separately (<a target='_blank'
          href="https://icml.cc/Register/view-registration">
          ICML registration</a>).
        </p>

        <p>As a result, we would like to inform you that ICML registration
        will sell out quickly. If you are planning to attend ICML, we want to
        encourage you to register now.  You can cancel your registration for
        a full refund until June 29th if you end up not being able to
        attend. (<a target='_blank'
          href="https://icml.cc/Help/CancellationPolicy">
          cancellation policy</a>).
        </p>

        <p>We also encourage you to book your accommodation as the discounted
        room blocks are being filled up quickly.</p>
      </details>

      <details>
        <summary>Accommodations</summary>
        <p>You may take advantage of ICML group hotel rates, provided <a
          target='_blank'
          href="https://icml.cc/Conferences/2020/Hotels">here</a>. In the past,
        workshop participants have also used <a target='_blank'
          href="http://www.airbnb.com/">Airbnb</a> and hostels.
        </p>

        <p>Hotel cancellation policy should be checked with the hotels.</p>

        <p>LXAI is not responsible for information provided on external
        websites.</p>
      </details>

      <details>
        <summary>Visa Information</summary>
        <p>A visa invitation letter comes with the ICML registration. If you
        don’t have the ICML visa invitation letter, we can also provide you
        invitation letters upon successful registration to the LXAI workshop.
        To know more about visa procedures please visit the Austrian Embassy
            <a target='_blank' href="https://www.austria.org/visa-application">webpage</a>.
        </p>
      </details>

<!--      <details>-->
<!--        <summary>Child Care Available</summary>-->
<!--        <p>KiddieCorp is pleased to provide a children’s program during the-->
<!--        June 2019 ICML Conference. All participants requesting child care -->
<!--        should fill out <a-->
<!--          href="https://www.jotform.com/KiddieCorp/icmlkids">this form</a> -->
<!--        and mention "LatinX in AI participant" in the "additional -->
<!--        information box" by 10 May 2019 to reserve a spot.-->
<!--        </p>-->
<!--      </details>-->
    </div>

    <hr>
  </section>
</div>

